HIE_CDS_A/Workflows/AMR-Flow-AMRApprovalProcess-792DE1F5-12C8-EA11-A812-000D3A7FEDBE.json
{"properties":{"connectionReferences":{"shared_approvals":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ApprovalConnectionReference"},"api":{"name":"shared_approvals"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnAMR"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnOffice365Outlook"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"AMR_Submit_for_Approval":{"metadata":{"operationMetadataId":"7209cdd7-153c-4629-a06c-ddedb12f34eb"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_accountmanagementrecord","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_submitamrforapproval","subscriptionRequest/filterexpression":"leidos_submitamrforapproval eq true","subscriptionRequest/name":"792de1f5-12c8-ea11-a812-000d3a7fedbe"},"authentication":"@parameters('$authentication')"}}},"actions":{"Run_a_Child_Flow":{"runAfter":{"Get_Required_Data":["Succeeded"]},"metadata":{"operationMetadataId":"3e63d485-d2c4-4363-833b-6dedafbefd89"},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/leidos_accountmanagementrecordid']","EntityType_Value":"leidos_accountmanagementrecord"}}},"Start_and_wait_for_an_approval_from_Area_Office_Manager_7_Day_Timeout":{"runAfter":{"Run_a_Child_Flow":["Succeeded"]},"limit":{"timeout":"P7D"},"metadata":{"operationMetadataId":"fb73f9b8-3f74-41f9-8bb0-88f1ce0b3a02"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Approve into Client Engagement","Reject into Client Engagement","Defer Decision on  Client Engagement"],"WebhookApprovalCreationInput/title":"Request for decision on Client Engagement for @{outputs('Get_Account')?['body/name']} ","WebhookApprovalCreationInput/assignedTo":"@{outputs('Get_Area_manager_User_Record')?['body/internalemailaddress']};","WebhookApprovalCreationInput/details":"### Request  for Approval into Client Engagement ###\n#### Account : @{outputs('Get_Account')?['body/name']} #####\n\nProposed Segmentation:  @{outputs('Get_Proposed_Segmentation')?['body/leidos_name']}  \nAreas of Intervention : @{triggerOutputs()?['body/leidos_areasforpotentialhieintervention']} \nAssessment: @{triggerOutputs()?['body/leidos_accountmanagementassessment']}\n\n","WebhookApprovalCreationInput/itemLink":"@outputs('Run_a_Child_Flow')?['Body']?['entityurl']","WebhookApprovalCreationInput/itemLinkDescription":"Link to Client Engagement Record","WebhookApprovalCreationInput/requestor":"@outputs('Get_Requestor')?['body/internalemailaddress']","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Switch":{"runAfter":{"Start_and_wait_for_an_approval_from_Area_Office_Manager_7_Day_Timeout":["Succeeded"]},"cases":{"Approve_into_Client_Engagement":{"case":"Approve into Client Engagement","actions":{"Update_AMR_record_on_Approved":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","recordId":"@triggerOutputs()?['body/leidos_accountmanagementrecordid']","item/leidos_AreaManagerApprovalBy@odata.bind":"/systemusers(@{outputs('Get_Area_manager_User_Record')?['body/systemuserid']})","item/leidos_areamanagerapprovalon":"@utcNow()","item/leidos_businessreviewreminderdate":"@addDays(utcNow(), 365)","item/leidos_amrstartdate":"@utcNow()","item/ownerid@odata.bind":"/systemusers(@{triggerOutputs()?['body/_leidos_suggestedaccountmanager_value']})","item/statuscode":445260000},"authentication":"@parameters('$authentication')"}},"Update_Account_Record_for_Status_and_New_Owner":{"runAfter":{"Get_Suggested_AM_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Account')?['body/accountid']","item/ownerid@odata.bind":"/systemusers(@{outputs('Get_Suggested_AM_Record')?['body/systemuserid']})","item/statuscode":445260001},"authentication":"@parameters('$authentication')"}},"Set_variable_2":{"runAfter":{"Get_Suggested_AM_Record":["Succeeded"]},"type":"SetVariable","inputs":{"name":"owner Email Address","value":"@outputs('Get_Suggested_AM_Record')?['body/internalemailaddress']"}},"Get_Suggested_AM_Record":{"runAfter":{"Update_AMR_record_on_Approved":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_leidos_suggestedaccountmanager_value']"},"authentication":"@parameters('$authentication')"}}}},"Reject_into_Client_Engagement":{"case":"Reject into Client Engagement","actions":{"Update_Account_on_Reject":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Account')?['body/accountid']","item/statecode":0,"item/statuscode":1},"authentication":"@parameters('$authentication')"}},"Update_AMR_to_Rejected":{"runAfter":{"Update_Account_on_Reject":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","recordId":"@triggerOutputs()?['body/leidos_accountmanagementrecordid']","item/statecode":1,"item/statuscode":445260001},"authentication":"@parameters('$authentication')"}}}},"Defer_Decision_on__Client_Engagement":{"case":"Defer Decision on  Client Engagement","actions":{"Update_Account_to_reset_the_Submit_option":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","recordId":"@triggerOutputs()?['body/leidos_accountmanagementrecordid']","item/statuscode":1,"item/leidos_submitamrforapproval":false},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@outputs('Start_and_wait_for_an_approval_from_Area_Office_Manager_7_Day_Timeout')?['body/outcome']","metadata":{"operationMetadataId":"ab6d9156-9c35-425f-b9ba-66e5ce12ca64"},"type":"Switch"},"Create_Task":{"foreach":"@outputs('Start_and_wait_for_an_approval_from_Area_Office_Manager_7_Day_Timeout')?['body/responses']","actions":{"Create_a_new_record":{"runAfter":{},"metadata":{"operationMetadataId":"98f47f7d-e25c-4c8c-9aa2-78227d865739"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"tasks","item/subject":"Decision made on Client Engagement recommendation","item/description":"Delegated Authority: @{items('Create_Task')?['responder/displayName']}\nDelegated Authority Decision: @{outputs('Start_and_wait_for_an_approval_from_Area_Office_Manager_7_Day_Timeout')?['body/outcome']}\nDelagated Authority Comments: @{items('Create_Task')?['comments']}\nDecision Date : @{formatDateTime(utcNow(), 'dd/MM/yyyy')}\n\nProposed Segmantation:  @{outputs('Get_Proposed_Segmentation')?['body/leidos_name']}  \nAreas of Intervention : @{triggerOutputs()?['body/leidos_areasforpotentialhieintervention']} \nAssesment: @{triggerOutputs()?['body/leidos_accountmanagementassessment']}","item/regardingobjectid_account_task@odata.bind":"/accounts(@{outputs('Get_Account')?['body/accountid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Switch":["Succeeded"]},"metadata":{"operationMetadataId":"74fed6da-f1d4-4944-bf5d-ddeff760d1f6"},"type":"Foreach"},"Create_Email":{"foreach":"@outputs('Start_and_wait_for_an_approval_from_Area_Office_Manager_7_Day_Timeout')?['body/responses']","actions":{"Send_an_email_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"110a9995-baf6-4618-8279-863f092a1226"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@variables('owner Email Address')","emailMessage/Subject":"Decision made on Client Engagement recommendation","emailMessage/Body":"<p>Delegated Authority Name: @{items('Create_Email')?['responder/displayName']}<br>\nDelegated Authority Decision: @{outputs('Start_and_wait_for_an_approval_from_Area_Office_Manager_7_Day_Timeout')?['body/outcome']}<br>\nDelegated Authority Comments: @{items('Create_Email')?['comments']}<br>\n<br>\n <a href=\"@{outputs('Run_a_Child_Flow')?['Body']?['entityurl']}\">Client Engagement Record Link</a>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Switch":["Succeeded"]},"metadata":{"operationMetadataId":"ee843aed-1a26-4bd8-8afc-4d35589f8bf0"},"type":"Foreach"},"Get_Required_Data":{"actions":{"Get_Proposed_Segmentation":{"runAfter":{},"metadata":{"operationMetadataId":"0c6f8c78-e825-4f6a-ad1a-8e6da5342293"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_segmentations","recordId":"@triggerOutputs()?['body/_leidos_proposedsegmentation_value']"},"authentication":"@parameters('$authentication')"}},"Get_Account":{"runAfter":{"Get_Proposed_Segmentation":["Succeeded"]},"metadata":{"operationMetadataId":"a5fcc6f9-4993-415f-917f-29a4fed563e2"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_leidos_parentaccount_value']"},"authentication":"@parameters('$authentication')"}},"Get_Area_Office":{"runAfter":{"Get_Account":["Succeeded"]},"metadata":{"operationMetadataId":"942cfb42-c7de-45dc-9306-a3d513e163bd"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_areaoffices","recordId":"@outputs('Get_Account')?['body/_leidos_areaoffice_value']"},"authentication":"@parameters('$authentication')"}},"Get_a_Account_Current_Owner":{"runAfter":{"Get_Account":["Succeeded"]},"metadata":{"operationMetadataId":"e15a1efa-7a74-4020-aa36-632ef6450698"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Account')?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Set_variable":{"runAfter":{"Get_a_Account_Current_Owner":["Succeeded"]},"metadata":{"operationMetadataId":"ec10aefd-c25f-4b03-a733-178c13274fff"},"type":"SetVariable","inputs":{"name":"owner Email Address","value":"@outputs('Get_a_Account_Current_Owner')?['body/internalemailaddress']"}},"Get_Requestor":{"runAfter":{"Get_Account":["Succeeded"]},"metadata":{"operationMetadataId":"23238f3c-7518-45f3-a2ff-6b7ea6d06d17"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_leidos_approvalrequestedby_value']"},"authentication":"@parameters('$authentication')"}},"Get_Area_Manager_to_Approve":{"runAfter":{"Get_Account":["Succeeded"]},"metadata":{"operationMetadataId":"0dc739a0-143b-4595-bbe7-6dc04a7e1df9"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_areamanager_value']"},"authentication":"@parameters('$authentication')"}},"Get_Area_manager_User_Record":{"runAfter":{"Get_Area_Manager_to_Approve":["Succeeded"]},"metadata":{"operationMetadataId":"95928715-1a09-446e-bf0e-edcd386859d6"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Area_Manager_to_Approve')?['body/_leidos_userrecord_value']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Owner_Email__Address":["Succeeded"]},"metadata":{"operationMetadataId":"0326c6eb-f774-473f-9089-b8b4d0803c5e"},"type":"Scope"},"Update_AMR_to_Pending_Approval":{"runAfter":{"Get_Required_Data":["Succeeded"]},"metadata":{"operationMetadataId":"2b20c050-f7d9-4ffa-ae84-12fff992ff6b"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","recordId":"@triggerOutputs()?['body/leidos_accountmanagementrecordid']","item/statecode":0,"item/statuscode":445260003,"item/leidos_submittedon":"@utcNow()"},"authentication":"@parameters('$authentication')"}},"Update_Account_to_Proposed":{"runAfter":{"Get_Required_Data":["Succeeded"]},"metadata":{"operationMetadataId":"8f7a2e03-7453-4130-86a3-403b48799386"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Account')?['body/accountid']","item/statuscode":445260000},"authentication":"@parameters('$authentication')"}},"Owner_Email__Address":{"runAfter":{},"metadata":{"operationMetadataId":"b8eacf61-94f7-4be0-994b-d740ca63ac15"},"type":"InitializeVariable","inputs":{"variables":[{"name":"owner Email Address","type":"string"}]}},"Scope":{"actions":{"Update_Account_to_reset_the_Submit_option_2":{"runAfter":{},"metadata":{"operationMetadataId":"00e5de4c-d011-4552-bd8f-4066d8db353a"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","recordId":"@triggerOutputs()?['body/leidos_accountmanagementrecordid']","item/leidos_AreaManagerApprovalBy@odata.bind":"@null","item/statuscode":1,"item/leidos_submitamrforapproval":false},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_2":{"runAfter":{"Update_Account_to_reset_the_Submit_option_2":["Succeeded"]},"metadata":{"operationMetadataId":"86545cba-964c-4a2a-8c53-cb93d1d48a73"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@variables('owner Email Address')","emailMessage/Subject":"Request for AMR Approval for @{triggerOutputs()?['body/leidos_name']} has timed out","emailMessage/Body":"<p>The Approval request for acceptance into Account management for @{outputs('Get_Account')?['body/name']} has timed out. &nbsp;Please check the approver is available and resend.<br>\n<br>\n@{outputs('Run_a_Child_Flow')?['Body']?['entityurl']}</p>"},"authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Send_an_email_(V2)_2":["Succeeded"]},"metadata":{"operationMetadataId":"653004d5-a88f-4e74-8245-a6739aacbf51"},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}},"runAfter":{"Start_and_wait_for_an_approval_from_Area_Office_Manager_7_Day_Timeout":["TimedOut"]},"metadata":{"operationMetadataId":"6f0e2831-cfd7-4959-8840-b5f492eb0f40"},"type":"Scope"},"Run_if_Data_Failure":{"actions":{"Update_AMT_to_allow_re_submission":{"runAfter":{},"metadata":{"operationMetadataId":"2740470d-7a4c-40e7-aa5a-909d2fd083e5"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","recordId":"@triggerOutputs()?['body/leidos_accountmanagementrecordid']","item/leidos_submitamrforapproval":false},"authentication":"@parameters('$authentication')"}},"Get_Owner":{"runAfter":{"Update_AMT_to_allow_re_submission":["Succeeded"]},"metadata":{"operationMetadataId":"6bd10d16-be92-4130-999e-bbd5e7cca81a"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_3":{"runAfter":{"Get_Owner":["Succeeded"]},"metadata":{"operationMetadataId":"1dfc9b18-d1c1-4b08-8b02-6e5f37df1d51"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_Owner')?['body/internalemailaddress']","emailMessage/Subject":"AMR Approval Process Failed - @{triggerOutputs()?['body/leidos_amrreference']}","emailMessage/Body":"<p>The process to Submit an AMR for Approval has failed. &nbsp;Please check for the completeness of the data, and contact support if necessary.</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Required_Data":["Failed"]},"metadata":{"operationMetadataId":"4f1a7c12-44e2-4820-85bd-6701437d006d"},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}