HIE_CDS_A/Workflows/Claim-Flow-NotifyonBankDetailsEntered-7C7C7DDE-FC75-EB11-A812-002248414CC3.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnClaim"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnOutlook2"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"FinanceTeam_EmailAddress (leidos_FinanceTeam_EmailAddress)":{"defaultValue":"cds.admin@hiedigitalnonprod.onmicrosoft.com","type":"String","metadata":{"schemaName":"leidos_FinanceTeam_EmailAddress"}}},"triggers":{"When_a_row_is_created,_updated_or_deleted":{"metadata":{"operationMetadataId":"1bf9c045-150c-4cf9-8303-97922e243783"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_claim","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_submittedfromportal,leidos_claimsubmitteddate","subscriptionRequest/filterexpression":"leidos_submittedfromportal eq true and leidos_claimsubmitteddate ne null","subscriptionRequest/runas":3,"subscriptionRequest/name":"7c7c7dde-fc75-eb11-a812-002248414cc3"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{"Get_Account":{"runAfter":{},"metadata":{"operationMetadataId":"90d4c6ae-31a2-4350-9ca3-e9c6bbb56b03"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_leidos_parentaccount_value']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"get_Claim_URL":["Succeeded"]},"metadata":{"operationMetadataId":"2202ff9a-d504-4a6f-b2fa-b23c87738ad0"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@parameters('FinanceTeam_EmailAddress (leidos_FinanceTeam_EmailAddress)')","emailMessage/Subject":"@{outputs('Get_Account')?['body/name']} : New Bank Details","emailMessage/Body":"<p>New bank details have been entered for @{outputs('Get_Account')?['body/name']} as part of Claim @{triggerOutputs()?['body/leidos_claimreference']}<br>\n<br>\nRecord Link:  <a href=\"@{outputs('get_Claim_URL')?['Body']?['entityurl']}\">@{triggerOutputs()?['body/leidos_claimreference']}</a>\n<br>\n</p>"},"authentication":"@parameters('$authentication')"}},"get_Claim_URL":{"runAfter":{"Get_Account":["Succeeded"]},"metadata":{"operationMetadataId":"75f01145-d99c-4409-92d6-d8e5b128fcf3"},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/leidos_claimid']","EntityType_Value":"leidos_claim"}}}},"runAfter":{},"else":{"actions":{"Terminate":{"runAfter":{},"metadata":{"operationMetadataId":"fb16a2a0-9e9c-41a4-a946-c9109c142e8c"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"equals":["@triggerOutputs()?['body/leidos_enternewbankdetails']","@true"]},"metadata":{"operationMetadataId":"5bdfdcd7-c7b3-493c-a619-0f5658acbefc"},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}