HIE_CDS_A/Workflows/PipelineProgramme-Flow-SubmitISAforApproval-8795BE78-0B20-EB11-A813-000D3A7FEDBE.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "leidos_ConnPipelineProgramme"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_approvals_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "leidos_Approvals"
        },
        "api": {
          "name": "shared_approvals"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "leidos_ConnOffice365Outlook"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "leidos_ConnOutlook2"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Pipeline_Program_Submit_ISA": {
          "metadata": {
            "operationMetadataId": "8081ee28-9ef9-4680-bb82-1ca7e51a8298"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "leidos_pipelineprogramme",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "leidos_submitisa",
              "subscriptionRequest/filterexpression": "leidos_submitisa eq true"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_data_": {
          "actions": {
            "Get_DA_Table": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b55c8f0f-3256-4cfd-8fa0-4d7ad7f97919"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "leidos_delegatedauthorityapprovaltables",
                  "recordId": "@triggerOutputs()?['body/_leidos_delegatedauthority_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_DA_user_Record": {
              "runAfter": {
                "Get_DA_Table": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7944a8f2-31c0-4813-a70f-0c927ec3159f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "recordId": "@outputs('Get_DA_Table')?['body/_leidos_userrecord_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Entity_URL": {
              "runAfter": {
                "Get_Programme_from_BPF_Route": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "20a757ab-11a1-4f97-9078-c1f339e20c85"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "b0db1a8a-c449-ea11-a812-000d3a0ba151"
                },
                "body": {
                  "EntityId_Inputs": "@triggerOutputs()?['body/leidos_pipelineprogrammeid']",
                  "EntityType_Value": "leidos_pipelineprogramme"
                }
              }
            },
            "Get_Submitted_By_User_Record": {
              "runAfter": {
                "Get_DA_user_Record": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f78b9eef-b86c-4926-b672-15f87a86af30"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "recordId": "@triggerOutputs()?['body/_leidos_approvalsubmittedby_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Programme_owner": {
              "runAfter": {
                "Get_Submitted_By_User_Record": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f7817b55-906d-4ebb-8126-85de11758bbc"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "recordId": "@triggerOutputs()?['body/_ownerid_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "List_Programme_via_BPF": {
              "runAfter": {
                "Get_Programme_owner": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1c507244-8d93-4620-869b-a0f72026dc27"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "leidos_programmes",
                  "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"true\" >\n  <entity name=\"leidos_programme\" >\n    <attribute name=\"leidos_programmeid\" />\n    <link-entity name=\"leidos_bpfpipelineprogramme\" from=\"bpf_leidos_programmeid\" to=\"leidos_programmeid\" link-type=\"inner\" alias=\"ac\" >\n      <link-entity name=\"leidos_pipelineprogramme\" from=\"leidos_pipelineprogrammeid\" to=\"bpf_leidos_pipelineprogrammeid\" link-type=\"inner\" alias=\"ad\" >\n        <filter type=\"and\" >\n          <condition attribute=\"leidos_pipelineprogrammeid\" operator=\"eq\" value=\"@{triggerOutputs()?['body/leidos_pipelineprogrammeid']}\" />\n        </filter>\n      </link-entity>\n    </link-entity>\n  </entity>\n</fetch>",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_ProgrammeID_from_Array": {
              "runAfter": {
                "List_Programme_via_BPF": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b1aa2da3-a271-49ce-9842-270b5ecc5e9d"
              },
              "type": "Compose",
              "inputs": "@first(outputs('List_Programme_via_BPF')?['body/value'])?['leidos_programmeid']"
            },
            "Get_Programme_from_BPF_Route": {
              "runAfter": {
                "Get_ProgrammeID_from_Array": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "38e640b5-e6df-408c-b261-74949cb0e036"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "leidos_programmes",
                  "recordId": "@outputs('Get_ProgrammeID_from_Array')"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "ba4fad1a-4a6e-42d2-ac47-6bbb383ed1f5"
          },
          "type": "Scope"
        },
        "Update_Pipeline_Programme_to_Submitted": {
          "runAfter": {
            "Get_data_": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1a951462-a8ea-4196-9e44-9ffa9a877146"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "leidos_pipelineprogrammes",
              "recordId": "@triggerOutputs()?['body/leidos_pipelineprogrammeid']",
              "item/leidos_isaapprovalrequestedon": "@utcNow()",
              "item/statecode": 1,
              "item/statuscode": 2
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Start_and_wait_for_an_approval": {
          "runAfter": {
            "Get_data_": [
              "Succeeded"
            ]
          },
          "limit": {
            "timeout": "P3D"
          },
          "metadata": {
            "operationMetadataId": "a2865cd6-45ff-480c-ae9d-e5c75af6eeec"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_approvals_1",
              "operationId": "StartAndWaitForAnApproval",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
            },
            "parameters": {
              "approvalType": "CustomResponse",
              "WebhookApprovalCreationInput/responseOptions": [
                "Approve Pipeline Programme",
                "Reject Pipeline Programme",
                "Defer Pipeline Programme"
              ],
              "WebhookApprovalCreationInput/title": "Request for Pipeline Programme Decision for    @{triggerOutputs()?['body/leidos_name']}",
              "WebhookApprovalCreationInput/assignedTo": "@{outputs('Get_DA_user_Record')?['body/internalemailaddress']};",
              "WebhookApprovalCreationInput/details": "### ISA Decision request for Pipeline Programme ###\n \n- Programme Title: @{triggerOutputs()?['body/leidos_name']}\n- Anticipated Total Programme Costs: £@{triggerOutputs()?['body/leidos_anticipatedprogrammecost']}\n- Anticipated HIE Gross Funding: £@{triggerOutputs()?['body/leidos_anticipatedhiefunding']}\n- ISA Document :  [Document Link ](@{triggerOutputs()?['body/leidos_initialstrategicassessmentlink']})\n- Recommendation: @{if(triggerOutputs()?['body/leidos_recommendation'],'Approve','Reject')}\n ",
              "WebhookApprovalCreationInput/itemLink": "@outputs('Get_Entity_URL')?['Body']?['entityurl']",
              "WebhookApprovalCreationInput/itemLinkDescription": "@triggerOutputs()?['body/leidos_name']",
              "WebhookApprovalCreationInput/requestor": "@{outputs('Get_Submitted_By_User_Record')?['body/internalemailaddress']};",
              "WebhookApprovalCreationInput/enableNotifications": true,
              "WebhookApprovalCreationInput/enableReassignment": true
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Switch": {
          "runAfter": {
            "Start_and_wait_for_an_approval": [
              "Succeeded"
            ]
          },
          "cases": {
            "Approve": {
              "case": "Approve Pipeline Programme",
              "actions": {
                "Approve_": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "leidos_pipelineprogrammes",
                      "recordId": "@triggerOutputs()?['body/leidos_pipelineprogrammeid']",
                      "item/leidos_isaapprovedon": "@utcNow()",
                      "item/leidos_isadecisionoutcome": 445260000,
                      "item/statecode": 1,
                      "item/statuscode": 445260000
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Update_Programme": {
                  "runAfter": {
                    "Approve_": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "leidos_programmes",
                      "recordId": "@outputs('Get_Programme_from_BPF_Route')?['body/leidos_programmeid']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              }
            },
            "Reject": {
              "case": "Reject Pipeline Programme",
              "actions": {
                "Reject": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "leidos_pipelineprogrammes",
                      "recordId": "@triggerOutputs()?['body/leidos_pipelineprogrammeid']",
                      "item/leidos_isadecisionoutcome": 445260001,
                      "item/statecode": 1,
                      "item/statuscode": 445260002
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Update_Programme_to_Rejected": {
                  "runAfter": {
                    "Reject": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "leidos_programmes",
                      "recordId": "@outputs('Get_Programme_from_BPF_Route')?['body/leidos_programmeid']",
                      "item/statecode": 1,
                      "item/statuscode": 445260005
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              }
            },
            "Defer": {
              "case": "Defer Pipeline Programme",
              "actions": {
                "Defer": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "leidos_pipelineprogrammes",
                      "recordId": "@triggerOutputs()?['body/leidos_pipelineprogrammeid']",
                      "item/leidos_isadecisionoutcome": 445260002,
                      "item/statecode": 0,
                      "item/statuscode": 1,
                      "item/leidos_submitisa": false
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              }
            }
          },
          "default": {
            "actions": {}
          },
          "expression": "@outputs('Start_and_wait_for_an_approval')?['body/outcome']",
          "metadata": {
            "operationMetadataId": "1cac53cb-8ecc-4e02-b324-17f75e8c0bc1"
          },
          "type": "Switch"
        },
        "Create_task": {
          "foreach": "@outputs('Start_and_wait_for_an_approval')?['body/responses']",
          "actions": {
            "Create_task_with_Results": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d49611d1-8aa9-4f07-9c9f-8d83d4446243"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "tasks",
                  "item/subject": "Aproval Request Response",
                  "item/description": "Request Details -   @{outputs('Start_and_wait_for_an_approval')?['body/details']}\n\nRequested On - @{formatDateTime(outputs('Start_and_wait_for_an_approval')?['body/requestDate'], 'dd-MMM-yyyy')}\n\nRequest Delegated Authority -   @{items('Create_task')?['responder/displayName']}\n\nDelegated Authority Outcome - @{outputs('Start_and_wait_for_an_approval')?['body/outcome']}\n\nDelegated Authority Comments -   @{items('Create_task')?['comments']}\n\nDelegated Authority Decision Date: @{formatDateTime(utcNow(), 'dd/MM/yyyy')}",
                  "item/regardingobjectid_leidos_pipelineprogramme_task@odata.bind": "/leidos_pipelineprogrammes(@{triggerOutputs()?['body/leidos_pipelineprogrammeid']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Switch": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "248ae73d-e53f-461a-b221-1f0a974bd13b"
          },
          "type": "Foreach"
        },
        "Send_Email": {
          "foreach": "@outputs('Start_and_wait_for_an_approval')?['body/responses']",
          "actions": {
            "Send_an_email_(V2)": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "8c0f1b57-af4f-4b71-9606-50232aed2afa"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@outputs('Get_Submitted_By_User_Record')?['body/internalemailaddress']",
                  "emailMessage/Subject": "Pipeline Programme Approval response",
                  "emailMessage/Body": "<p>Response for Appraisal submission<br>\n<br>\n- Delegated Authority: &nbsp;@{items('Send_Email')?['responder/displayName']}<br>\n-Delegated Authority Decision:@{outputs('Start_and_wait_for_an_approval')?['body/outcome']}<br>\n-Delegated Authority Comments: @{items('Send_Email')?['comments']}<br>\n<br>\n<a href=\"@{outputs('Get_Entity_URL')?['Body']?['entityurl']}\">Record Link</a> <br>\n</p>"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Switch": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "11ff67aa-7721-446a-947c-ed215151bac2"
          },
          "type": "Foreach"
        },
        "Scope": {
          "actions": {
            "Send_an_email_(V2)_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ca363eb0-4427-4775-a5a0-4d7458466192"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365_1",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@outputs('Get_Submitted_By_User_Record')?['body/internalemailaddress']",
                  "emailMessage/Subject": "Pipeline Programme Submit for Decision has failed",
                  "emailMessage/Body": "<p>The submission for decision for @{triggerOutputs()?['body/leidos_name']} has failed, please check your data or contact Support.</p>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Update_Pipeline_Programme_to_reset_submit": {
              "runAfter": {
                "Send_an_email_(V2)_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b6b10601-3cd8-4e98-af39-529d4611337f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "leidos_pipelineprogrammes",
                  "recordId": "@triggerOutputs()?['body/leidos_pipelineprogrammeid']",
                  "item/leidos_submitisa": false
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_data_": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "504176e9-3552-49df-9cda-407607f70d76"
          },
          "type": "Scope"
        },
        "Scope_Approval_Timed_Out": {
          "actions": {
            "Update_Pipeline_Programme_Reset": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "58ce22c3-fa55-4c50-bb3e-cc8d25d08b68"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "leidos_pipelineprogrammes",
                  "recordId": "@triggerOutputs()?['body/leidos_pipelineprogrammeid']",
                  "item/leidos_isaapprovalrequestedon": "@null",
                  "item/statecode": 0,
                  "item/statuscode": 445260003,
                  "item/leidos_submitisa": false
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Send_an_email_(V2)_3": {
              "runAfter": {
                "Update_Pipeline_Programme_Reset": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9ea45b7f-815f-446e-8826-319975d8d0d3"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@outputs('Get_Submitted_By_User_Record')?['body/internalemailaddress']",
                  "emailMessage/Subject": "Approval for Pipeline Programme Timed Out: @{triggerOutputs()?['body/leidos_pipelineprogrammereference']}",
                  "emailMessage/Body": "<p>The Approval Process for &nbsp;@{triggerOutputs()?['body/leidos_pipelineprogrammereference']} has timed out. &nbsp;Please resubmit.<br>\n<br>\n@{body('Get_Entity_URL')?['entityurl']}</p>"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Start_and_wait_for_an_approval": [
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "e482f366-b38f-495a-931a-4c74f0bd588c"
          },
          "type": "Scope"
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}