HIE_CDS_A/Workflows/Project-Flow-OwnHandExceededFunding-D773EE53-2A9D-EB11-B1AC-000D3AD5FA1C.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnProject"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Project_-_Own_Hand_Exceeded_Funding":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_project","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_ownhandfundingexceeded","subscriptionRequest/filterexpression":"(leidos_ownhandfundingexceeded eq true and leidos_overspendtaskcreated ne true)"},"authentication":"@parameters('$authentication')"}}},"actions":{"Send_Email_with_Link":{"actions":{"Run_a_Child_Flow":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/leidos_projectid']","EntityType_Value":"leidos_project"}}},"Entity_Link":{"runAfter":{"Run_a_Child_Flow":["Succeeded"]},"type":"Compose","inputs":"@concat('<a href=\"',outputs('Run_a_Child_Flow')?['Body']?['entityurl'],'\">Record Link</a>')"},"Send_Email":{"runAfter":{"Entity_Link":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","item/activitypointer_activity_parties":[{"participationtypemask":2,"partyid@odata.bind":"/systemusers(@{triggerOutputs()?['body/_ownerid_value']})"}],"item/description":"<p>\nProject spend has exceeded approved funding - please take corrective action.</p>\n<p>\n\n@{outputs('Entity_Link')}</p>","item/regardingobjectid_leidos_project_email@odata.bind":"/leidos_projects(@{triggerOutputs()?['body/leidos_projectid']})","item/subject":"@{triggerOutputs()?['body/leidos_name']} has exceeded Approved Funding"},"authentication":"@parameters('$authentication')"}},"Perform_a_bound_action":{"runAfter":{"Send_Email":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"PerformBoundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","actionName":"Microsoft.Dynamics.CRM.SendEmail","recordId":"@outputs('Send_Email')?['body/activityid']","item/IssueSend":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Scope"},"Set_Overspend_task_flag_=_yes":{"runAfter":{"Create_A_task":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/leidos_projectid']","item/leidos_overspendtaskcreated":true},"authentication":"@parameters('$authentication')"}},"Create_A_task":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"tasks","item/subject":"Own Hand Project Overspend - Project Amendment Required ","item/description":"Total Project Spend has exceeded approved funding.  Please create a Project Amendment to Address.","item/ownerid_task@odata.bind":"/systemusers(@{triggerOutputs()?['body/_ownerid_value']})","item/regardingobjectid_leidos_project_task@odata.bind":"/leidos_projects(@{triggerOutputs()?['body/leidos_projectid']})"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}