HIE_CDS_CI/Workflows/AMCP-Flow-SubmitforApproval-A4328629-C85E-EA11-A811-000D3A0BAD17.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "leidos_ConnAMCP"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_approvals": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "leidos_ApprovalConnectionReference"
        },
        "api": {
          "name": "shared_approvals"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "leidos_ConnOffice365Outlook"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "leidos_ConnAccMan"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "leidos_ConnOffice365Outlook3"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "AM_Client_Plan_Submitted": {
          "metadata": {
            "operationMetadataId": "3afb32b0-4e4c-4beb-b1e8-ee5110080d1c"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "leidos_accountmanagementclientplan",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "leidos_submitclientplanforapproval",
              "subscriptionRequest/filterexpression": "leidos_submitclientplanforapproval eq true"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Update_Submitted_On": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "f989fa45-1371-4401-a124-f139615f675f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "leidos_accountmanagementclientplans",
              "recordId": "@triggerOutputs()?['body/leidos_accountmanagementclientplanid']",
              "item/statecode": 1,
              "item/statuscode": 445260005,
              "item/leidos_submittedon": "@utcNow()"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Start_and_wait_for_an_approval": {
          "runAfter": {
            "Get_Data_from_Entity_Tree": [
              "Succeeded"
            ]
          },
          "limit": {
            "timeout": "P3D"
          },
          "metadata": {
            "operationMetadataId": "4bd2b6e6-1a76-49dd-ae91-9365897f55f4"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_approvals",
              "operationId": "StartAndWaitForAnApproval",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
            },
            "parameters": {
              "approvalType": "CustomResponse",
              "WebhookApprovalCreationInput/responseOptions": [
                "Approve Client Plan",
                "Defer Client Plan",
                "Disengage with Process"
              ],
              "WebhookApprovalCreationInput/title": "Account Management Client Plan for @{triggerOutputs()?['body/leidos_name']}",
              "WebhookApprovalCreationInput/assignedTo": "@outputs('Office_Manager')?['body/internalemailaddress']",
              "WebhookApprovalCreationInput/details": "### Client Plan for @{outputs('Get_Account')?['body/name']} ###\nPlease review the Account Management Client Plan and Action Plan for @{outputs('AMR_Record')?['body/leidos_name']}   \n Account Management Recommendation:   @{outputs('Recommendation_Option_Set_label')}\n@{variables('Change Segmentaion Text')}\n\nRecommendation Text:  @{outputs('Get_AMCP')?['body/leidos_accountmanagementrecommendationtext']}\nRecord Link: [@{outputs('Get_AMCP')?['body/leidos_name']}](@{outputs('Get_Entity_URL')?['Body']?['entityurl']})",
              "WebhookApprovalCreationInput/itemLink": "@outputs('Get_AMCP')?['body/leidos_clientplandocumentlink']",
              "WebhookApprovalCreationInput/itemLinkDescription": "Global Business Review Document Link",
              "WebhookApprovalCreationInput/requestor": "@outputs('Get_Requesting_User')?['body/internalemailaddress']",
              "WebhookApprovalCreationInput/enableNotifications": true,
              "WebhookApprovalCreationInput/enableReassignment": true
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Switch": {
          "runAfter": {
            "Get_the_Responder_Record": [
              "Succeeded"
            ]
          },
          "cases": {
            "Approve": {
              "case": "Approve Client Plan",
              "actions": {
                "Update_Account_Status_reason": {
                  "runAfter": {
                    "AMCP_to_Approved": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "accounts",
                      "recordId": "@outputs('Get_Account')?['body/accountid']",
                      "item/statecode": 0,
                      "item/statuscode": 445260003
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "AMCP_to_Approved": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "leidos_accountmanagementclientplans",
                      "recordId": "@triggerOutputs()?['body/leidos_accountmanagementclientplanid']",
                      "item/leidos_ClientPlanApprovedBy@odata.bind": "/systemusers(@{outputs('Get_Responder_User_record')?['body/systemuserid']})",
                      "item/leidos_clientplanapprovedon": "@utcNow()",
                      "item/statecode": 1,
                      "item/statuscode": 2
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Update_AMR_Record": {
                  "runAfter": {
                    "AMCP_to_Approved": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "leidos_accountmanagementrecords",
                      "recordId": "@outputs('AMR_Record')?['body/leidos_accountmanagementrecordid']",
                      "item/leidos_LastApprovedClientPlan@odata.bind": "/leidos_accountmanagementclientplans(@{outputs('AMCP_to_Approved')?['body/leidos_accountmanagementclientplanid']})"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "description": "Add the AMCP to the last Approved Look up"
                },
                "Switch__Based_on_recommendation": {
                  "runAfter": {
                    "AMCP_to_Approved": [
                      "Succeeded"
                    ]
                  },
                  "cases": {
                    "Amend_Segmentation": {
                      "case": 445260002,
                      "actions": {
                        "Create_a_new_Task_Amend_Segmentation": {
                          "runAfter": {},
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "tasks",
                              "item/subject": "Amend Segmentation",
                              "item/description": "AMCP Approval Process was Approved, with recommendation to Amend Segmentation.\nPlease now contact the Enterprise Support directorate to initiate the change on the AMR",
                              "item/scheduledend": "@addDays(utcNow(),7)",
                              "item/ownerid_task@odata.bind": "/systemusers(@{outputs('Get_Responder_User_record')?['body/systemuserid']})",
                              "item/regardingobjectid_leidos_accountmanagementrecord_task@odata.bind": "/leidos_accountmanagementrecords(@{outputs('AMR_Record')?['body/leidos_accountmanagementrecordid']})"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Send_an_email_(V2)_3": {
                          "runAfter": {
                            "Create_a_new_Task_Amend_Segmentation": [
                              "Succeeded"
                            ]
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_office365",
                              "operationId": "SendEmailV2",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                            },
                            "parameters": {
                              "emailMessage/To": "@outputs('Get_Requesting_User')?['body/internalemailaddress']",
                              "emailMessage/Subject": "Change of Segmentation has been Approved",
                              "emailMessage/Body": "<p>The recommendation for a change of segmentation for @{outputs('Get_Account')?['body/name']} has been approved. &nbsp;<br>\n<br>\n<strong>Please now contact the Enterprise Support directorate to initiate the change on the Record</strong></p>"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      }
                    },
                    "Disengage_with_process": {
                      "case": 445260001,
                      "actions": {
                        "Create_a_new_Task_Disengage": {
                          "runAfter": {},
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "tasks",
                              "item/subject": "Disengage with Client Enagement",
                              "item/description": "Please ensure you disengage with the client on the AMR by selecting deactivate followed by issue of disengagement email",
                              "item/scheduledend": "@addDays(utcNow(),7)",
                              "item/ownerid_task@odata.bind": "/systemusers(@{outputs('Get_Responder_User_record')?['body/systemuserid']})",
                              "item/regardingobjectid_leidos_accountmanagementrecord_task@odata.bind": "/leidos_accountmanagementrecords(@{outputs('AMR_Record')?['body/leidos_accountmanagementrecordid']})"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      }
                    }
                  },
                  "default": {
                    "actions": {}
                  },
                  "expression": "@triggerOutputs()?['body/leidos_accountmanagementrecommendation']",
                  "type": "Switch"
                }
              }
            },
            "Disengage_with_Process": {
              "case": "Disengage with Process",
              "actions": {
                "AM_Client_Plan_to_Cancelled": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "leidos_accountmanagementclientplans",
                      "recordId": "@triggerOutputs()?['body/leidos_accountmanagementclientplanid']",
                      "item/statecode": 1,
                      "item/statuscode": 445260004
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              }
            },
            "Defer_Client_Plan": {
              "case": "Defer Client Plan",
              "actions": {
                "Reset_AMCP_to_allow_updates": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "leidos_accountmanagementclientplans",
                      "recordId": "@triggerOutputs()?['body/leidos_accountmanagementclientplanid']",
                      "item/statecode": 0,
                      "item/statuscode": 445260000,
                      "item/leidos_submitclientplanforapproval": false
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              }
            }
          },
          "default": {
            "actions": {
              "Terminate": {
                "runAfter": {},
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Succeeded"
                }
              }
            }
          },
          "expression": "@outputs('Start_and_wait_for_an_approval')?['body/outcome']",
          "metadata": {
            "operationMetadataId": "c2fcc0c6-288d-49d4-8638-9e3e7c669e7f"
          },
          "type": "Switch"
        },
        "AM_Client_Plan_Owner": {
          "runAfter": {
            "Switch": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dfbd0ae7-b1cd-4153-8176-90a88d20e417"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "systemusers",
              "recordId": "@triggerOutputs()?['body/_ownerid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Create_Note": {
          "foreach": "@outputs('Start_and_wait_for_an_approval')?['body/responses']",
          "actions": {
            "Create_a_Note_for_Output": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "4ba378f0-0d74-444a-86b9-42379fe488ea"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "annotations",
                  "item/subject": "Client Engegement Plan Approval response",
                  "item/notetext": "Response Summary:   @{outputs('Start_and_wait_for_an_approval')?['body/responseSummary']}\n\nComments: @{items('Create_Note')?['comments']}\n",
                  "item/objectid_leidos_accountmanagementclientplan@odata.bind": "/leidos_accountmanagementclientplans(@{triggerOutputs()?['body/leidos_accountmanagementclientplanid']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Create_a_Task_with_results": {
              "runAfter": {
                "Create_a_Note_for_Output": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e5e1d02f-58a2-4199-937b-a5ffed84aabd"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "tasks",
                  "item/subject": "Approval  request for CEP: @{triggerOutputs()?['body/leidos_name']} has been @{outputs('Start_and_wait_for_an_approval')?['body/outcome']}",
                  "item/description": "Delegated Authority: @{items('Create_Note')?['responder/displayName']}\nDelegated Authority Decision: @{outputs('Start_and_wait_for_an_approval')?['body/outcome']}\nDecision Date @{formatDateTime(utcNow(), 'dd-MMM-yyyy')}\nDelegated Authority Comments@{items('Create_Note')?['comments']}\n",
                  "item/regardingobjectid_leidos_accountmanagementrecord_task@odata.bind": "/leidos_accountmanagementrecords(@{outputs('AMR_Record')?['body/leidos_accountmanagementrecordid']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Switch": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "84fcd291-3ccc-4d2f-a0cc-cdeda5dd3f0f"
          },
          "type": "Foreach"
        },
        "Apply_to_each": {
          "foreach": "@outputs('Start_and_wait_for_an_approval')?['body/responses']",
          "actions": {
            "Send_an_email_(V2)": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "14791561-8a3f-4c80-aa32-1b7d082e890a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@outputs('AM_Client_Plan_Owner')?['body/internalemailaddress']",
                  "emailMessage/Subject": "Client Engagement Plan for  @{triggerOutputs()?['body/leidos_name']} Response Outcome: @{outputs('Start_and_wait_for_an_approval')?['body/outcome']}",
                  "emailMessage/Body": "<p>Approval Response: @{outputs('Start_and_wait_for_an_approval')?['body/outcome']}<br>\nApproval Comments: @{items('Apply_to_each')?['comments']}<br>\n<br>\n<a href=\"&lt;object custom=\">@{outputs('Get_Entity_URL')?['Body']?['entityurl']}\"&gt;</a>@{triggerOutputs()?['body/leidos_name']}<a href=\"&lt;object custom=\"></a><br>\n</p>"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "AM_Client_Plan_Owner": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bbbe5f4b-2f94-45a4-84cc-40a01b7e577d"
          },
          "type": "Foreach"
        },
        "Get_Data_from_Entity_Tree": {
          "actions": {
            "AMR_Record": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "6ec14d92-7097-49a6-acc2-06fb1055a1f0"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "leidos_accountmanagementrecords",
                  "recordId": "@triggerOutputs()?['body/_leidos_accountmanagementrecord_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Account": {
              "runAfter": {
                "AMR_Record": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "74307cec-1a96-408b-9ddb-794ad505b6dc"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "accounts",
                  "recordId": "@outputs('AMR_Record')?['body/_leidos_parentaccount_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Area_Office": {
              "runAfter": {
                "Get_Account": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "26908698-4b60-462f-979f-aee7b347069e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "leidos_areaoffices",
                  "recordId": "@outputs('Get_Account')?['body/_leidos_areaoffice_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Office_Manager": {
              "runAfter": {
                "Area_Office": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "101e8720-2af3-4089-ad1b-294fe72074e3"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "recordId": "@outputs('Area_Office')?['body/_leidos_officemanager_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_AMCP": {
              "runAfter": {
                "Office_Manager": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2eeb4478-c07d-4e7a-affa-9897fbf4b248"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "leidos_accountmanagementclientplans",
                  "recordId": "@triggerOutputs()?['body/leidos_accountmanagementclientplanid']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Requesting_User": {
              "runAfter": {
                "Get_AMCP": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "580b1549-778f-4cdf-84d2-956245be9952"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "recordId": "@outputs('Get_AMCP')?['body/_leidos_submittedby_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Recommendation_Option_Set_label": {
              "runAfter": {
                "Get_Requesting_User": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5649ce9a-3626-47de-acd4-d9bfbe37b581"
              },
              "type": "Compose",
              "inputs": "@outputs('Get_AMCP')?['body/leidos_accountmanagementrecommendation@OData.Community.Display.V1.FormattedValue']"
            },
            "Get_Entity_URL": {
              "runAfter": {
                "Recommendation_Option_Set_label": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8ea57eda-9832-4671-8164-0b5b750e7c53"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "b0db1a8a-c449-ea11-a812-000d3a0ba151"
                },
                "body": {
                  "EntityId_Inputs": "@triggerOutputs()?['body/leidos_accountmanagementclientplanid']",
                  "EntityType_Value": "leidos_accountmanagementclientplan"
                }
              }
            },
            "Account_management_Segmentation_is_Amend_Segment_ion": {
              "actions": {
                "Set_Segmentation_Text": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "d9597f42-2ce7-4117-9736-1f00bb5f1bad"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Change Segmentaion Text",
                    "value": "It is recommended to change the current segmentation to  :    @{outputs('Get_AMCP')?['body/_leidos_newrecommendedsegmentation_value@OData.Community.Display.V1.FormattedValue']}\n"
                  }
                }
              },
              "runAfter": {
                "Get_Entity_URL": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@triggerOutputs()?['body/leidos_accountmanagementrecommendation']",
                  445260002
                ]
              },
              "metadata": {
                "operationMetadataId": "aa5d4590-5ab9-4b11-a204-af4bfe511805"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_variable_Change_Segmentation_text": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "27ff7c07-bb19-4f41-934d-5f2d24c6b30a"
          },
          "type": "Scope"
        },
        "Initialize_variable_Responder_Email": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "1542d186-249c-4480-979d-5d131ff5f1fc"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Responder Email",
                "type": "string"
              }
            ]
          }
        },
        "Get_the_Responder_Record": {
          "actions": {
            "Get_Responder_Email": {
              "foreach": "@outputs('Start_and_wait_for_an_approval')?['body/responses']",
              "actions": {
                "Set_variable": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "8f27e0b8-2916-4f2d-9fcc-8b7af0d0f4aa"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Responder Email",
                    "value": "@items('Get_Responder_Email')?['responder/email']"
                  }
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "439b14d8-eab8-4f73-8186-769ee8deb604"
              },
              "type": "Foreach"
            },
            "List_Users": {
              "runAfter": {
                "Get_Responder_Email": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1b440714-fc75-409a-bbd4-754fab2ff343"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\" >\n  <entity name=\"systemuser\" >\n    <attribute name=\"fullname\" />\n    <attribute name=\"systemuserid\" />\n    <filter type=\"and\" >\n      <condition attribute=\"internalemailaddress\" operator=\"eq\" value=\"@{variables('Responder Email')}\" />\n    </filter>\n  </entity>\n</fetch>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_System_User_ID": {
              "runAfter": {
                "List_Users": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b95610a8-b2b6-4ca9-9730-7ab7886cce10"
              },
              "type": "Compose",
              "inputs": "@first(outputs('List_Users')?['body/value'])?['systemuserid']"
            },
            "Get_Responder_User_record": {
              "runAfter": {
                "Get_System_User_ID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3fa7a1ef-31e7-473c-9079-eb5f7894aac1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "recordId": "@outputs('Get_System_User_ID')"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Start_and_wait_for_an_approval": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3c23d84a-7cd9-4afc-b3c7-11ffee198571"
          },
          "type": "Scope"
        },
        "Data_Capture_Failure_Catch": {
          "actions": {
            "Send_an_email_(V2)_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "9070096e-94a1-400f-8fc6-790b528ed4f2"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@outputs('Get_Requesting_User')?['body/internalemailaddress']",
                  "emailMessage/Subject": "Approval Flow for @{outputs('Get_AMCP')?['body/leidos_amcpreference']} has Failed",
                  "emailMessage/Body": "<p>The Approval flow the the above has failed, please check the data and resumbit.<br>\n<br>\n@{outputs('Get_Entity_URL')?['Body']?['entityurl']}</p>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Update_AMCP_Submit_option": {
              "runAfter": {
                "Send_an_email_(V2)_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "aceeef16-a5eb-4e98-b16a-7d53b35ddd4a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "leidos_accountmanagementclientplans",
                  "recordId": "@triggerOutputs()?['body/leidos_accountmanagementclientplanid']",
                  "item/leidos_submitclientplanforapproval": false
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_Data_from_Entity_Tree": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "b57967de-de1e-47b4-8e27-c51184728e10"
          },
          "type": "Scope"
        },
        "Initialize_variable_Change_Segmentation_text": {
          "runAfter": {
            "Initialize_variable_Responder_Email": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "23b1132c-440a-405c-8707-e476d287b1c9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Change Segmentaion Text",
                "type": "string",
                "value": "@{null}"
              }
            ]
          }
        },
        "Scope:_Request_for_Approval_Time_Out": {
          "actions": {
            "Update_Client_Plan_to_roll_back_to_allow_resubmit": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "7672073b-3725-402a-98ce-ae37046462bb"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "leidos_accountmanagementclientplans",
                  "recordId": "@triggerOutputs()?['body/leidos_accountmanagementclientplanid']",
                  "item/statecode": 0,
                  "item/statuscode": 445260000,
                  "item/leidos_submitclientplanforapproval": false,
                  "item/leidos_submittedon": "@null"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Send_an_email_(V2)_4": {
              "runAfter": {
                "Update_Client_Plan_to_roll_back_to_allow_resubmit": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "14791561-8a3f-4c80-aa32-1b7d082e890a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365_1",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@outputs('Get_Requesting_User')?['body/internalemailaddress']",
                  "emailMessage/Subject": " Approval Request Timed out for : Client Engagement Plan   @{triggerOutputs()?['body/leidos_name']}",
                  "emailMessage/Body": "<p>Record Link @{body('Get_Entity_URL')?['entityurl']}<br>\n</p>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Terminate_2": {
              "runAfter": {
                "Send_an_email_(V2)_4": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "71d6a8cf-7ee5-4b76-9200-96047d43951c"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              }
            }
          },
          "runAfter": {
            "Start_and_wait_for_an_approval": [
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "69b83b13-d94b-4720-bd7a-d926f837347b"
          },
          "type": "Scope"
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}