HIE_CDS_CI/Workflows/Application-Flow-SubmitforBudgetApproval-04D1B1BD-F956-EA11-A811-000D3A7F1BBB.json
{
  "properties": {
    "connectionReferences": {
      "shared_approvals": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "leidos_ApprovalConnectionReference"
        },
        "api": {
          "name": "shared_approvals"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "leidos_ConnApplication"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "leidos_ConnOffice365Outlook"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "leidos_ConnOffice365Outlook3"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Application_on_Submit_for_Budget_Approval": {
          "metadata": {
            "operationMetadataId": "651c27d6-89d9-4459-b010-7620b32a5143"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "leidos_application",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "leidos_submitapplicationforbudgetapproval",
              "subscriptionRequest/filterexpression": "leidos_submitapplicationforbudgetapproval eq true"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Start_and_wait_for_an_approval": {
          "runAfter": {
            "Get_all_of_the_Data_required_for_the_Approval": [
              "Succeeded"
            ]
          },
          "limit": {
            "timeout": "P3D"
          },
          "metadata": {
            "operationMetadataId": "00dc1b7a-fd1e-4973-aaf5-c611697e3a44"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_approvals",
              "operationId": "StartAndWaitForAnApproval",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
            },
            "parameters": {
              "approvalType": "CustomResponse",
              "WebhookApprovalCreationInput/responseOptions": [
                "Approve Project",
                "Reject Project",
                "Defer Project"
              ],
              "WebhookApprovalCreationInput/title": "Request for Appraisal Decision @{triggerOutputs()?['body/leidos_name']}",
              "WebhookApprovalCreationInput/assignedTo": "@outputs('Get_Delegated_Authority_Record')?['body/internalemailaddress']",
              "WebhookApprovalCreationInput/details": "### The following has been submitted for Project Approval ###\n\nAccount Manager recomendation - @{if(triggerOutputs()?['body/leidos_recommendation'], 'Approve', 'Reject')}\n\nLink to Project record in MyHIE:  [@{outputs('Get_Project_record')?['body/leidos_name']}](@{outputs('Get_first_project''s_url')?['Body']?['entityurl']})\n\n#### If the Date of Decision was prior to this sign off, please include the actual Date of Decision in the Note box below. ####",
              "WebhookApprovalCreationInput/itemLink": "@outputs('Update_Application_with_Submit_Details')?['body/leidos_appraisaldocumentlink']",
              "WebhookApprovalCreationInput/itemLinkDescription": "Application Appraisal Document",
              "WebhookApprovalCreationInput/requestor": "@outputs('Get_Submitted_by')?['body/internalemailaddress']",
              "WebhookApprovalCreationInput/enableNotifications": true,
              "WebhookApprovalCreationInput/enableReassignment": true
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Switch_on_Outcome": {
          "runAfter": {
            "Start_and_wait_for_an_approval": [
              "Succeeded"
            ]
          },
          "cases": {
            "Approve_Project": {
              "case": "Approve Project",
              "actions": {
                "Update_Application_with_Approval_Data": {
                  "foreach": "@outputs('Start_and_wait_for_an_approval')?['body/responses']",
                  "actions": {
                    "Set_Application_to_Approved": {
                      "runAfter": {},
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "leidos_applications",
                          "recordId": "@triggerOutputs()?['body/leidos_applicationid']",
                          "item/leidos_BudgetApprovedBy@odata.bind": "systemusers(@{outputs('Get_Delegated_Authority_Record')?['body/systemuserid']})",
                          "item/leidos_budgetapprovalcomments": "@items('Update_Application_with_Approval_Data')?['comments']",
                          "item/leidos_budgetapprovaldecisionoutcome": 445260000,
                          "item/leidos_budgetapprovedon": "@utcNow()",
                          "item/statecode": 1,
                          "item/statuscode": 445260012
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "type": "Foreach"
                },
                "For_Each_Project_Set_to_Approved": {
                  "foreach": "@outputs('List_Projects_')?['body/value']",
                  "actions": {
                    "Update_Projects_to_Approved": {
                      "runAfter": {},
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "leidos_projects",
                          "recordId": "@items('For_Each_Project_Set_to_Approved')?['leidos_projectid']",
                          "item/statecode": 0,
                          "item/statuscode": 445260001
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Update_Application_with_Approval_Data": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                },
                "Close_BPF_Application": {
                  "runAfter": {
                    "Update_Application_with_Approval_Data": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "new_bpfapplicationbusinessprocessflows",
                      "recordId": "@outputs('BPF_Application_ID')",
                      "item/statecode": 1,
                      "item/statuscode": 2
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              }
            },
            "Reject_Project": {
              "case": "Reject Project",
              "actions": {
                "Close_BPF_as_Finished": {
                  "runAfter": {
                    "Update_Application_with_Response": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "new_bpfapplicationbusinessprocessflows",
                      "recordId": "@outputs('BPF_Application_ID')",
                      "item/statecode": 1,
                      "item/statuscode": 2
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Update_Application_with_Response": {
                  "foreach": "@outputs('Start_and_wait_for_an_approval')?['body/responses']",
                  "actions": {
                    "Update_Application": {
                      "runAfter": {},
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "leidos_applications",
                          "recordId": "@triggerOutputs()?['body/leidos_applicationid']",
                          "item/leidos_BudgetApprovedBy@odata.bind": "systemusers(@{outputs('Get_Delegated_Authority_Record')?['body/systemuserid']})",
                          "item/leidos_budgetapprovalcomments": "@items('Update_Application_with_Response')?['comments']",
                          "item/leidos_budgetapprovaldecisionoutcome": 445260001,
                          "item/leidos_budgetapprovedon": "@utcNow()",
                          "item/statuscode": 2
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "type": "Foreach"
                },
                "Set_Each_project_to_Rejected": {
                  "foreach": "@outputs('List_Projects_')?['body/value']",
                  "actions": {
                    "Update_Projects_to_Rejected": {
                      "runAfter": {},
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "leidos_projects",
                          "recordId": "@items('Set_Each_project_to_Rejected')?['leidos_projectid']",
                          "item/statecode": 1,
                          "item/statuscode": 445260012
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Update_Application_with_Response": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                }
              }
            },
            "Defer_Project": {
              "case": "Defer Project",
              "actions": {
                "Add_Defer_Comment_to_Applicaiton": {
                  "foreach": "@outputs('Start_and_wait_for_an_approval')?['body/responses']",
                  "actions": {
                    "Update_Application_on_Defer": {
                      "runAfter": {},
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "leidos_applications",
                          "recordId": "@triggerOutputs()?['body/leidos_applicationid']",
                          "item/leidos_BudgetApprovedBy@odata.bind": "systemusers(@{outputs('Get_Delegated_Authority_Record')?['body/systemuserid']})",
                          "item/leidos_budgetapprovalcomments": "@items('Add_Defer_Comment_to_Applicaiton')?['comments']",
                          "item/leidos_budgetapprovaldecisionoutcome": 445260002,
                          "item/leidos_budgetapprovedon": "@utcNow()",
                          "item/leidos_validateapplication": false,
                          "item/statecode": 0,
                          "item/statuscode": 445260009,
                          "item/leidos_submitapplicationforbudgetapproval": false
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "type": "Foreach"
                },
                "Update_project_to_Allow_Amendment": {
                  "foreach": "@outputs('List_Projects_')?['body/value']",
                  "actions": {
                    "Update_Projects_to_Allow_Edit": {
                      "runAfter": {},
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "leidos_projects",
                          "recordId": "@items('Update_project_to_Allow_Amendment')?['leidos_projectid']",
                          "item/statecode": 0,
                          "item/statuscode": 445260006
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Add_Defer_Comment_to_Applicaiton": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                }
              }
            }
          },
          "default": {
            "actions": {}
          },
          "expression": "@outputs('Start_and_wait_for_an_approval')?['body/outcome']",
          "metadata": {
            "operationMetadataId": "ec025883-7e64-4967-af16-686e11af8a91"
          },
          "type": "Switch"
        },
        "Owner_Type": {
          "runAfter": {
            "Switch_on_Outcome": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "db3b2749-2f1b-426f-ae7a-fc2cca2a5361"
          },
          "type": "Compose",
          "inputs": "@triggerOutputs()?['body/_ownerid_value@Microsoft.Dynamics.CRM.lookuplogicalname']"
        },
        "Condition": {
          "actions": {},
          "runAfter": {
            "Owner_Type": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Get_the_Owner": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "edc37d9c-dee1-4d49-b4b4-ed59c480a100"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "GetItem",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "systemusers",
                    "recordId": "@triggerOutputs()?['body/_ownerid_value']"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Apply_to_each": {
                "foreach": "@outputs('Start_and_wait_for_an_approval')?['body/responses']",
                "actions": {
                  "Send_an_email_(V2)": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "f3fafef3-c2a0-4b2f-9738-7b2a4ad3382e"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_office365",
                        "operationId": "SendEmailV2",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                      },
                      "parameters": {
                        "emailMessage/To": "@outputs('Get_the_Owner')?['body/internalemailaddress']",
                        "emailMessage/Subject": "Approval Request for Project: @{triggerOutputs()?['body/leidos_name']}",
                        "emailMessage/Body": "<ul>\n  <li><strong>Delegated Authority</strong>: @{items('Apply_to_each')?['responder/displayName']} &nbsp;</li>\n  <li><strong>Delegated Authority Decision</strong>: @{outputs('Start_and_wait_for_an_approval')?['body/outcome']}</li>\n  <li><strong>Delegated Authority Comments</strong>: @{items('Apply_to_each')?['comments']}</li>\n  <li><strong>Delegated Authority Decision Date:</strong>: @{formatDateTime(utcNow(), 'dd/MM/yyyy')}</li>\n</ul>\n<p><br></p>\n<p>Record Link <a href=\"@{outputs('Get_first_project''s_url')?['Body']?['entityurl']}\">@{triggerOutputs()?['body/leidos_name']}</a><br></p>\n\n<p>If the Project has been Approved please ensure you complete the Date of Decision field to enable the Project to progress<br></p>"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                },
                "runAfter": {
                  "Get_the_Owner": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "9d18d3ba-ad2b-4d61-b8dd-4b6a130c8a55"
                },
                "type": "Foreach"
              }
            }
          },
          "expression": {
            "equals": [
              "@outputs('Owner_Type')",
              "teams"
            ]
          },
          "metadata": {
            "operationMetadataId": "d77ff061-d9e0-44a1-945c-d4a9253feedf"
          },
          "type": "If"
        },
        "List_Projects_": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "25cde400-2cab-4474-a7cd-73e4f11c3c5a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "leidos_projects",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\" >\n  <entity name=\"leidos_project\" >\n    <attribute name=\"leidos_projectid\" />\n    <attribute name=\"leidos_name\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\" >\n      <condition attribute=\"leidos_parentapplication\" operator=\"eq\" value=\"@{triggerOutputs()?['body/leidos_applicationid']}\" />\n      <condition attribute=\"statuscode\" operator=\"neq\" value=\"445260003\" />\n    </filter>\n  </entity>\n</fetch>",
              "$top": 20
            },
            "authentication": "@parameters('$authentication')"
          },
          "description": "Find non cancelled Projects with Parent Application to allow them to be transitioned"
        },
        "Get_all_of_the_Data_required_for_the_Approval": {
          "actions": {
            "Switch": {
              "runAfter": {},
              "cases": {
                "Grade_E_Staff": {
                  "case": 445260000,
                  "actions": {
                    "Get_Grade_E_Staff": {
                      "runAfter": {},
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "leidos_delegatedauthorityapprovaltables",
                          "recordId": "@triggerOutputs()?['body/_leidos_gradeestaff_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_the_Budget_Approver_to_Grade_E_Staff": {
                      "runAfter": {
                        "Get_Grade_E_Staff": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Budget Delegated Authority",
                        "value": "@outputs('Get_Grade_E_Staff')?['body/_leidos_userrecord_value']"
                      }
                    }
                  }
                },
                "Grade_F_Staff": {
                  "case": 445260006,
                  "actions": {
                    "Get_Grade_F_Staff": {
                      "runAfter": {},
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "leidos_delegatedauthorityapprovaltables",
                          "recordId": "@triggerOutputs()?['body/_leidos_gradefstaff_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_the_Budget_Approver_to_Grade_F_Staff": {
                      "runAfter": {
                        "Get_Grade_F_Staff": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Budget Delegated Authority",
                        "value": "@outputs('Get_Grade_F_Staff')?['body/_leidos_userrecord_value']"
                      }
                    }
                  }
                },
                "Executive_Grade_Staff": {
                  "case": 445260001,
                  "actions": {
                    "Get_Executive_Grade_Staff": {
                      "runAfter": {},
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "leidos_delegatedauthorityapprovaltables",
                          "recordId": "@triggerOutputs()?['body/_leidos_executivegradestaff_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_Approver_to_Executive_Grade_Staff": {
                      "runAfter": {
                        "Get_Executive_Grade_Staff": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Budget Delegated Authority",
                        "value": "@outputs('Get_Executive_Grade_Staff')?['body/_leidos_userrecord_value']"
                      }
                    }
                  }
                },
                "Leadership_Team": {
                  "case": 445260003,
                  "actions": {
                    "Get_Leadership_Team": {
                      "runAfter": {},
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "leidos_delegatedauthorityapprovaltables",
                          "recordId": "@triggerOutputs()?['body/_leidos_leadershipteam_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_to_Leadership_Team": {
                      "runAfter": {
                        "Get_Leadership_Team": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Budget Delegated Authority",
                        "value": "@outputs('Get_Leadership_Team')?['body/_leidos_userrecord_value']"
                      }
                    }
                  }
                },
                "HIE_Chief_Executive\t": {
                  "case": 445260004,
                  "actions": {
                    "Get_HIE_Chief_Exec": {
                      "runAfter": {},
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "leidos_delegatedauthorityapprovaltables",
                          "recordId": "@triggerOutputs()?['body/_leidos_hiechiefexecutive_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_to_HIE_Chief_Exec": {
                      "runAfter": {
                        "Get_HIE_Chief_Exec": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Budget Delegated Authority",
                        "value": "@outputs('Get_HIE_Chief_Exec')?['body/_leidos_userrecord_value']"
                      }
                    }
                  }
                },
                "HIE_Board": {
                  "case": 445260005,
                  "actions": {
                    "Get_HIE_Board": {
                      "runAfter": {},
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "leidos_delegatedauthorityapprovaltables",
                          "recordId": "@triggerOutputs()?['body/_leidos_hieboard_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_HIE_Board": {
                      "runAfter": {
                        "Get_HIE_Board": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Budget Delegated Authority",
                        "value": "@outputs('Get_HIE_Board')?['body/_leidos_userrecord_value']"
                      }
                    }
                  }
                },
                "Programme_Manager": {
                  "case": 445260007,
                  "actions": {
                    "Get_PM_From_Del_Auth": {
                      "runAfter": {},
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "leidos_delegatedauthorityapprovaltables",
                          "recordId": "@triggerOutputs()?['body/_leidos_programmemanager_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_variable": {
                      "runAfter": {
                        "Get_PM_From_Del_Auth": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Budget Delegated Authority",
                        "value": "@outputs('Get_PM_From_Del_Auth')?['body/_leidos_userrecord_value']"
                      }
                    }
                  }
                },
                "Top_Slice": {
                  "case": 445260008,
                  "actions": {
                    "Get_Top_Slice_Leadership_team": {
                      "runAfter": {},
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "leidos_delegatedauthorityapprovaltables",
                          "recordId": "@triggerOutputs()?['body/_leidos_leadershipteamtopslice_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_Top_Slice_Leadership_Team": {
                      "runAfter": {
                        "Get_Top_Slice_Leadership_team": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Budget Delegated Authority",
                        "value": "@outputs('Get_Top_Slice_Leadership_team')?['body/_leidos_userrecord_value']"
                      }
                    }
                  }
                }
              },
              "default": {
                "actions": {
                  "Terminate": {
                    "runAfter": {},
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Failed",
                      "runError": {
                        "message": "No valid Justification Path"
                      }
                    }
                  }
                }
              },
              "expression": "@triggerOutputs()?['body/leidos_projectjustificationpath']",
              "metadata": {
                "operationMetadataId": "a9e1b416-349e-4a5f-a49c-ef2081db6898"
              },
              "type": "Switch"
            },
            "Update_Application_with_Submit_Details": {
              "runAfter": {
                "Switch": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e90bf696-006f-4866-8908-56bd9b086523"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "leidos_applications",
                  "recordId": "@triggerOutputs()?['body/leidos_applicationid']",
                  "item/leidos_budgetapprovalrequestedon": "@utcNow()",
                  "item/statecode": 1,
                  "item/statuscode": 445260007
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Delegated_Authority_Record": {
              "runAfter": {
                "Update_Application_with_Submit_Details": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "06375165-0860-470a-a50c-057047adc0a1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "recordId": "@variables('Budget Delegated Authority')"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Submitted_by": {
              "runAfter": {
                "Get_Delegated_Authority_Record": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c7171bdc-61ae-48c8-95b4-e6b29eaef91c"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "recordId": "@outputs('Update_Application_with_Submit_Details')?['body/_leidos_submittedby_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "List_BPF_instance": {
              "runAfter": {
                "Get_Submitted_by": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b782de35-f896-429d-9871-c6caaa99210c"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "new_bpfapplicationbusinessprocessflows",
                  "$filter": "_bpf_leidos_applicationid_value eq  '@{triggerOutputs()?['body/leidos_applicationid']}'",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "BPF_Application_ID": {
              "runAfter": {
                "List_BPF_instance": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3ff098ac-b8fc-492b-ab12-e3c526ee7909"
              },
              "type": "Compose",
              "inputs": "@outputs('List_BPF_instance')?['body/value']?[0]?.businessprocessflowinstanceid"
            },
            "Get_first_project's_url": {
              "runAfter": {
                "Get_Project_record": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "edc69532-9c34-4151-970c-cb15e318c04e"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "b0db1a8a-c449-ea11-a812-000d3a0ba151"
                },
                "body": {
                  "EntityId_Inputs": "@outputs('Get_Project_record')?['body/leidos_projectid']",
                  "EntityType_Value": "leidos_project"
                }
              }
            },
            "BPF_Project_ID": {
              "runAfter": {
                "BPF_Application_ID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "47f0e489-85ae-49d5-bfcf-263dab1bd48e"
              },
              "type": "Compose",
              "inputs": "@outputs('List_BPF_instance')?['body/value']?[0]?._bpf_leidos_projectid_value"
            },
            "Get_Project_record": {
              "runAfter": {
                "BPF_Project_ID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "886a07be-3c84-4e14-8012-3f47bfd70588"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "leidos_projects",
                  "recordId": "@outputs('BPF_Project_ID')"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "96f95021-aaf3-4962-a183-5cb75f48fee3"
          },
          "type": "Scope"
        },
        "Initialize_variable": {
          "runAfter": {
            "List_Projects_": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bde767e3-b5f1-486d-9d60-aa7f05a55dc2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Budget Delegated Authority",
                "type": "String",
                "value": "@triggerOutputs()?['body/_leidos_budgetapprovaldelegatedauthority_value']"
              }
            ]
          }
        },
        "Create_Task_of_Responses": {
          "foreach": "@outputs('Start_and_wait_for_an_approval')?['body/responses']",
          "actions": {
            "Create_Task": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "de34f303-0476-46eb-9c3c-faf4f561e3eb"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "tasks",
                  "item/subject": "Project Approval Process: Result",
                  "item/description": "\n\nDelegated Authority: @{items('Create_Task_of_Responses')?['responder/displayName']}\nDelegated Authority Decision: @{outputs('Start_and_wait_for_an_approval')?['body/outcome']}\nDelegated Authority Comments: @{items('Create_Task_of_Responses')?['comments']}\nDelegated Authority Decision Date:@{formatDateTime(utcNow(), 'dd/MM/yyyy')}",
                  "item/regardingobjectid_leidos_application_task@odata.bind": "/leidos_applications(@{triggerOutputs()?['body/leidos_applicationid']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Condition": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dbded13f-de43-4897-9150-23451068c655"
          },
          "type": "Foreach"
        },
        "Loop_thru_Projects_Set_as_Inactive": {
          "foreach": "@outputs('List_Projects_')?['body/value']",
          "actions": {
            "update_Projects_to_inactive": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a55db6b2-fa3a-464a-b873-4b5a68c5da2e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "leidos_projects",
                  "recordId": "@items('Loop_thru_Projects_Set_as_Inactive')?['leidos_projectid']",
                  "item/statecode": 1,
                  "item/statuscode": 445260008
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_all_of_the_Data_required_for_the_Approval": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "125d17a4-10d7-4b5b-a8fa-ac5f784b47c1"
          },
          "type": "Foreach",
          "description": "Set to Awaiting Approval to Lock the Projects, do after data so fail safe"
        },
        "Scope:__Approval_Time_Out": {
          "actions": {
            "Update_Application_for_resubmit": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "1c3e6bf2-2b41-4d94-b8ee-a41fe18c1817"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "leidos_applications",
                  "recordId": "@outputs('Update_Application_with_Submit_Details')?['body/leidos_applicationid']",
                  "item/leidos_budgetapprovalrequestedon": "@null",
                  "item/statecode": 0,
                  "item/statuscode": 445260009,
                  "item/leidos_submitapplicationforbudgetapproval": false
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Send_an_email_(V2)_2": {
              "runAfter": {
                "Update_Application_for_resubmit": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "db6d4cbf-1868-48e6-8c2d-b6067ad2210c"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365_1",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@outputs('Get_Submitted_by')?['body/internalemailaddress']",
                  "emailMessage/Subject": "Appllication Approval timed Out for @{triggerOutputs()?['body/leidos_applicationreference']}",
                  "emailMessage/Body": "<p>Approval Process has timed out, please resubmit<br>\n<br>\n@{body('Get_first_project''s_url')?['entityurl']}</p>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Terminate_2": {
              "runAfter": {
                "Send_an_email_(V2)_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "70b6f273-8c51-4b3b-a9d4-af39740caa5e"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              }
            }
          },
          "runAfter": {
            "Start_and_wait_for_an_approval": [
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "9d390d4e-d0c4-43fc-9d1f-7f91eeba9973"
          },
          "type": "Scope"
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}