HIE_CDS_CI/Workflows/LegalUndertaking-Flow-SubmitforESignature-1A3CF23E-440D-EB11-A813-000D3A7FEDBE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnLegal"},"api":{"name":"shared_commondataserviceforapps"}},"shared_adobesign":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_sharedadobesign_30b2a"},"api":{"name":"shared_adobesign"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"On_Update_Submit_for__E_signature":{"metadata":{"operationMetadataId":"67d5a304-a01e-4e6d-b990-7b2a5f8d184c"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_legalundertaking","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_submitforesignature","subscriptionRequest/filterexpression":"leidos_submitforesignature eq true","subscriptionRequest/name":"1a3cf23e-440d-eb11-a813-000d3a7fedbe"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Data_for_Adobe_Sign":{"actions":{"Compose":{"runAfter":{},"metadata":{"operationMetadataId":"492bf859-5024-43e0-af4a-38b963435139"},"type":"Compose","inputs":"@triggerOutputs()?['body/leidos_clientsignatoryroute']"},"Get_Client_Signatory":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"2fd1852c-bc2c-425a-aadf-de514ef79e19"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@triggerOutputs()?['body/_leidos_clientcontact_value']"},"authentication":"@parameters('$authentication')"}},"Client_Email":{"runAfter":{"Get_Client_Signatory":["Succeeded"]},"metadata":{"operationMetadataId":"13fccfe5-4773-4482-a2c9-cd649adb309b"},"type":"SetVariable","inputs":{"name":"Client Email Address","value":"@outputs('Get_Client_Signatory')?['body/emailaddress1']"}},"List_Notes":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"d2935efb-260f-46e0-8f31-7bc5d95ebc92"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"annotation\">\n    <attribute name=\"subject\" />\n    <attribute name=\"notetext\" />\n    <attribute name=\"filename\" />\n    <attribute name=\"annotationid\" />\n    <attribute name=\"isdocument\" />\n    <attribute name=\"filesize\" />\n    <order attribute=\"subject\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"isdocument\" operator=\"eq\" value=\"1\" />\n    </filter>\n    <link-entity name=\"leidos_documentrequirement\" from=\"leidos_documentrequirementid\" to=\"objectid\" link-type=\"inner\" alias=\"an\">\n      <filter type=\"and\">\n        <condition attribute=\"leidos_requirementtype\" operator=\"eq\" value=\"445260002\" />\n      </filter>\n      <link-entity name=\"leidos_legalundertaking\" from=\"leidos_legalundertakingid\" to=\"leidos_legalundertaking\" link-type=\"inner\" alias=\"ao\">\n        <filter type=\"and\">\n          <condition attribute=\"leidos_legalundertakingid\" operator=\"eq\"  value=\"@{triggerOutputs()?['body/leidos_legalundertakingid']}\" />\n        </filter>\n      </link-entity>\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Number_of_Returns":{"runAfter":{"List_Notes":["Succeeded"]},"metadata":{"operationMetadataId":"eb39320b-a6e6-456d-8a4a-ebf7d5bcd508"},"type":"Compose","inputs":"@length(outputs('List_Notes')?['body/value'])"},"Condition":{"actions":{"Get_First_Note":{"runAfter":{},"metadata":{"operationMetadataId":"9f461a9c-a91c-4123-98d6-c838928c9a96"},"type":"Compose","inputs":"@first(outputs('List_Notes')?['body/value'])"},"Parse_JSON":{"runAfter":{"Get_First_Note":["Succeeded"]},"metadata":{"operationMetadataId":"a87dd74a-c729-419d-9300-363dbc0a7b07"},"type":"ParseJson","inputs":{"content":"@outputs('Get_First_Note')","schema":{"type":"object","properties":{"@@odata.type":{"type":"string"},"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"@@odata.editLink":{"type":"string"},"filename":{"type":"string"},"annotationid@odata.type":{"type":"string"},"annotationid":{"type":"string"},"isdocument@OData.Community.Display.V1.FormattedValue":{"type":"string"},"isdocument":{"type":"boolean"},"filesize@OData.Community.Display.V1.FormattedValue":{"type":"string"},"filesize":{"type":"integer"}}}}},"Note_ID":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"deafb684-9010-44c6-8fa9-06a94f0d5ea0"},"type":"Compose","inputs":"@body('Parse_JSON')?['annotationid']"},"Get_Note":{"runAfter":{"Note_ID":["Succeeded"]},"metadata":{"operationMetadataId":"0633bb10-5947-4e0d-933e-bf74295d7491"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","recordId":"@outputs('Note_ID')"},"authentication":"@parameters('$authentication')"}},"File_for_Signature":{"runAfter":{"Get_Note":["Succeeded"]},"metadata":{"operationMetadataId":"150300a1-b06b-45f1-b991-4b10814535c5"},"type":"Compose","inputs":"@base64ToBinary(outputs('Get_Note')?['body/documentbody'])"},"Upload_a_document_and_get_a_document_ID":{"runAfter":{"File_for_Signature":["Succeeded"]},"metadata":{"operationMetadataId":"39908191-c1ba-4bbd-aed2-9b90c0b4fcf8"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_adobesign","operationId":"CreateTransientDocument_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_adobesign"},"parameters":{"File-Name":"@outputs('Get_Note')?['body/filename']","File/body":"@outputs('File_for_Signature')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Number_of_Returns":["Succeeded"]},"else":{"actions":{"Reset":{"runAfter":{},"metadata":{"operationMetadataId":"14c3f246-e81d-4ee4-9d9a-133c6442fcc7"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_legalundertakings","recordId":"@triggerOutputs()?['body/leidos_legalundertakingid']","item/leidos_createanoteorsignature":false,"item/leidos_submitforesignature":false},"authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Reset":["Succeeded"]},"metadata":{"operationMetadataId":"076f9bc7-e5d5-4ae8-a3bc-143fb79c75bc"},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"greater":["@outputs('Number_of_Returns')",0]},"metadata":{"operationMetadataId":"ed19741b-9358-4426-aaa1-c0a277c8877d"},"type":"If"},"Get_DA_Table":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"f162630c-d8f3-482d-8f8c-91cca4c42dd8"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_hiecontractsignatory_value']"},"authentication":"@parameters('$authentication')"}},"Get_DA_User":{"runAfter":{"Get_DA_Table":["Succeeded"]},"metadata":{"operationMetadataId":"10777e81-5cf4-4fe7-80bf-8885ae2c77aa"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_DA_Table')?['body/_leidos_userrecord_value']"},"authentication":"@parameters('$authentication')"}},"Set_HIE_Signatory":{"runAfter":{"Get_DA_User":["Succeeded"]},"metadata":{"operationMetadataId":"d65edfeb-e1b7-4f23-8ae1-f769d2f88804"},"type":"SetVariable","inputs":{"name":"HIE Signatory Email Address","value":"@outputs('Get_DA_User')?['body/internalemailaddress']"}}},"runAfter":{"Client_Signatory":["Succeeded"]},"metadata":{"operationMetadataId":"6f0b617c-a7b9-469c-8419-026e77e6caed"},"type":"Scope"},"HIE_Signatory":{"runAfter":{},"metadata":{"operationMetadataId":"6521cad9-26ca-45a4-8eae-7ff6e0ac0d2e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"HIE Signatory Email Address","type":"string"}]}},"Client_Signatory":{"runAfter":{"HIE_Signatory":["Succeeded"]},"metadata":{"operationMetadataId":"23150552-fd26-4455-856d-b8bf6469654b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Client Email Address","type":"string"}]}},"Create_an_agreement_from_an_uploaded_document_and_send_for_signature":{"runAfter":{"Get_Data_for_Adobe_Sign":["Succeeded"]},"metadata":{"operationMetadataId":"5452c3ab-1a13-4fd9-9404-c4bd5c290dbf"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_adobesign","operationId":"CreateAgreementById_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_adobesign"},"parameters":{"AgreementCreationInfoIdV6/name":"Legal Undertaking @{triggerOutputs()?['body/leidos_name']}","AgreementCreationInfoIdV6/fileInfos":[{"transientDocumentId":"@outputs('Upload_a_document_and_get_a_document_ID')?['body/transientDocumentId']"}],"AgreementCreationInfoIdV6/signatureType":"ESIGN","AgreementCreationInfoIdV6/participantSetsInfo":[{"memberInfos":[{"email":"@variables('HIE Signatory Email Address')"}],"order":1,"role":"SIGNER"},{"memberInfos":[{"email":"@variables('Client Email Address')"}],"order":2,"role":"SIGNER"}],"AgreementCreationInfoIdV6/message":"Please review and complete this document","AgreementCreationInfoIdV6/reminderFrequency":"WEEKLY_UNTIL_SIGNED"},"authentication":"@parameters('$authentication')"}},"When_an_agreement_workflow_is_completed_successfully":{"runAfter":{"Create_an_agreement_from_an_uploaded_document_and_send_for_signature":["Succeeded"]},"metadata":{"operationMetadataId":"b8652d33-d060-4a33-9b90-891a7db7d83f"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_adobesign","operationId":"CreateWebhookForAgreementSignedEvent","apiId":"/providers/Microsoft.PowerApps/apis/shared_adobesign"},"parameters":{"WebhookCreationInfo/name":"Legal Undertaking @{triggerOutputs()?['body/leidos_name']}","WebhookCreationInfo/scope":"A specific agreement","WebhookCreationInfo/resourceId":"@outputs('Create_an_agreement_from_an_uploaded_document_and_send_for_signature')?['body/id']","WebhookCreationInfo/webhookConditionalParams/webhookAgreementEvents/includeDetailedInfo":true,"WebhookCreationInfo/webhookConditionalParams/webhookAgreementEvents/includeParticipantsInfo":true,"WebhookCreationInfo/webhookConditionalParams/webhookAgreementEvents/includeDocumentsInfo":true,"WebhookCreationInfo/webhookConditionalParams/webhookAgreementEvents/includeSignedDocuments":true},"authentication":"@parameters('$authentication')"}},"When_it_is_signed":{"runAfter":{"Create_an_agreement_from_an_uploaded_document_and_send_for_signature":["Succeeded"]},"metadata":{"operationMetadataId":"2b2cd808-b8f7-46d6-b35f-f4294330c0ba"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_adobesign","operationId":"CreateWebhookGeneric","apiId":"/providers/Microsoft.PowerApps/apis/shared_adobesign"},"parameters":{"WebhookCreationInfo/name":"Agreement is Signed","WebhookCreationInfo/scope":"A specific resource","WebhookCreationInfo/webhookSubscriptionEvents":["When a participant completes their action"],"WebhookCreationInfo/resourceType":"Agreement","WebhookCreationInfo/resourceId":"@outputs('Create_an_agreement_from_an_uploaded_document_and_send_for_signature')?['body/id']","WebhookCreationInfo/webhookConditionalParams/webhookAgreementEvents/includeDetailedInfo":true,"WebhookCreationInfo/webhookConditionalParams/webhookAgreementEvents/includeParticipantsInfo":true,"WebhookCreationInfo/webhookConditionalParams/webhookAgreementEvents/includeDocumentsInfo":false,"WebhookCreationInfo/webhookConditionalParams/webhookAgreementEvents/includeSignedDocuments":false},"authentication":"@parameters('$authentication')"}},"Update_Legal_Undertaking_Date":{"runAfter":{"When_it_is_signed":["Succeeded"]},"metadata":{"operationMetadataId":"642ff037-84eb-4d6b-94b6-3fb386345522"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_legalundertakings","recordId":"@triggerOutputs()?['body/leidos_legalundertakingid']","item/leidos_dateissuedtoclient":"@utcNow()"},"authentication":"@parameters('$authentication')"}},"Update_Legal_Undertaking_Status_Reason":{"runAfter":{"Get_Data_for_Adobe_Sign":["Succeeded"]},"metadata":{"operationMetadataId":"995282b6-a257-46d1-a85e-8e5f317e0c0b"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_legalundertakings","recordId":"@triggerOutputs()?['body/leidos_legalundertakingid']","item/statecode":1,"item/statuscode":445260007},"authentication":"@parameters('$authentication')"}},"If_Scope_fails_Reset_the_Record":{"runAfter":{"Get_Data_for_Adobe_Sign":["Failed"]},"metadata":{"operationMetadataId":"b8a83ea6-3bb1-4389-a60d-05e4a7c1add4"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_legalundertakings","recordId":"@triggerOutputs()?['body/leidos_legalundertakingid']","item/leidos_createanoteorsignature":false,"item/statecode":0,"item/statuscode":1,"item/leidos_submitforesignature":false},"authentication":"@parameters('$authentication')"}},"Post_Receipt_Tasks":{"actions":{"Get_a_PDF_of_a_signed_agreement":{"runAfter":{},"metadata":{"operationMetadataId":"7c7f265d-9fc5-4450-b095-f6bc105c935c"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_adobesign","operationId":"GetCombinedDocument_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_adobesign"},"parameters":{"agreementId":"@outputs('Create_an_agreement_from_an_uploaded_document_and_send_for_signature')?['body/id']"},"authentication":"@parameters('$authentication')"}},"Create_Note_with_Attachment":{"runAfter":{"Get_a_PDF_of_a_signed_agreement":["Succeeded"]},"metadata":{"operationMetadataId":"f6df0ff6-41f4-4925-b62d-7e64be6d1231"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","item/subject":"Signed Agreement PDF","item/notetext":"A PDF with the Signed Agreement","item/isdocument":true,"item/documentbody":"@base64(outputs('Get_a_PDF_of_a_signed_agreement')?['body'])","item/filename":"Signed Agreement.pdf","item/objectid_leidos_legalundertaking@odata.bind":"/leidos_legalundertakings(@{triggerOutputs()?['body/leidos_legalundertakingid']})"},"authentication":"@parameters('$authentication')"}},"Update_Legal_Undertaking_Status_Reason__to_Signed":{"runAfter":{"Get_a_PDF_of_a_signed_agreement":["Succeeded"]},"metadata":{"operationMetadataId":"1ef4ba1e-3c3d-4552-8314-24c43246d74d"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_legalundertakings","recordId":"@triggerOutputs()?['body/leidos_legalundertakingid']","item/leidos_datedocumentsigned":"@utcNow()","item/leidos_datereturnedfromclient":"@utcNow()","item/statecode":0,"item/statuscode":445260008},"authentication":"@parameters('$authentication')"}},"Get_Owner":{"runAfter":{"Get_a_PDF_of_a_signed_agreement":["Succeeded"]},"metadata":{"operationMetadataId":"8ccb1dce-dc59-4f01-850f-9d92886d47a7"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Create_Email_for_Owner":{"runAfter":{"Get_Owner":["Succeeded"]},"metadata":{"operationMetadataId":"ec01eb16-b292-4d2e-baec-5f0375914ff2"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","item/activitypointer_activity_parties":[{"participationtypemask":2,"partyid@odata.bind":"/systemusers(@{outputs('Get_Owner')?['body/systemuserid']})"}],"item/description":"Legal Undertaking Signed Documents have been received","item/regardingobjectid_leidos_legalundertaking_email@odata.bind":"/leidos_legalundertakings(@{triggerOutputs()?['body/leidos_legalundertakingid']})"},"authentication":"@parameters('$authentication')"}},"Send_Email":{"runAfter":{"Create_Email_for_Owner":["Succeeded"]},"metadata":{"operationMetadataId":"c5afe2bb-529e-48cb-8dd7-06b46312b1eb"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"PerformBoundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","actionName":"Microsoft.Dynamics.CRM.SendEmail","recordId":"@outputs('Create_Email_for_Owner')?['body/activityid']","item/IssueSend":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{"When_an_agreement_workflow_is_completed_successfully":["Succeeded"]},"metadata":{"operationMetadataId":"7443c99c-7e5b-4918-ab71-6dafb554b0af"},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}