HIE_CDS_CI/Workflows/Loan-Flow-GenerateDrawdownEmail-319B42CA-148B-EB11-B1AC-000D3AD511F1.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnLoan"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Generate_Drawdown_Email":{"metadata":{"operationMetadataId":"ab370117-9343-4773-a772-b4d8ae4aa985"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_loan","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_generatedrawdownemail","subscriptionRequest/filterexpression":"(leidos_generatedrawdownemail eq true)","subscriptionRequest/runas":1},"authentication":"@parameters('$authentication')"}}},"actions":{"Scope":{"actions":{"Get_Parent_Project":{"runAfter":{},"metadata":{"operationMetadataId":"d64e58d6-6852-4da8-97ca-3200fc1073e6"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']"},"authentication":"@parameters('$authentication')"}},"Get_Parent_Account":{"runAfter":{"Get_Parent_Project":["Succeeded"]},"metadata":{"operationMetadataId":"63c425be-0bfd-4cd3-829c-eb06017807c1"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Parent_Project')?['body/_leidos_parentaccount_value']"},"authentication":"@parameters('$authentication')"}},"Get_Primary_Contact":{"runAfter":{"Get_Parent_Account":["Succeeded"]},"metadata":{"operationMetadataId":"4bf413de-7f6c-455d-9fed-3ad763ab3e19"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('Get_Parent_Account')?['body/_primarycontactid_value']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"metadata":{"operationMetadataId":"f28c010a-46ee-490a-826c-baa2efeb2110"},"type":"Scope"},"Create_Draft_Email_Message":{"runAfter":{"Scope":["Succeeded"]},"metadata":{"operationMetadataId":"df61b52b-6b53-4744-8586-751737d9578c"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","item/activitypointer_activity_parties":[{"participationtypemask":2,"partyid@odata.bind":"/contacts(@{outputs('Get_Primary_Contact')?['body/contactid']})"}],"item/leidos_copyasportalmessage":true,"item/description":"Dear  @{outputs('Get_Primary_Contact')?['body/firstname']} <br>\n<p>\nPlease find attached the loan drawdown notice.  This should be completed, signed and returned to us so that we can release the loan funds.\nThe loan funds will only be released upon completion of any conditions as noted in the loan agreement and legal undertaking.\n</p>\n\nProject Manager","item/regardingobjectid_leidos_project_email@odata.bind":"/leidos_projects(@{outputs('Get_Parent_Project')?['body/leidos_projectid']})","item/subject":"Drawdown Notice for @{triggerOutputs()?['body/leidos_name']}"},"authentication":"@parameters('$authentication')"}},"Update_Loan_to_reset_toggle":{"runAfter":{"Create_Draft_Email_Message":["Succeeded"]},"metadata":{"operationMetadataId":"ba7b87fa-e7ba-4b70-af08-e6a5acaf7587"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_loans","recordId":"@triggerOutputs()?['body/leidos_loanid']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}