HIE_CDS_CI/Workflows/PipelineProject-Flow-NFIEmailApprovalProcess-0173199E-0A15-EB11-A813-0022483FAE82.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnPipleine"},"api":{"name":"shared_commondataserviceforapps"}},"shared_approvals_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_Approvals"},"api":{"name":"shared_approvals"}},"shared_office365":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnOffice365Outlook"},"api":{"name":"shared_office365"}},"shared_office365_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnOffice365Outlook3"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Pipeline_Project_-_NFI_Email_Sign_Off":{"metadata":{"operationMetadataId":"c6ee6ba1-9c90-457b-a53b-30ec1bc0b60e"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_pipelineproject","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_submitnfiemailapproval","subscriptionRequest/filterexpression":"leidos_submitnfiemailapproval eq true"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Process_Data":{"actions":{"Get_Account":{"runAfter":{},"metadata":{"operationMetadataId":"e1745405-d406-4a47-b5aa-834b291fadc5"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_leidos_client_value']"},"authentication":"@parameters('$authentication')"}},"Get_Submitted_By":{"runAfter":{"Get_Account":["Succeeded"]},"metadata":{"operationMetadataId":"6c5fb4f7-3082-4ffc-ad28-3638a0ff7a7d"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_leidos_approvalsubmittedby_value']"},"authentication":"@parameters('$authentication')"}},"Get_Record_URL":{"runAfter":{"Get_Submitted_By":["Succeeded"]},"metadata":{"operationMetadataId":"f329e398-3251-480e-865a-b78aee9f6221"},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/leidos_pipelineprojectid']","EntityType_Value":"leidos_pipelineproject"}}},"List_Projects":{"runAfter":{"Get_Submitted_By":["Succeeded"]},"metadata":{"operationMetadataId":"1bba66b8-498c-424e-8bbd-0f41bfb1725d"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","fetchXml":"<fetch top=\"50\" >\n  <entity name=\"leidos_project\" >\n    <attribute name=\"leidos_projectid\" />\n    <link-entity name=\"leidos_bpf_pipelineproject\" from=\"bpf_leidos_projectid\" to=\"leidos_projectid\" >\n      <link-entity name=\"leidos_pipelineproject\" from=\"leidos_pipelineprojectid\" to=\"bpf_leidos_pipelineprojectid\" >\n        <filter type=\"and\" >\n          <condition attribute=\"leidos_pipelineprojectid\" operator=\"eq\" value=\"@{triggerOutputs()?['body/leidos_pipelineprojectid']}\" />\n        </filter>\n      </link-entity>\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Get_First_Project":{"runAfter":{"List_Projects":["Succeeded"]},"metadata":{"operationMetadataId":"7fe7a8fd-47da-4280-b532-ae838feb0a5c"},"type":"Compose","inputs":"@First(outputs('List_Projects')?['body/value'])"},"Parse_JSON_Projects":{"runAfter":{"Get_First_Project":["Succeeded"]},"metadata":{"operationMetadataId":"8b9029e3-1646-492a-8b5a-92ef68800905"},"type":"ParseJson","inputs":{"content":"@outputs('Get_First_Project')","schema":{"type":"object","properties":{"@@odata.type":{"type":"string"},"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"@@odata.editLink":{"type":"string"},"leidos_projectid@odata.type":{"type":"string"},"leidos_projectid":{"type":"string"},"_leidos_supportitemtype_value@OData.Community.Display.V1.FormattedValue":{"type":"string"},"_leidos_supportitemtype_value@Microsoft.Dynamics.CRM.associatednavigationproperty":{"type":"string"},"_leidos_supportitemtype_value@Microsoft.Dynamics.CRM.lookuplogicalname":{"type":"string"},"_leidos_supportitemtype_value@odata.type":{"type":"string"},"_leidos_supportitemtype_value":{"type":"string"},"leidos_SupportItemType@odata.associationLink":{"type":"string"},"leidos_SupportItemType@odata.navigationLink":{"type":"string"}}}}},"Project_ID":{"runAfter":{"Parse_JSON_Projects":["Succeeded"]},"metadata":{"operationMetadataId":"2c313565-36c8-460b-a638-6e62f9f21012"},"type":"Compose","inputs":"@body('Parse_JSON_Projects')?['leidos_projectid']"},"Get_Project":{"runAfter":{"Project_ID":["Succeeded"]},"metadata":{"operationMetadataId":"a12a0077-0592-4f66-8378-a634b7c2d916"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@outputs('Project_ID')"},"authentication":"@parameters('$authentication')"}},"Get_Pipeline_Owner":{"runAfter":{"Get_Submitted_By":["Succeeded"]},"metadata":{"operationMetadataId":"e27480a9-37aa-475f-b273-fd965b056eb3"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Get_Team":{"runAfter":{"Get_Pipeline_Owner":["Succeeded"]},"metadata":{"operationMetadataId":"43230fb1-060b-41e3-8618-6be24d05710e"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_hieteams","recordId":"@triggerOutputs()?['body/_leidos_team_value']"},"authentication":"@parameters('$authentication')"}},"Get_Delegated_Authority_Table":{"runAfter":{"Get_Team":["Succeeded"]},"metadata":{"operationMetadataId":"e989df76-cee8-4074-9752-dbae5eea1589"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_programmemanager_value']"},"authentication":"@parameters('$authentication')"}},"Get_Delegated_Authority_for_Sign_Off":{"runAfter":{"Get_Delegated_Authority_Table":["Succeeded"]},"metadata":{"operationMetadataId":"d4bfd55b-f0ea-422c-b0c9-8258d0ca240b"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Delegated_Authority_Table')?['body/_leidos_userrecord_value']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"metadata":{"operationMetadataId":"9ac7f635-2f98-441f-8287-b1c8686fd3f6"},"type":"Scope"},"Set_Submitted_on_and_Status_Reason":{"runAfter":{"Get_Process_Data":["Succeeded"]},"metadata":{"operationMetadataId":"d452353f-d770-4b76-a7a0-2124040894b0"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_pipelineprojects","recordId":"@triggerOutputs()?['body/leidos_pipelineprojectid']","item/leidos_isaapprovalrequestedon":"@utcNow()","item/statecode":1,"item/statuscode":445260004},"authentication":"@parameters('$authentication')"}},"Start_and_wait_for_an_approval":{"runAfter":{"Get_Process_Data":["Succeeded"]},"limit":{"timeout":"P3D"},"metadata":{"operationMetadataId":"b7d64226-a244-4f8c-b82d-bfab6ee07fe8"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals_1","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Approve Pipeline Project","Reject Pipeline Project","Defer Pipeline Project"],"WebhookApprovalCreationInput/title":"Request for pipeline decision for @{outputs('Get_Account')?['body/name']}","WebhookApprovalCreationInput/assignedTo":"@{outputs('Get_Delegated_Authority_for_Sign_Off')?['body/internalemailaddress']};","WebhookApprovalCreationInput/details":"### Email Approval request for Pipeline:  @{triggerOutputs()?['body/leidos_name']}  ###\n -  Client Name : @{outputs('Get_Account')?['body/name']}\n -  Project name : @{outputs('Get_Project')?['body/leidos_name']}\n -  Anticipated Outcomes : @{triggerOutputs()?['body/leidos_anticipatedoutcomes']}\n -  Indicative Gross Cost: @{outputs('Get_Project')?['body/leidos_indicativegrosscost']}\n -  Start Date @{outputs('Get_Project')?['body/leidos_projectstartdate']}\n -  End Date : @{outputs('Get_Project')?['body/leidos_projectenddate']}\n -  Team: @{outputs('Get_Team')?['body/leidos_name']}\n -  Client reason for undertaking Project : @{triggerOutputs()?['body/leidos_clientreasonsforundertakingproject']}\n -  Recommendation: @{if(triggerOutputs()?['body/leidos_recommendation'],'Approve','Reject')}","WebhookApprovalCreationInput/itemLink":"@outputs('Get_Record_URL')?['Body']?['entityurl']","WebhookApprovalCreationInput/itemLinkDescription":"@triggerOutputs()?['body/leidos_name']","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Pipeline_Project_-_Child_Flow_-_Process_Approval_Decision":{"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"metadata":{"operationMetadataId":"cd46d6ab-dc1d-4565-8d3c-836a19f8c8ed"},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"5e83fa4c-67aa-ea11-a812-000d3a7f1bbb"},"body":{"ApprovalOutcome_Inputs":"@outputs('Start_and_wait_for_an_approval')?['body/outcome']","PipelineID_Inputs":"@triggerOutputs()?['body/leidos_pipelineprojectid']"}}},"Email_result_to_Account_manager":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Send_an_email_(V2)_2":{"runAfter":{},"metadata":{"operationMetadataId":"2d1db8da-7dc1-43c9-8fd6-3dd7df658e91"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_Pipeline_Owner')?['body/internalemailaddress']","emailMessage/Subject":"Approval Request for Pipeline for @{triggerOutputs()?['body/leidos_name']}","emailMessage/Body":"<p>Delegated Authority Name : &nbsp;@{items('Email_result_to_Account_manager')?['responder/displayName']} &nbsp;<br>\n<br>\nDelegated Authority Decision: &nbsp;&nbsp;&nbsp;@{outputs('Start_and_wait_for_an_approval')?['body/outcome']}<br>\n<br>\nDelegated Authority Comments: @{items('Email_result_to_Account_manager')?['comments']}<br>\n<br>\nDelegated Authority Decision Date : &nbsp;@{formatDateTime(utcNow(), 'dd/MM/yyyy')}<br>\n<br>\nRecord Link :<a href=\"@{outputs('Get_Record_URL')?['Body']?['entityurl']}\">@{triggerOutputs()?['body/leidos_name']}</a><br>\n</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Pipeline_Project_-_Child_Flow_-_Process_Approval_Decision":["Succeeded"]},"metadata":{"operationMetadataId":"b2b47a8b-68a4-4659-a239-692adb608cb9"},"type":"Foreach"},"Create_Task_with_result_for_record":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Create_Task_to_capture_Response":{"runAfter":{},"metadata":{"operationMetadataId":"40f47be2-8d42-49b9-b6b4-b3ff9d4b9a48"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"tasks","item/subject":"Request for Pipeline decision:  Request Response","item/description":"Request Details - @{outputs('Start_and_wait_for_an_approval')?['body/details']}  \n\nRequested On - @{items('Create_Task_with_result_for_record')?['requestDate']}\n\nRequest Delegated Authority - @{items('Create_Task_with_result_for_record')?['responder/displayName']}  \n\nDelegated Authority Outcome - @{items('Create_Task_with_result_for_record')?['approverResponse']}\n\nDelegated Authority Comments - @{items('Create_Task_with_result_for_record')?['comments']}  \n\nDelegated Authority Decision Date: @{formatDateTime(utcNow(), 'dd/MM/yyyy')}\n","item/regardingobjectid_leidos_pipelineproject_task@odata.bind":"/leidos_pipelineprojects(@{triggerOutputs()?['body/leidos_pipelineprojectid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Pipeline_Project_-_Child_Flow_-_Process_Approval_Decision":["Succeeded"]},"metadata":{"operationMetadataId":"4ff62f1a-dbde-404c-9911-eae40eeba9a5"},"type":"Foreach"},"Update_Pipeline_if_data_fails":{"runAfter":{"Get_Process_Data":["Failed"]},"metadata":{"operationMetadataId":"8ffe94e3-929c-4b95-bb4d-cc567f7e37cd"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_pipelineprojects","recordId":"@triggerOutputs()?['body/leidos_pipelineprojectid']","item/leidos_submitnfiemailapproval":false},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Update_Pipeline_if_data_fails":["Succeeded"]},"metadata":{"operationMetadataId":"3b8a93bc-7bff-406d-9ed6-c27e63cbcfe9"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_Submitted_By')?['body/internalemailaddress']","emailMessage/Subject":"Pipeline Project Approval Submission failed","emailMessage/Body":"<p>The submission for @{outputs('Update_Pipeline_if_data_fails')?['body/leidos_pipelineprojectreference']} has failed, please check all the data is present and resubmit.</p>"},"authentication":"@parameters('$authentication')"}},"Scope:_Approval_Time_Out":{"actions":{"Update_Pipeline_to_allow_resubmit":{"runAfter":{},"metadata":{"operationMetadataId":"dea7944a-6a92-439b-8769-d6c0da4e1c26"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_pipelineprojects","recordId":"@triggerOutputs()?['body/leidos_pipelineprojectid']","item/leidos_isaapprovalrequestedon":"@null","item/leidos_submitnfiemailapproval":false},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_3":{"runAfter":{"Update_Pipeline_to_allow_resubmit":["Succeeded"]},"metadata":{"operationMetadataId":"3b8a93bc-7bff-406d-9ed6-c27e63cbcfe9"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_Submitted_By')?['body/internalemailaddress']","emailMessage/Subject":"Pipeline Project Approval Submission failed","emailMessage/Body":"<p>Request for approal has times out: @{triggerOutputs()?['body/leidos_pipelineprojectreference']}</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"metadata":{"operationMetadataId":"d63225e0-bd95-43cf-9a6d-95b17602295b"},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}