HIE_CDS_CriticalBugFix/Workflows/Application-Flow-OnInviteToApplySendNotificationto-930E3734-EBAB-EA11-A812-000D3A7F1BBB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnApplication"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"metadata":{"operationMetadataId":"501167e5-94e7-4dff-9c4f-b791f4ee03e1"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_application","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_invitetoapply","subscriptionRequest/filterexpression":"leidos_invitetoapply eq 445260001","subscriptionRequest/runas":2},"authentication":"@parameters('$authentication')"}}},"actions":{"Create_Email_for_Client":{"runAfter":{"Get_Data":["Succeeded"]},"metadata":{"operationMetadataId":"8aba919c-9aee-45db-a2ff-b9385a1798d1"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","item/activitypointer_activity_parties":[{"participationtypemask":2,"partyid@odata.bind":"/contacts(@{outputs('Get_Application_Parent_Account')?['body/_primarycontactid_value']})"},{"participationtypemask":1,"partyid@odata.bind":"/systemusers(@{outputs('Get_Owner')?['body/systemuserid']})"}],"item/leidos_copyasportalmessage":true,"item/description":"<p>Thank you for your enquiry about your proposed project. I can now confirm that your project appears to meet the basic requirements for eligibility for assistance. </p> \n\n<p>You have been invited by Highlands and Islands Enterprise to apply for the proposed assistance and can complete the application by clicking on the link below or logging in to <a href=\"@{body('ClientPortalUrl')?['value']}\">the client portal</a> then navigating to support and then clicking on applications.</p>\n\n<p><a href=\"@{outputs('DirectApplyUrl')}\">Click this link to apply for the support package directly</a>. </p>\n\n<p>It is important to note that this does not constitute approval of funding and should you start work on the project i.e. enter any irreversible legal commitments in connection to the project before the date of the application you could render the whole project ineligible.  Land acquisition, feasibility studies and obtaining consents are not considered start of work. Commencing work on the project between submitting the application and the date of a HIE decision on funding will be entirely at your own risk.</p> \n\n<p>All HIE financial assistance is discretionary and subject to appropriate due diligence and budgetary constraints. </p>\n\n<p>Please contact me should you require further guidance or clarification.</p>","item/regardingobjectid_leidos_application_email@odata.bind":"/leidos_applications(@{triggerOutputs()?['body/leidos_applicationid']})","item/subject":"You have been invited to apply for: @{triggerOutputs()?['body/leidos_name']}"},"authentication":"@parameters('$authentication')"}},"Send_Email":{"runAfter":{"Create_Email_for_Client":["Succeeded"]},"metadata":{"operationMetadataId":"8adb91a0-0ebc-4c13-9cd6-dda220135e9b"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"PerformBoundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","actionName":"Microsoft.Dynamics.CRM.SendEmail","recordId":"@outputs('Create_Email_for_Client')?['body/activityid']","item/IssueSend":true},"authentication":"@parameters('$authentication')"}},"Update_Application_record_to_Invited":{"runAfter":{"Send_Email":["Succeeded"]},"metadata":{"operationMetadataId":"b7fbd06f-07cd-46f6-bc57-7ab2b0a31c8b"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@triggerOutputs()?['body/leidos_applicationid']","item/leidos_dateinvitedtoapply":"@utcNow()","item/leidos_invitetoapply":445260002,"item/statecode":0,"item/statuscode":445260011},"authentication":"@parameters('$authentication')"}},"Get_Data":{"actions":{"Get_ClientPortalUrl":{"runAfter":{},"metadata":{"operationMetadataId":"4c71a8a9-1e8c-47b5-90e0-41ef9fd8514d"},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"c3e4375a-c7cc-ea11-a812-000d3a7fedbe"},"body":{"text":"ClientPortalUrl"}}},"ClientPortalUrl":{"runAfter":{"Get_ClientPortalUrl":["Succeeded"]},"metadata":{"operationMetadataId":"62970880-774c-422a-99b5-945a6ccf9a83"},"type":"ParseJson","inputs":{"content":"@outputs('Get_ClientPortalUrl')?['Body']?['value']","schema":{"type":"object","properties":{"@@odata.type":{"type":"string"},"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"@@odata.editLink":{"type":"string"},"value":{"type":"string"},"environmentvariablevalueid@odata.type":{"type":"string"},"environmentvariablevalueid":{"type":"string"}}}}},"GetPortalApplicationUrl":{"runAfter":{"ClientPortalUrl":["Succeeded"]},"metadata":{"operationMetadataId":"eab27939-9d9a-42d2-ac0e-c594507804b1"},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"c3e4375a-c7cc-ea11-a812-000d3a7fedbe"},"body":{"text":"ClientPortalApplicationUrl"}}},"ApplicationUrl":{"runAfter":{"GetPortalApplicationUrl":["Succeeded"]},"metadata":{"operationMetadataId":"b04c8db0-7c1f-485d-bdde-c61f264f739e"},"type":"ParseJson","inputs":{"content":"@outputs('GetPortalApplicationUrl')?['Body']?['value']","schema":{"type":"object","properties":{"@@odata.type":{"type":"string"},"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"@@odata.editLink":{"type":"string"},"value":{"type":"string"},"environmentvariablevalueid@odata.type":{"type":"string"},"environmentvariablevalueid":{"type":"string"}}}}},"DirectApplyUrl":{"runAfter":{"ApplicationUrl":["Succeeded"]},"metadata":{"operationMetadataId":"b8382112-7972-4623-bfde-999c2244fbbd"},"type":"Compose","inputs":"@concat(body('ClientPortalUrl')?['value'],body('ApplicationUrl')?['value'], '?id=',triggerOutputs()?['body/leidos_applicationid'])"},"Get_Application_Parent_Account":{"runAfter":{"DirectApplyUrl":["Succeeded"]},"metadata":{"operationMetadataId":"8dc79343-d9c0-4107-a4a7-75c65ef8ee8c"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_leidos_parentaccount_value']"},"authentication":"@parameters('$authentication')"}},"Check_Account_has_Primary_Contact":{"actions":{"GetPrimaryContact":{"runAfter":{},"metadata":{"operationMetadataId":"bb0061f5-a14f-45c7-b390-b92008fd3630"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('Get_Application_Parent_Account')?['body/_primarycontactid_value']"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{},"runAfter":{"GetPrimaryContact":["Succeeded"]},"else":{"actions":{"Update_a_record":{"runAfter":{},"metadata":{"operationMetadataId":"7f8599f0-4a48-4bff-ba3d-fc7e4d240b45"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@triggerOutputs()?['body/leidos_applicationid']","item/leidos_invitetoapply":445260004},"authentication":"@parameters('$authentication')"}},"Terminate:_No_Email_Address":{"runAfter":{"Update_a_record":["Succeeded"]},"metadata":{"operationMetadataId":"1ee118c7-ea16-41c6-b283-b9fcbed785d0"},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"message":"Primary Contact email address is not supplied"}}}}},"expression":{"not":{"equals":["@outputs('GetPrimaryContact')?['body/emailaddress1']","@null"]}},"metadata":{"operationMetadataId":"f0f9baf4-4792-459b-bd22-cd04699e47e6"},"type":"If"}},"runAfter":{"Get_Application_Parent_Account":["Succeeded"]},"else":{"actions":{"Update_Application:_No_Primary_Contact":{"runAfter":{},"metadata":{"operationMetadataId":"2e66f08e-8fcf-4227-af99-24ac9fe3dcb1"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@triggerOutputs()?['body/leidos_applicationid']","item/leidos_invitetoapply":445260003},"authentication":"@parameters('$authentication')"}},"Terminate:_No_Primary_Contact":{"runAfter":{"Update_Application:_No_Primary_Contact":["Succeeded"]},"metadata":{"operationMetadataId":"e11d19e2-f9e3-4317-9644-2dee58d4f850"},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"message":"Unable to invite client as there is no primary contact."}}}}},"expression":{"not":{"equals":["@outputs('Get_Application_Parent_Account')?['body/_primarycontactid_value']","@null"]}},"metadata":{"operationMetadataId":"be8ebc56-d112-4838-9176-5d1e8cbf5059"},"type":"If"},"Get_Owner":{"runAfter":{"Get_Application_Parent_Account":["Succeeded"]},"metadata":{"operationMetadataId":"df1d22c9-7923-4027-89c9-4ecf35cb9e45"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Application_Parent_Account')?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"metadata":{"operationMetadataId":"74dd04ad-3e2b-4186-945c-5aa19477d8ad"},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}