HIECDS/Workflows/BPF-PipelineProject-Flow-OnChangeofStage-GetPipeli-B3718463-B7A5-EA11-A812-000D3A7F1BBB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"BPF-_Pipeline_Project_-_On_Change_of_Stage":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_bpf_pipelineproject","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Pipeline_Project_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_pipelineprojects","recordId":"@triggerOutputs()?['body/_bpf_leidos_pipelineprojectid_value']"},"authentication":"@parameters('$authentication')"}},"Switch":{"runAfter":{"Get_Pipeline_Project_record":["Succeeded"]},"cases":{"Pre_Application":{"case":"4ba8d4d0-e957-4810-bc60-78f7718a6578","actions":{"Set_Status_reason_to_Pipeline":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_pipelineprojects","recordId":"@outputs('Get_Pipeline_Project_record')?['body/leidos_pipelineprojectid']","item/statecode":0,"item/statuscode":1},"authentication":"@parameters('$authentication')"}}}},"Pipeline_Routing":{"case":"c37dc7fc-df89-493d-bbc9-575da8595c1e","actions":{}},"ISA_Stage":{"case":"75a28d5f-4a4c-4029-bfc7-d6f7a269ab13","actions":{"Set_to_ISA":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_pipelineprojects","recordId":"@outputs('Get_Pipeline_Project_record')?['body/leidos_pipelineprojectid']","item/statecode":0,"item/statuscode":445260003},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@triggerOutputs()?['body/_activestageid_value']","type":"Switch"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}