HIECDS/Workflows/EnquiryBPF-Flow-OnBPFFinishActionOutcome-3B443CF4-90A1-EA11-A812-000D3A7FEDBE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Enquiry_BPF_is_Finished_":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_enquirybusinessflow","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"statuscode","subscriptionRequest/filterexpression":"statuscode eq 2"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Enquiry":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquiries","recordId":"@triggerOutputs()?['body/_bpf_leidos_enquiryid_value']"},"authentication":"@parameters('$authentication')"}},"Switch":{"runAfter":{"Get_Enquiry":["Succeeded"]},"cases":{"Progress_with_Enquiry":{"case":445260000,"actions":{"Set_Enquiry_to_Progressed":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquiries","recordId":"@outputs('Get_Enquiry')?['body/leidos_enquiryid']","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}}}},"Abandon_Enquiry\t":{"case":445260001,"actions":{"Set_to_Abandoned_":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquiries","recordId":"@outputs('Get_Enquiry')?['body/leidos_enquiryid']","item/statecode":1,"item/statuscode":445260003},"authentication":"@parameters('$authentication')"}}}},"Transfer_to_SEP":{"case":445260002,"actions":{"Update_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquiries","recordId":"@outputs('Get_Enquiry')?['body/leidos_enquiryid']","item/statecode":1,"item/statuscode":445260002},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@outputs('Get_Enquiry')?['body/leidos_equiryoutcome']","type":"Switch"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}