HIECDS/Workflows/OnPipelineAcceptorReject-Listrecords-69E5CAF8-6FAA-EA11-A812-000D3A7F1BBB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"On_Pipeline_Accept_or_Reject":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_pipelineproject","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"statuscode ","subscriptionRequest/filterexpression":"statuscode eq 2 or statuscode eq 445260001"},"authentication":"@parameters('$authentication')"}}},"actions":{"Related_Projects":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","fetchXml":"<fetch distinct=\"true\" >\n  <entity name=\"leidos_project\" >\n    <filter type=\"and\" >\n      <condition attribute=\"leidos_preapplicationprocess\" operator=\"eq\" value=\"@{triggerOutputs()?['body/leidos_pipelineprojectid']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Switch":{"runAfter":{"Related_Projects":["Succeeded"]},"cases":{"Approve":{"case":2,"actions":{"Loop_thru_Projects_set_to_Planned":{"foreach":"@outputs('Related_Projects')?['body/value']","actions":{"Update_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@items('Loop_thru_Projects_set_to_Planned')?['leidos_projectid']","item/statecode":0,"item/statuscode":445260005},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}}},"Reject":{"case":445260001,"actions":{"Loop_Thru_Projects_and_Reject":{"foreach":"@outputs('Related_Projects')?['body/value']","actions":{"Update_a_record_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@items('Loop_Thru_Projects_and_Reject')?['leidos_projectid']","item/statecode":1,"item/statuscode":445260003},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}}}},"default":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"message":"Status Reason not met"}}}}},"expression":"@triggerOutputs()?['body/statuscode']","type":"Switch"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}