HIECDS/Workflows/PipelineProject-ChildFlow-DecisionActions-C5ACF6B8-31A7-EA11-A812-000D3A7F1BBB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"ApprovalFlowOutcome_Inputs":{"type":"any","description":"Inputs","x-ms-powerflows-param-ispartial":false},"Compose_Inputs":{"type":"any"},"PipelineID_Inputs":{"type":"any","description":"Inputs","x-ms-powerflows-param-ispartial":false}},"required":["ApprovalFlowOutcome_Inputs","Compose_Inputs","PipelineID_Inputs"]}}}},"actions":{"Approval_Flow_Outcome":{"runAfter":{},"type":"Compose","inputs":"@triggerBody()['ApprovalFlowOutcome_Inputs']"},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Switch_2":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{},"schema":{"type":"object","properties":{}}}},"Switch_2":{"runAfter":{"Get_Pipeline_Record":["Succeeded"]},"cases":{"Invite_to_Apply":{"case":"Invite to Apply","actions":{"Close_Pipeline_as_Approved":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_pipelineprojects","recordId":"@outputs('Get_Pipeline_Record')?['body/leidos_pipelineprojectid']","item/leidos_isaapprovedon":"@utcNow()","item/leidos_isadecisionoutcome":445260000,"item/statecode":1,"item/statuscode":2},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"Do_not_invite_to_Apply":{"case":"Do not invite to Apply","actions":{"Reject_Pipeline_Project":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_pipelineprojects","recordId":"@outputs('Get_Pipeline_Record')?['body/leidos_pipelineprojectid']","item/leidos_isadecisionoutcome":445260001,"item/statecode":1,"item/statuscode":445260001},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"Defer":{"case":"Defer","actions":{"Defer_Pipeline_Project":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_pipelineprojects","recordId":"@outputs('Get_Pipeline_Record')?['body/leidos_pipelineprojectid']","item/statuscode":445260003,"item/leidos_submitisa":false},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}}},"default":{"actions":{}},"expression":"@outputs('Approval_Flow_Outcome')","type":"Switch"},"PipelineID":{"runAfter":{"Approval_Flow_Outcome":["Succeeded"]},"type":"Compose","inputs":"@triggerBody()['PipelineID_Inputs']"},"Get_Pipeline_Record":{"runAfter":{"PipelineID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_pipelineprojects","recordId":"@outputs('PipelineID')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}