HIECDS/Workflows/PipelineProject-Flow-SubmitISAforapproval-464540D8-38A6-EA11-A812-000D3A7F1BBB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_approvals":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_approvals"}},"shared_office365":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"On_Submit_ISA_to_True":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_pipelineproject","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_submitisa","subscriptionRequest/filterexpression":"leidos_submitisa eq true"},"authentication":"@parameters('$authentication')"}}},"actions":{"Set_Submitted_on_and_Status_Reason":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_pipelineprojects","recordId":"@triggerOutputs()?['body/leidos_pipelineprojectid']","item/leidos_isaapprovalrequestedon":"@utcNow()","item/statuscode":445260000},"authentication":"@parameters('$authentication')"}},"Delegated_Authority":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_leidos_isaapprovaldelegatedauthority_value']"},"authentication":"@parameters('$authentication')"}},"Get_Record_URL":{"runAfter":{"Delegated_Authority":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/leidos_pipelineprojectid']","EntityType_Value":"leidos_pipelineproject"}}},"Start_and_wait_for_an_approval":{"runAfter":{"Get_Record_URL":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Invite to Apply","Do not invite to Apply","Defer"],"WebhookApprovalCreationInput/title":"ISA request for Approval Request","WebhookApprovalCreationInput/assignedTo":"@outputs('Delegated_Authority')?['body/internalemailaddress']","WebhookApprovalCreationInput/details":"# ISA request for Approval for @{triggerOutputs()?['body/leidos_name']}  \n## [Document Link](@{triggerOutputs()?['body/leidos_initialstrategicassessmentlink']})  \nRecommendation: @{if(triggerOutputs()?['body/leidos_recommendation'],'Approve','Reject')}\n","WebhookApprovalCreationInput/itemLink":"@outputs('Get_Record_URL')?['Body']?['entityurl']","WebhookApprovalCreationInput/itemLinkDescription":"@triggerOutputs()?['body/leidos_name']","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Run_a_Child_Flow":{"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"c5acf6b8-31a7-ea11-a812-000d3a7f1bbb"},"body":{"ApprovalFlowOutcome_Inputs":"@outputs('Start_and_wait_for_an_approval')?['body/outcome']","Compose_Inputs":"Test","PipelineID_Inputs":"@triggerOutputs()?['body/leidos_pipelineprojectid']"}}},"Get_Pipeline_Owner":{"runAfter":{"Run_a_Child_Flow":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Send_an_email_(V2)_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_Pipeline_Owner')?['body/internalemailaddress']","emailMessage/Subject":"ISA Approval Decision for @{triggerOutputs()?['body/leidos_name']}","emailMessage/Body":"<p>&nbsp;Decision:@{outputs('Start_and_wait_for_an_approval')?['body/outcome']}<br>\nComments: @{items('Apply_to_each')?['comments']}<br>\n<br>\n<a href=\"@{outputs('Get_Record_URL')?['Body']?['entityurl']}\">Record Link</a>\n<br>\n</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Pipeline_Owner":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}