HIE_CDS_B/Workflows/DeprecatedLoan-Scheduled-Emailifinsustainedarrears-96F8218D-42C4-EB11-BACC-002248418F15.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnLoan"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"Loan Arrears Threshold":{"defaultValue":"10","type":"String","metadata":{"schemaName":"leidos_LoanArrearsdays","description":"Number of days before loan arrears are flagged"}}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"timeZone":"UTC","schedule":{"hours":["2"]}},"metadata":{"operationMetadataId":"3353a4d1-6ef7-4916-b200-f601cdc7fb82"},"type":"Recurrence"}},"actions":{"List_Loans":{"runAfter":{},"metadata":{"operationMetadataId":"8a9d6cb3-6ed7-4e33-83d5-f31b279472fe"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_loans","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\" >\n    <entity name=\"leidos_loan\" >\n        <attribute name=\"statuscode\" />\n        <attribute name=\"leidos_loanreference\" />\n        <attribute name=\"leidos_interestdue\" />\n        <attribute name=\"leidos_dateofnextrepayment\" />\n        <attribute name=\"leidos_capitaloutstanding\" />\n        <attribute name=\"leidos_loanid\" />\n        <attribute name=\"leidos_project\" />\n        <attribute name=\"leidos_interestarrears\" />\n        <attribute name=\"leidos_capitalarrears\" />\n        <attribute name=\"leidos_datewentintoarrears\" />\n        <order attribute=\"leidos_loanreference\" descending=\"false\" />\n        <filter type=\"and\" >\n            <condition attribute=\"leidos_datewentintoarrears\" operator=\"olderthan-x-days\" value=\"@{parameters('Loan Arrears Threshold')}\" />\n        </filter>\n        <link-entity name=\"leidos_project\" from=\"leidos_projectid\" to=\"leidos_project\" visible=\"false\" link-type=\"outer\" alias=\"proj\" >\n            <attribute name=\"ownerid\" />\n            <attribute name=\"leidos_parentaccount\" />\n        </link-entity>\n    </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Apply_to_each":{"foreach":"@outputs('List_Loans')?['body/value']","actions":{"Update_a_row":{"runAfter":{"Perform_a_bound_action":["Succeeded"]},"metadata":{"operationMetadataId":"a69273a5-9631-4ceb-a058-685d8a2b880d"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_loans","recordId":"@items('Apply_to_each')?['leidos_loanid']","item/leidos_datewentintoarrears":"@addDays(utcnow(),mul(12,30))"},"authentication":"@parameters('$authentication')"}},"Get_Client_Record":{"runAfter":{"Account":["Succeeded"]},"metadata":{"operationMetadataId":"ce9c5b22-cdd2-4ad1-841e-4c729731f246"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Account')"},"authentication":"@parameters('$authentication')"}},"Owner":{"runAfter":{},"metadata":{"operationMetadataId":"a9edb7ad-94a1-4607-acbd-ce98554e1697"},"type":"Compose","inputs":"@items('Apply_to_each')?['proj.ownerid']"},"Get_owner_user_record":{"runAfter":{"Owner":["Succeeded"]},"metadata":{"operationMetadataId":"010cb6c2-bab0-47e1-9ddf-e2334a5b906b"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Owner')"},"authentication":"@parameters('$authentication')"}},"Account":{"runAfter":{"Get_owner_user_record":["Succeeded"]},"metadata":{"operationMetadataId":"75e9e266-7990-462b-acdd-810c936cdb9a"},"type":"Compose","inputs":"@items('Apply_to_each')?['proj.leidos_parentaccount']"},"Create_email_entity_linked_to_project":{"runAfter":{"Get_Parent_Project":["Succeeded"]},"metadata":{"operationMetadataId":"f7b2a6cd-e1d1-4958-91cf-c6786e6e9658"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","item/activitypointer_activity_parties":[{"participationtypemask":2,"partyid@odata.bind":"/systemusers(@{outputs('Get_owner_user_record')?['body/systemuserid']})"}],"item/description":"Loan @{items('Apply_to_each')?['leidos_loanreference']} has been now been in arrears for longer than the threshold period.\n\nClient: @{outputs('Get_Client_Record')?['body/name']}\nMyHIE Loan Ref: @{items('Apply_to_each')?['leidos_loanreference']}\nCapital Arrears: £@{items('Apply_to_each')?['leidos_capitalarrears']}\nInterest Outstanding: £@{items('Apply_to_each')?['leidos_interestarrears']}\n\nPlease liaise with the client to confirm the reason the repayment has not been received and provide an update to HIE Finance.","item/regardingobjectid_leidos_project_email@odata.bind":"/leidos_projects(@{outputs('Get_Parent_Project')?['body/leidos_projectid']})","item/subject":"Missed Loan Repayment - @{outputs('Get_Client_Record')?['body/name']}  @{outputs('Get_Client_Record')?['body/leidos_accountreference']}"},"authentication":"@parameters('$authentication')"}},"Perform_a_bound_action":{"runAfter":{"Create_email_entity_linked_to_project":["Succeeded"]},"metadata":{"operationMetadataId":"1dfd88dd-901a-481f-b3b5-9a77481b57db"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"PerformBoundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","actionName":"Microsoft.Dynamics.CRM.SendEmail","recordId":"@outputs('Create_email_entity_linked_to_project')?['body/activityid']","item/IssueSend":true},"authentication":"@parameters('$authentication')"}},"Get_Parent_Project":{"runAfter":{"Get_Client_Record":["Succeeded"]},"metadata":{"operationMetadataId":"77266438-72b6-4131-aeb6-0d8b3c82ff4a"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@items('Apply_to_each')?['_leidos_project_value']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"metadata":{"operationMetadataId":"a331928a-409d-4e55-85dc-db47177a1071"},"type":"Foreach"}},"runAfter":{"list_length":["Succeeded"]},"expression":{"greater":["@outputs('list_length')",0]},"metadata":{"operationMetadataId":"6531f4f4-7d7c-4f64-acd2-9bc4a11fb8cb"},"type":"If"},"list_length":{"runAfter":{"List_Loans":["Succeeded"]},"metadata":{"operationMetadataId":"ccee620a-022e-4164-a5eb-8ad840345bb7"},"type":"Compose","inputs":"@length(outputs('List_Loans')?['body/value'])"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}