HIE_CDS_B/Workflows/Whenarowisaddedmodifiedordeleted-Initializevariabl-1D2C9B01-86D5-EB11-BACB-000D3AD57AA4.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnLoan"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_loanadjustment","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"statuscode","subscriptionRequest/filterexpression":"(statuscode eq 445260003)","subscriptionRequest/runas":3},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"type","type":"string","value":"@{triggerOutputs()?['body/leidos_adjustmenttype']}"}]}},"Switch":{"runAfter":{"Initialize_variable":["Succeeded"]},"cases":{"Case":{"case":"Capitalisation of Interest","actions":{"Perform_a_bound_action":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"PerformBoundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_loanadjustments","actionName":"Microsoft.Dynamics.CRM.leidos_LoanAdjustmentActionCallGenerateTransactionprocessGenie","recordId":"@triggerOutputs()?['body/leidos_loanadjustmentid']"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@variables('type')","type":"Switch"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}