HIE_CDS/Workflows/Account-Flow-TriggeronUpdateofRecommendforAMR-BD8ED7BB-3344-EA11-A812-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Account_Trigger_on_Update_of_Recommend_for_AMR":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"account","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_recommendedforaccountmanagement","subscriptionRequest/filterexpression":"leidos_recommendedforaccountmanagement eq true"},"authentication":"@parameters('$authentication')"}}},"actions":{"List_open_AMR_Records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","$filter":"statecode eq 0 and _leidos_parentaccount_value eq @{triggerOutputs()?['body/accountid']}"},"authentication":"@parameters('$authentication')"}},"Number_of_Items":{"runAfter":{"List_open_AMR_Records":["Succeeded"]},"type":"Compose","inputs":"@length(outputs('List_open_AMR_Records')?['body/value'])"},"Check_for_Existing_Open_AMR_records":{"actions":{},"runAfter":{"Number_of_Items":["Succeeded"]},"else":{"actions":{"Create_a_new_AMR_":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","item/leidos_ParentAccount@odata.bind":"/accounts(@{triggerOutputs()?['body/accountid']})"},"authentication":"@parameters('$authentication')"}}}},"expression":{"greaterOrEquals":["@outputs('Number_of_Items')",1]},"type":"If"},"Account_Clear_the_propose_Flag":{"runAfter":{"Check_for_Existing_Open_AMR_records":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/accountid']","item/leidos_recommendedforaccountmanagement":false},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}