HIE_CDS/Workflows/AMCP-Flow-SendemailtoAccountManangerwhengrowthplan-65C755B2-73DD-EA11-A813-000D3A7FEDBE.json
{"properties":{"connectionReferences":{"shared_office365":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnOffice365Outlook"},"api":{"name":"shared_office365"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnAMCP"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_AMCP_updated_to_Growth_Plan_Submitted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_accountmanagementclientplan","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_growthplansubmitted","subscriptionRequest/filterexpression":"leidos_growthplansubmitted eq true"},"authentication":"@parameters('$authentication')"}}},"actions":{"Send_an_email_to_Account_Manager":{"runAfter":{"Run_a_Child_Flow_-_get_URL":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_owner_user_record')?['body/internalemailaddress']","emailMessage/Subject":"Growth Plan for AMCP @{triggerOutputs()?['body/leidos_name']} Submission","emailMessage/Body":"<p>Client @{outputs('Get_client_record')?['body/name']} has submitted growth plan for &nbsp;@{triggerOutputs()?['body/leidos_name']}.<br>\n<br>\nPlease review growth plan in myHIE:&nbsp;@{concat('<a href=', outputs('Run_a_Child_Flow_-_get_URL')?['Body']?['entityurl'], '>Click here for details</a>')}</p>"},"authentication":"@parameters('$authentication')"}},"Run_a_Child_Flow_-_get_URL":{"runAfter":{"Get_client_record":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/leidos_accountmanagementclientplanid']","EntityType_Value":"leidos_accountmanagementclientplan"}}},"Get_owner_user_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Get_client_record":{"runAfter":{"Get_owner_user_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_leidos_relatedaccount_value']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}