HIE_CDS/Workflows/AMCP-Flow-SubmitforApproval-A4328629-C85E-EA11-A811-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_approvals":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_approvals"}},"shared_office365":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"AM_Client_Plan_Submitted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_accountmanagementclientplan","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_submitclientplanforapproval","subscriptionRequest/filterexpression":"leidos_submitclientplanforapproval eq true"},"authentication":"@parameters('$authentication')"}}},"actions":{"Update_Submitted_On":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementclientplans","recordId":"@triggerOutputs()?['body/leidos_accountmanagementclientplanid']","item/statecode":1,"item/statuscode":445260005,"item/leidos_submittedon":"@utcNow()"},"authentication":"@parameters('$authentication')"}},"Start_and_wait_for_an_approval":{"runAfter":{"Get_Data_from_Entity_Tree":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Approve Client Plan","Defer Client Plan","Disengage with Process"],"WebhookApprovalCreationInput/title":"Account Management Client Plan for @{triggerOutputs()?['body/leidos_name']}","WebhookApprovalCreationInput/assignedTo":"@outputs('Office_Manager')?['body/internalemailaddress']","WebhookApprovalCreationInput/details":"### Client Plan for @{outputs('Get_Account')?['body/name']} ###\nPlease review the Account Management Client Plan and Action Plan for @{outputs('AMR_Record')?['body/leidos_name']}   \n Account Management Recommendation:   @{outputs('Recommendation_Option_Set_label')}\n\nRecommendation Text:  @{outputs('Get_AMCP')?['body/leidos_accountmanagementrecommendationtext']}","WebhookApprovalCreationInput/itemLink":"@outputs('Get_Entity_URL')?['Body']?['entityurl']","WebhookApprovalCreationInput/itemLinkDescription":"@outputs('Get_AMCP')?['body/leidos_name']","WebhookApprovalCreationInput/requestor":"@outputs('Get_Requesting_User')?['body/internalemailaddress']","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Switch":{"runAfter":{"Get_the_Responder_Record":["Succeeded"]},"cases":{"Approve":{"case":"Approve Client Plan","actions":{"Update_Account_Status_reason":{"runAfter":{"AMCP_to_Approved":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Account')?['body/accountid']","item/statecode":0,"item/statuscode":445260003},"authentication":"@parameters('$authentication')"}},"AMCP_to_Approved":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementclientplans","recordId":"@triggerOutputs()?['body/leidos_accountmanagementclientplanid']","item/leidos_ClientPlanApprovedBy@odata.bind":"/systemusers(@{outputs('Get_Responder_User_record')?['body/systemuserid']})","item/leidos_clientplanapprovedon":"@utcNow()","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}},"Update_AMR_Record":{"runAfter":{"AMCP_to_Approved":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","recordId":"@outputs('AMR_Record')?['body/leidos_accountmanagementrecordid']","item/leidos_LastApprovedClientPlan@odata.bind":"/leidos_accountmanagementclientplans(@{outputs('AMCP_to_Approved')?['body/leidos_accountmanagementclientplanid']})"},"authentication":"@parameters('$authentication')"},"description":"Add the AMCP to the last Approved Look up"},"Switch__Based_on_recommendation":{"runAfter":{"AMCP_to_Approved":["Succeeded"]},"cases":{"Amend_Segmentation":{"case":445260002,"actions":{"Create_a_new_Task_Amend_Segmentation":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"tasks","item/subject":"Amend Segmentation","item/description":"AMCP Approval Process was Approved, with recommendation to Amend Segmentation.\nPlease ensure you amend segmentation on the AMR","item/scheduledend":"@addDays(utcNow(),7)","item/ownerid_task@odata.bind":"/systemusers(@{outputs('Get_Responder_User_record')?['body/systemuserid']})","item/regardingobjectid_leidos_accountmanagementrecord_task@odata.bind":"/leidos_accountmanagementrecords(@{outputs('AMR_Record')?['body/leidos_accountmanagementrecordid']})"},"authentication":"@parameters('$authentication')"}}}},"Disengage_with_process":{"case":445260001,"actions":{"Create_a_new_Task_Disengage":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"tasks","item/subject":"Disengage with Account Management","item/description":"Please ensure you disengage with the client on the AMR by selecting deactivate followed by issue of disengagement email","item/scheduledend":"@addDays(utcNow(),7)","item/ownerid_task@odata.bind":"/systemusers(@{outputs('Get_Responder_User_record')?['body/systemuserid']})","item/regardingobjectid_leidos_accountmanagementrecord_task@odata.bind":"/leidos_accountmanagementrecords(@{outputs('AMR_Record')?['body/leidos_accountmanagementrecordid']})"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@triggerOutputs()?['body/leidos_accountmanagementrecommendation']","type":"Switch"}}},"Disengage_with_Process":{"case":"Disengage with Process","actions":{"AM_Client_Plan_to_Cancelled":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementclientplans","recordId":"@triggerOutputs()?['body/leidos_accountmanagementclientplanid']","item/statecode":1,"item/statuscode":445260004},"authentication":"@parameters('$authentication')"}}}},"Defer_Client_Plan":{"case":"Defer Client Plan","actions":{"Reset_AMCP_to_allow_updates":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementclientplans","recordId":"@triggerOutputs()?['body/leidos_accountmanagementclientplanid']","item/statecode":0,"item/statuscode":445260000,"item/leidos_submitclientplanforapproval":false},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":"@outputs('Start_and_wait_for_an_approval')?['body/outcome']","type":"Switch"},"AM_Client_Plan_Owner":{"runAfter":{"Switch":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Create_Note":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Create_a_Note_for_Output":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","item/subject":"Account Management Client Plan Approval response","item/notetext":"Response Summary:   @{outputs('Start_and_wait_for_an_approval')?['body/responseSummary']}\n\nComments: @{items('Create_Note')?['comments']}\n","item/objectid_leidos_accountmanagementclientplan@odata.bind":"/leidos_accountmanagementclientplans(@{triggerOutputs()?['body/leidos_accountmanagementclientplanid']})"},"authentication":"@parameters('$authentication')"}},"Create_a_Task_with_results":{"runAfter":{"Create_a_Note_for_Output":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"tasks","item/subject":"Approval  request for AMCP: @{triggerOutputs()?['body/leidos_name']} has been @{outputs('Start_and_wait_for_an_approval')?['body/outcome']}","item/description":"Delegated Authority: @{items('Create_Note')?['responder/displayName']}\nDelegated Authority Decision: @{outputs('Start_and_wait_for_an_approval')?['body/outcome']}\nDecision Date @{formatDateTime(utcNow(), 'dd-MMM-yyyy')}\nDelegated Authority Comments@{items('Create_Note')?['comments']}\n","item/regardingobjectid_leidos_accountmanagementrecord_task@odata.bind":"/leidos_accountmanagementrecords(@{outputs('AMR_Record')?['body/leidos_accountmanagementrecordid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Switch":["Succeeded"]},"type":"Foreach"},"Apply_to_each":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Send_an_email_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('AM_Client_Plan_Owner')?['body/internalemailaddress']","emailMessage/Subject":"Account Management Client Plan for  @{triggerOutputs()?['body/leidos_name']} Response Outcome: @{outputs('Start_and_wait_for_an_approval')?['body/outcome']}","emailMessage/Body":"<p>Approval Response: @{outputs('Start_and_wait_for_an_approval')?['body/outcome']}<br>\nApproval Comments: @{items('Apply_to_each')?['comments']}<br>\n<br>\n<a href=\"@{outputs('Get_Entity_URL')?['Body']?['entityurl']}\">@{triggerOutputs()?['body/leidos_name']}</a><br>\n</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"AM_Client_Plan_Owner":["Succeeded"]},"type":"Foreach"},"Get_Data_from_Entity_Tree":{"actions":{"AMR_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","recordId":"@triggerOutputs()?['body/_leidos_accountmanagementrecord_value']"},"authentication":"@parameters('$authentication')"}},"Get_Account":{"runAfter":{"AMR_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('AMR_Record')?['body/_leidos_parentaccount_value']"},"authentication":"@parameters('$authentication')"}},"Area_Office":{"runAfter":{"Get_Account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_areaoffices","recordId":"@outputs('Get_Account')?['body/_leidos_areaoffice_value']"},"authentication":"@parameters('$authentication')"}},"Office_Manager":{"runAfter":{"Area_Office":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Area_Office')?['body/_leidos_officemanager_value']"},"authentication":"@parameters('$authentication')"}},"Get_AMCP":{"runAfter":{"Office_Manager":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementclientplans","recordId":"@triggerOutputs()?['body/leidos_accountmanagementclientplanid']"},"authentication":"@parameters('$authentication')"}},"Get_Requesting_User":{"runAfter":{"Get_AMCP":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_AMCP')?['body/_leidos_submittedby_value']"},"authentication":"@parameters('$authentication')"}},"Recommendation_Option_Set_label":{"runAfter":{"Get_Requesting_User":["Succeeded"]},"type":"Compose","inputs":"@outputs('Get_AMCP')?['body/leidos_accountmanagementrecommendation@OData.Community.Display.V1.FormattedValue']"},"Get_Entity_URL":{"runAfter":{"Recommendation_Option_Set_label":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/leidos_accountmanagementclientplanid']","EntityType_Value":"leidos_accountmanagementclientplan"}}}},"runAfter":{"Initialize_variable_Responder_Email":["Succeeded"]},"type":"Scope"},"Initialize_variable_Responder_Email":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Responder Email","type":"string"}]}},"Get_the_Responder_Record":{"actions":{"Get_Responder_Email":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Responder Email","value":"@items('Get_Responder_Email')?['responder/email']"}}},"runAfter":{},"type":"Foreach"},"List_Users":{"runAfter":{"Get_Responder_Email":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\" >\n  <entity name=\"systemuser\" >\n    <attribute name=\"fullname\" />\n    <attribute name=\"systemuserid\" />\n    <filter type=\"and\" >\n      <condition attribute=\"internalemailaddress\" operator=\"eq\" value=\"@{variables('Responder Email')}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Get_System_User_ID":{"runAfter":{"List_Users":["Succeeded"]},"type":"Compose","inputs":"@first(outputs('List_Users')?['body/value'])?['systemuserid']"},"Get_Responder_User_record":{"runAfter":{"Get_System_User_ID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_System_User_ID')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"type":"Scope"},"Data_Capture_Failure_Catch":{"actions":{"Send_an_email_(V2)_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_Requesting_User')?['body/internalemailaddress']","emailMessage/Subject":"Approval Flow for @{outputs('Get_AMCP')?['body/leidos_amcpreference']} has Failed","emailMessage/Body":"<p>The Approval flow the the above has failed, please check the data and resumbit.<br>\n<br>\n@{outputs('Get_Entity_URL')?['Body']?['entityurl']}</p>"},"authentication":"@parameters('$authentication')"}},"Update_AMCP_Submit_option":{"runAfter":{"Send_an_email_(V2)_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementclientplans","recordId":"@triggerOutputs()?['body/leidos_accountmanagementclientplanid']","item/leidos_submitclientplanforapproval":false},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Data_from_Entity_Tree":["Failed","TimedOut"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}