HIE_CDS/Workflows/AMCP-OnchangeofstatetoInactivedeactivatechildrecor-BE12E379-DB7C-EB11-A812-002248405303.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_2":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnAMCP"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_AMCP_is_deactivated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_accountmanagementclientplan","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"statecode","subscriptionRequest/filterexpression":"statecode eq 1"},"authentication":"@parameters('$authentication')"}}},"actions":{"List_active_employment_details":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_employmentdetailses","$select":"leidos_employmentdetailsid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_employmentdetails\">\n    <attribute name=\"leidos_employmentdetailsid\" />\n    <attribute name=\"leidos_employmentrole\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"leidos_parentaccountmanagementclientplan\" operator=\"eq\"  value=\"@{triggerOutputs()?['body/leidos_accountmanagementclientplanid']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"List_active_client_plan_summaries":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientplansummaries","$select":"leidos_clientplansummaryid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_clientplansummary\">\n    <attribute name=\"leidos_name\" />\n    <attribute name=\"leidos_clientplansummaryid\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"leidos_parentclientplan\" operator=\"eq\" value=\"@{triggerOutputs()?['body/leidos_accountmanagementclientplanid']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"List_active_trading_geographies":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_tradinggeographies","$select":"leidos_tradinggeographyid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_tradinggeography\">\n    <attribute name=\"leidos_percentageofsales\" />\n    <attribute name=\"leidos_tradinggeographyid\" />\n    <order attribute=\"leidos_geography\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"leidos_parentclientplan\" operator=\"eq\" value=\"@{triggerOutputs()?['body/leidos_accountmanagementclientplanid']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"List_active_account_management_action_plans":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementactionplans","$select":"leidos_accountmanagementactionplanid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_accountmanagementactionplan\">\n    <attribute name=\"leidos_accountmanagementactionplanid\" />\n    <attribute name=\"leidos_name\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"leidos_parentaccountmanagementclientplan\" operator=\"eq\"  value=\"@{triggerOutputs()?['body/leidos_accountmanagementclientplanid']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"List_active_client_plan_review_responses":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientplanreviewresponses","$select":"leidos_clientplanreviewresponseid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_clientplanreviewresponse\">\n    <attribute name=\"leidos_clientplanreviewresponseid\" />\n    <attribute name=\"leidos_name\" />\n    <attribute name=\"createdon\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"leidos_parentclientplan\" operator=\"eq\" value=\"@{triggerOutputs()?['body/leidos_accountmanagementclientplanid']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Loop_through_client_plan_summaries_-_Status_to_Inactive":{"foreach":"@outputs('List_active_client_plan_summaries')?['body/value']","actions":{"Update_client_plan_summary":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientplansummaries","recordId":"@items('Loop_through_client_plan_summaries_-_Status_to_Inactive')?['leidos_clientplansummaryid']","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_active_client_plan_summaries":["Succeeded"]},"type":"Foreach"},"Loop_through_client_plan_review_responses_-_Status_to_Inactive":{"foreach":"@outputs('List_active_client_plan_review_responses')?['body/value']","actions":{"Update_client_plan_review_response":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientplanreviewresponses","recordId":"@items('Loop_through_client_plan_review_responses_-_Status_to_Inactive')?['leidos_clientplanreviewresponseid']","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_active_client_plan_review_responses":["Succeeded"]},"type":"Foreach"},"Loop_through_employment_details_-_Status_to_Inactive":{"foreach":"@outputs('List_active_employment_details')?['body/value']","actions":{"Update_employment_detail":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_employmentdetailses","recordId":"@items('Loop_through_employment_details_-_Status_to_Inactive')?['leidos_employmentdetailsid']","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_active_employment_details":["Succeeded"]},"type":"Foreach"},"Loop_through_trading_geographies":{"foreach":"@outputs('List_active_trading_geographies')?['body/value']","actions":{"Update_trading_geography":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_tradinggeographies","recordId":"@items('Loop_through_trading_geographies')?['leidos_tradinggeographyid']","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_active_trading_geographies":["Succeeded"]},"type":"Foreach"},"Loop_through_AMAPs_-_Status_to_Inactive":{"foreach":"@outputs('List_active_account_management_action_plans')?['body/value']","actions":{"Update_AMAP":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementactionplans","recordId":"@items('Loop_through_AMAPs_-_Status_to_Inactive')?['leidos_accountmanagementactionplanid']","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}},"List_key_strategic_actions":{"runAfter":{"Update_AMAP":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_keystrategicactions","$select":"leidos_keystrategicactionid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_keystrategicaction\">\n    <attribute name=\"leidos_name\" />\n    <attribute name=\"leidos_keystrategicactionid\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"leidos_parentaccountmanagementactionplan\" operator=\"eq\" value=\"@{items('Loop_through_AMAPs_-_Status_to_Inactive')?['leidos_accountmanagementactionplanid']}\"/>\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"List_actions":{"runAfter":{"Update_AMAP":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientactionplans","$select":"leidos_clientactionplanid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_clientactionplan\">\n    <attribute name=\"leidos_name\" />\n    <attribute name=\"leidos_parentaccount\" />\n    <attribute name=\"leidos_clientactionplanid\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"leidos_parentaccountmanagementactionplan\" operator=\"eq\"  value=\"@{items('Loop_through_AMAPs_-_Status_to_Inactive')?['leidos_accountmanagementactionplanid']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Loop_through_key_strategic_actions_-_Status_to_Inactive":{"foreach":"@outputs('List_key_strategic_actions')?['body/value']","actions":{"Update_key_strategic_action":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_keystrategicactions","recordId":"@items('Loop_through_key_strategic_actions_-_Status_to_Inactive')?['leidos_keystrategicactionid']","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_key_strategic_actions":["Succeeded"]},"type":"Foreach"},"Loop_through_actions_-_Status_to_Inactive":{"foreach":"@outputs('List_actions')?['body/value']","actions":{"Update_action":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientactionplans","recordId":"@items('Loop_through_actions_-_Status_to_Inactive')?['leidos_clientactionplanid']","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_actions":["Succeeded"]},"type":"Foreach"}},"runAfter":{"List_active_account_management_action_plans":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}