HIE_CDS/Workflows/AMR-Flow-TriggeronSubmitforApproval-FAEA2275-7346-EA11-A812-000D3A0BA151.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_approvals":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_approvals"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"AMR_On_Submit_for_Approval":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_accountmanagementrecord","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_submitamrforapproval","subscriptionRequest/filterexpression":"leidos_submitamrforapproval eq true"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Area_Office":{"runAfter":{"Get_Account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_areaoffices","recordId":"@outputs('Get_Account')?['body/_leidos_areaoffice_value']"},"authentication":"@parameters('$authentication')"}},"Get_Area_Office_Contact_User_Record":{"runAfter":{"Get_Area_Office":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Area_Office')?['body/_leidos_areaofficeprocesscontact_value']"},"authentication":"@parameters('$authentication')"}},"Run_a_Child_Flow":{"runAfter":{"Get_Requestor":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/leidos_accountmanagementrecordid']","EntityType_Value":"leidos_accountmanagementrecord"}}},"Get_Account":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_leidos_parentaccount_value']"},"authentication":"@parameters('$authentication')"}},"Get_Requestor":{"runAfter":{"Get_Area_Office_Contact_User_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_leidos_approvalrequestedby_value']"},"authentication":"@parameters('$authentication')"}},"Start_and_wait_for_an_approval_2":{"runAfter":{"Run_a_Child_Flow":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Approve into Account Management","Reject into Account Management","Defer Decision on  Account Management"],"WebhookApprovalCreationInput/title":"Decision made on account management recommendation for @{outputs('Get_Account')?['body/name']} ","WebhookApprovalCreationInput/assignedTo":"@outputs('Get_Area_Office_Contact_User_Record')?['body/internalemailaddress']","WebhookApprovalCreationInput/details":"### Request  for Approval into Account Management ###\n#### Account : @{outputs('Get_Account')?['body/name']} #####\n\nPlease access the [Link to Recomendation](@{triggerOutputs()?['body/leidos_linktorecommendation']}) for details\n\n","WebhookApprovalCreationInput/itemLink":"@outputs('Run_a_Child_Flow')?['Body']?['entityurl']","WebhookApprovalCreationInput/itemLinkDescription":"Link to Account Management Record","WebhookApprovalCreationInput/requestor":"@outputs('Get_Requestor')?['body/internalemailaddress']","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Switch":{"runAfter":{"Start_and_wait_for_an_approval_2":["Succeeded"]},"cases":{"Approve_into_Account_Management":{"case":"Approve into Account Management","actions":{"Update_AMR_record_on_Approved":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","recordId":"@triggerOutputs()?['body/leidos_accountmanagementrecordid']","item/leidos_AreaManagerApprovalBy@odata.bind":"/systemusers(@{outputs('Get_Area_Office_Contact_User_Record')?['body/systemuserid']})","item/leidos_areamanagerapprovalon":"@utcNow()","item/leidos_businessreviewreminderdate":"@addDays(utcNow(),305)","item/ownerid@odata.bind":"/systemusers(@{triggerOutputs()?['body/_leidos_suggestedaccountmanager_value']})","item/statuscode":445260000},"authentication":"@parameters('$authentication')"}},"Update_Account_Record_for_Status_and_New_Owner":{"runAfter":{"Update_AMR_record_on_Approved":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Account')?['body/accountid']","item/ownerid@odata.bind":"/systemusers(@{outputs('Update_AMR_record_on_Approved')?['body/_leidos_suggestedaccountmanager_value']})","item/statuscode":445260001},"authentication":"@parameters('$authentication')"}}}},"Reject_into_Account_Management":{"case":"Reject into Account Management","actions":{"Update_Account_on_Reject":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Account')?['body/accountid']","item/statecode":0,"item/statuscode":1},"authentication":"@parameters('$authentication')"}},"Update_AMR_to_Rejected":{"runAfter":{"Update_Account_on_Reject":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","recordId":"@triggerOutputs()?['body/leidos_accountmanagementrecordid']","item/statecode":1,"item/statuscode":445260001},"authentication":"@parameters('$authentication')"}}}},"Defer_Decision_on__Account_Management":{"case":"Defer Decision on  Account Management","actions":{}}},"default":{"actions":{}},"expression":"@outputs('Start_and_wait_for_an_approval_2')?['body/outcome']","type":"Switch"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}