HIE_CDS/Workflows/AMR-Flow-ONChangeofStateChangeAccount-3BC0EBBC-950F-EB11-A813-000D3A7F1BBB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnAMR"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"AMR_On_Change_of_State_Change_Account":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_accountmanagementrecord","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"statecode","subscriptionRequest/filterexpression":"statecode eq 1"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Parent_Account":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_leidos_parentaccount_value']"},"authentication":"@parameters('$authentication')"}},"If_Account_is_Active":{"actions":{"Update_Account_Status_Reason_to_Active":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Parent_Account')?['body/accountid']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Parent_Account":["Succeeded"]},"else":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"and":[{"equals":["@outputs('Get_Parent_Account')?['body/statecode']",0]},{"not":{"equals":["@outputs('Get_Parent_Account')?['body/statuscode']",1]}}]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}