HIE_CDS/Workflows/Application-Flow-SubmitNFIEmailApproval-9488A49E-EF27-EB11-A813-000D3A7FEDBE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_2":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_sharedcommondataserviceforapps_62e90"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnOffice365Outlook"},"api":{"name":"shared_office365"}},"shared_approvals_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ApprovalConnectionReference"},"api":{"name":"shared_approvals"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Application_NFI_Email_Approval":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_application","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_submitnfiemailapproval","subscriptionRequest/filterexpression":"leidos_submitnfiemailapproval eq true"},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Budget Delegated Authority","type":"String"}]}},"Get_all_of_the_Data_required_for_the_Approval":{"actions":{"Switch":{"runAfter":{},"cases":{"Grade_E_Staff":{"case":445260000,"actions":{"Get_Grade_E_Staff":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_gradeestaff_value']"},"authentication":"@parameters('$authentication')"}},"Set_the_Budget_Approver_to_Grade_E_Staff":{"runAfter":{"Get_Grade_E_Staff":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Budget Delegated Authority","value":"@outputs('Get_Grade_E_Staff')?['body/_leidos_userrecord_value']"}}}},"Grade_F_Staff":{"case":445260006,"actions":{"Get_Grade_F_Staff":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_gradefstaff_value']"},"authentication":"@parameters('$authentication')"}},"Set_the_Budget_Approver_to_Grade_F_Staff":{"runAfter":{"Get_Grade_F_Staff":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Budget Delegated Authority","value":"@outputs('Get_Grade_F_Staff')?['body/_leidos_userrecord_value']"}}}},"Executive_Grade_Staff":{"case":445260001,"actions":{"Get_Executive_Grade_Staff":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_executivegradestaff_value']"},"authentication":"@parameters('$authentication')"}},"Set_Approver_to_Executive_Grade_Staff":{"runAfter":{"Get_Executive_Grade_Staff":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Budget Delegated Authority","value":"@outputs('Get_Executive_Grade_Staff')?['body/_leidos_userrecord_value']"}}}},"Leadership_Team":{"case":445260003,"actions":{"Get_Leadership_Team":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_leadershipteam_value']"},"authentication":"@parameters('$authentication')"}},"Set_to_Leadership_Team":{"runAfter":{"Get_Leadership_Team":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Budget Delegated Authority","value":"@outputs('Get_Leadership_Team')?['body/_leidos_userrecord_value']"}}}},"HIE_Chief_Executive\t":{"case":445260004,"actions":{"Get_HIE_Chief_Exec":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_hiechiefexecutive_value']"},"authentication":"@parameters('$authentication')"}},"Set_to_HIE_Chief_Exec":{"runAfter":{"Get_HIE_Chief_Exec":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Budget Delegated Authority","value":"@outputs('Get_HIE_Chief_Exec')?['body/_leidos_userrecord_value']"}}}},"HIE_Board":{"case":445260005,"actions":{"Get_HIE_Board":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_hieboard_value']"},"authentication":"@parameters('$authentication')"}},"Set_HIE_Board":{"runAfter":{"Get_HIE_Board":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Budget Delegated Authority","value":"@outputs('Get_HIE_Board')?['body/_leidos_userrecord_value']"}}}},"Programme_Manager":{"case":445260007,"actions":{"Get_PM_From_Del_Auth":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_programmemanager_value']"},"authentication":"@parameters('$authentication')"}},"Set_variable":{"runAfter":{"Get_PM_From_Del_Auth":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Budget Delegated Authority","value":"@outputs('Get_PM_From_Del_Auth')?['body/_leidos_userrecord_value']"}}}},"Leadership_Team_Top_Slice":{"case":445260008,"actions":{"Get_LT_TS_From_Del_Auth":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_leadershipteamtopslice_value']"},"authentication":"@parameters('$authentication')"}},"Set_Leadership_Team_Top_Slice":{"runAfter":{"Get_LT_TS_From_Del_Auth":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Budget Delegated Authority","value":"@outputs('Get_LT_TS_From_Del_Auth')?['body/_leidos_userrecord_value']"}}}}},"default":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"message":"No valid Justification Path"}}}}},"expression":"@triggerOutputs()?['body/leidos_projectjustificationpath']","type":"Switch"},"Update_Application_with_Submit_Details":{"runAfter":{"Switch":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@triggerOutputs()?['body/leidos_applicationid']","item/leidos_budgetapprovalrequestedon":"@utcNow()"},"authentication":"@parameters('$authentication')"}},"Get_Delegated_Authority_Record":{"runAfter":{"Update_Application_with_Submit_Details":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@variables('Budget Delegated Authority')"},"authentication":"@parameters('$authentication')"}},"Get_Submitted_by":{"runAfter":{"Get_Delegated_Authority_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_leidos_submittedby_value']"},"authentication":"@parameters('$authentication')"}},"Run_a_Child_Flow":{"runAfter":{"Get_Submitted_by":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/leidos_applicationid']","EntityType_Value":"leidos_application"}}},"List_BPF_instance":{"runAfter":{"Run_a_Child_Flow":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"new_bpfapplicationbusinessprocessflows","$filter":"_bpf_leidos_applicationid_value eq  '@{triggerOutputs()?['body/leidos_applicationid']}'","$top":1},"authentication":"@parameters('$authentication')"}},"BPF_Application_ID":{"runAfter":{"Get_BPF_Project_ID":["Succeeded"]},"type":"Compose","inputs":"@outputs('List_BPF_instance')?['body/value']?[0]?.businessprocessflowinstanceid"},"Get_Account":{"runAfter":{"BPF_Application_ID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_leidos_parentaccount_value']"},"authentication":"@parameters('$authentication')"}},"Get_BPF_Project_ID":{"runAfter":{"List_BPF_instance":["Succeeded"]},"type":"Compose","inputs":"@outputs('List_BPF_instance')?['body/value']?[0]?._bpf_leidos_projectid_value"},"Get_BPF_Project":{"runAfter":{"Get_Account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@outputs('Get_BPF_Project_ID')"},"authentication":"@parameters('$authentication')"}},"Get_Pipeline":{"runAfter":{"Get_BPF_Project":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_pipelineprojects","recordId":"@outputs('Get_BPF_Project')?['body/_leidos_preapplicationprocess_value']"},"authentication":"@parameters('$authentication')"}},"Get_Team":{"runAfter":{"Get_Pipeline":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_hieteams","recordId":"@outputs('Get_Pipeline')?['body/_leidos_team_value']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Initialize_variable":["Succeeded"]},"type":"Scope"},"Switch_on_Outcome":{"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"cases":{"Approve_Project":{"case":"Approve Project","actions":{"Update_Application_with_Approval_Data":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Set_Application_to_Approved":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@triggerOutputs()?['body/leidos_applicationid']","item/leidos_BudgetApprovedBy@odata.bind":"systemusers(@{outputs('Get_Delegated_Authority_Record')?['body/systemuserid']})","item/leidos_budgetapprovalcomments":"@items('Update_Application_with_Approval_Data')?['comments']","item/leidos_budgetapprovaldecisionoutcome":445260000,"item/leidos_budgetapprovedon":"@utcNow()","item/statecode":1,"item/statuscode":445260012},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Close_BPF_Application":{"runAfter":{"Update_Application_with_Approval_Data":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"new_bpfapplicationbusinessprocessflows","recordId":"@outputs('BPF_Application_ID')","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}},"Update_Project_to_Appraisal_Approved":{"runAfter":{"Update_Application_with_Approval_Data":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@outputs('Get_BPF_Project')?['body/leidos_projectid']","item/statecode":0,"item/statuscode":445260001},"authentication":"@parameters('$authentication')"}}}},"Reject_Project":{"case":"Reject Project","actions":{"Close_BPF_as_Finished":{"runAfter":{"Update_Application_with_Response":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"new_bpfapplicationbusinessprocessflows","recordId":"@outputs('BPF_Application_ID')","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}},"Update_Application_with_Response":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Update_Application":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@triggerOutputs()?['body/leidos_applicationid']","item/leidos_BudgetApprovedBy@odata.bind":"systemusers(@{outputs('Get_Delegated_Authority_Record')?['body/systemuserid']})","item/leidos_budgetapprovalcomments":"@items('Update_Application_with_Response')?['comments']","item/leidos_budgetapprovaldecisionoutcome":445260001,"item/leidos_budgetapprovedon":"@utcNow()","item/statuscode":2},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Update_Project_to_Rejected":{"runAfter":{"Update_Application_with_Response":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@outputs('Get_BPF_Project')?['body/leidos_projectid']","item/statecode":1,"item/statuscode":445260012},"authentication":"@parameters('$authentication')"}}}},"Defer_Project":{"case":"Defer Project","actions":{"Add_Defer_Comment_to_Applicaiton":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Update_Application_on_Defer":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@triggerOutputs()?['body/leidos_applicationid']","item/leidos_BudgetApprovedBy@odata.bind":"systemusers(@{outputs('Get_Delegated_Authority_Record')?['body/systemuserid']})","item/leidos_budgetapprovalcomments":"@items('Add_Defer_Comment_to_Applicaiton')?['comments']","item/leidos_budgetapprovaldecisionoutcome":445260002,"item/leidos_budgetapprovedon":"@utcNow()","item/statecode":0,"item/statuscode":445260009,"item/leidos_submitnfiemailapproval":false,"item/leidos_submitapplicationforbudgetapproval":false},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Update_Project_for_Defer":{"runAfter":{"Add_Defer_Comment_to_Applicaiton":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@outputs('Get_BPF_Project')?['body/leidos_projectid']","item/statecode":0,"item/statuscode":445260004},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@outputs('Start_and_wait_for_an_approval')?['body/outcome']","type":"Switch"},"Owner_Type":{"runAfter":{"Switch_on_Outcome":["Succeeded"]},"type":"Compose","inputs":"@triggerOutputs()?['body/_ownerid_value@Microsoft.Dynamics.CRM.lookuplogicalname']"},"Condition":{"actions":{},"runAfter":{"Owner_Type":["Succeeded"]},"else":{"actions":{"Get_the_Owner":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Send_an_email_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_the_Owner')?['body/internalemailaddress']","emailMessage/Subject":"Approval Request for Project: @{triggerOutputs()?['body/leidos_name']}","emailMessage/Body":"<ul>\n  <li><strong>Delegated Authority</strong>: @{items('Apply_to_each')?['responder/displayName']} &nbsp;</li>\n  <li><strong>Delegated Authority Decision</strong>: @{outputs('Start_and_wait_for_an_approval')?['body/outcome']}</li>\n  <li><strong>Delegated Authority Comments</strong>: @{items('Apply_to_each')?['comments']}</li>\n  <li><strong>Delegated Authority Decision Date:</strong>: @{formatDateTime(utcNow(), 'dd/MM/yyyy')}</li>\n</ul>\n<p><br></p>\n<p>Record Link <a href=\"@{outputs('Run_a_Child_Flow')?['Body']?['entityurl']}\">@{triggerOutputs()?['body/leidos_name']}</a><br></p>\n\n<p>If the Project has been Approved please ensure you complete the Date of Decision field to enable the Project to progress<br></p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_the_Owner":["Succeeded"]},"type":"Foreach"}}},"expression":{"equals":["@outputs('Owner_Type')","teams"]},"type":"If"},"Create_Task_of_Responses":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Create_Task":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"tasks","item/subject":"Project Approval Process: Result","item/description":"\n\nDelegated Authority:  @{items('Create_Task_of_Responses')?['responder/displayName']}\nDelegated Authority Decision:  @{outputs('Start_and_wait_for_an_approval')?['body/outcome']}\nDelegated Authority Comments: @{items('Create_Task_of_Responses')?['comments']}\nDelegated Authority Decision Date: @{formatDateTime(utcNow(),'dd-MMM-yyyy')}","item/regardingobjectid_leidos_application_task@odata.bind":"/leidos_applications(@{triggerOutputs()?['body/leidos_applicationid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Condition":["Succeeded"]},"type":"Foreach"},"Start_and_wait_for_an_approval":{"runAfter":{"Get_all_of_the_Data_required_for_the_Approval":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals_1","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Approve Project","Reject Project","Defer Project"],"WebhookApprovalCreationInput/title":"Request for NFI Email Approval Decision @{triggerOutputs()?['body/leidos_name']}","WebhookApprovalCreationInput/assignedTo":"@outputs('Get_Delegated_Authority_Record')?['body/internalemailaddress']","WebhookApprovalCreationInput/details":"### The following has been submitted for Project Approval ###\n\n- Client Name : @{outputs('Get_Account')?['body/name']}\n- Project name:  @{outputs('Get_BPF_Project')?['body/leidos_name']}\n- Project summary: @{outputs('Get_BPF_Project')?['body/leidos_projectsummary']}\n- Expected outcomes: @{outputs('Get_BPF_Project')?['body/leidos_expectedoutcomes']}\n- Indicative gross cost: £@{outputs('Get_BPF_Project')?['body/leidos_indicativegrosscost']}\n- Recovery: £@{outputs('Get_BPF_Project')?['body/leidos_nfirecoveryamount']}\n- Indicative net cost: £@{outputs('Get_BPF_Project')?['body/leidos_indicativenetcost']}\n- Start date: @{formatDateTime(outputs('Get_BPF_Project')?['body/leidos_projectstartdate'],'dd-MMM-yyyy')}\n- End date : @{formatDateTime(outputs('Get_BPF_Project')?['body/leidos_projectenddate'],'dd-MMM-yyyy')}\n- Team: @{outputs('Get_Team')?['body/leidos_name']}\n-Recomendation - @{if(triggerOutputs()?['body/leidos_recommendation'], 'Approve', 'Reject')}\n\n#### If the Date of Decision was prior to this sign off, please include the actual Date of Decision in the Note box below. ####\n","WebhookApprovalCreationInput/itemLink":"@outputs('Run_a_Child_Flow')?['Body']?['entityurl']","WebhookApprovalCreationInput/itemLinkDescription":"@triggerOutputs()?['body/leidos_name']","WebhookApprovalCreationInput/requestor":"@outputs('Get_Submitted_by')?['body/internalemailaddress']","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Update_Project_to_Lock_during_approval":{"runAfter":{"Update_Application_Status":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@outputs('Get_BPF_Project')?['body/leidos_projectid']","item/statecode":1,"item/statuscode":445260008},"authentication":"@parameters('$authentication')"}},"Update_Application_Status":{"runAfter":{"Get_all_of_the_Data_required_for_the_Approval":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@triggerOutputs()?['body/leidos_applicationid']","item/leidos_budgetapprovalrequestedon":"@utcNow()","item/statecode":1,"item/statuscode":445260007},"authentication":"@parameters('$authentication')"}},"Error_Catch":{"actions":{"Update_Application_Reset_Submit":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@triggerOutputs()?['body/leidos_applicationid']","item/leidos_submitnfiemailapproval":false,"item/leidos_submitapplicationforbudgetapproval":false},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_2":{"runAfter":{"Update_Application_Reset_Submit":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_Submitted_by')?['body/internalemailaddress']","emailMessage/Subject":"Application Submit for Approval Failed : @{triggerOutputs()?['body/leidos_applicationreference']}","emailMessage/Body":"<p>The Approval workflow has been subject to an error, please check the data and resubmit.</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_all_of_the_Data_required_for_the_Approval":["Failed"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}