HIE_CDS/Workflows/Application-Flow-SubmitforBudgetApproval-04D1B1BD-F956-EA11-A811-000D3A7F1BBB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_approvals":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_approvals"}},"shared_office365":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Application_on_Submit_for_Budget_Approval":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_application","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_submitapplicationforbudgetapproval","subscriptionRequest/filterexpression":"leidos_submitapplicationforbudgetapproval eq true"},"authentication":"@parameters('$authentication')"}}},"actions":{"Update_Application_with_Submit_Details":{"runAfter":{"Switch":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@triggerOutputs()?['body/leidos_applicationid']","item/leidos_budgetapprovalrequestedon":"@utcNow()","item/statecode":1,"item/statuscode":445260007},"authentication":"@parameters('$authentication')"}},"Get_Delegated_Authority_Record":{"runAfter":{"Update_Application_with_Submit_Details":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@variables('Budget Delegated Authority')"},"authentication":"@parameters('$authentication')"}},"Run_a_Child_Flow":{"runAfter":{"Get_Delegated_Authority_Record":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/leidos_applicationid']","EntityType_Value":"leidos_application"}}},"List_BPF_instance":{"runAfter":{"Run_a_Child_Flow":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"new_bpfapplicationbusinessprocessflows","$filter":"_bpf_leidos_applicationid_value eq  '@{triggerOutputs()?['body/leidos_applicationid']}'","$top":1},"authentication":"@parameters('$authentication')"}},"Start_and_wait_for_an_approval":{"runAfter":{"BPF_Application_ID":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Approve Budget","Reject ","Defer"],"WebhookApprovalCreationInput/title":"Budget Approval requested for @{triggerOutputs()?['body/leidos_name']}","WebhookApprovalCreationInput/assignedTo":"@outputs('Get_Delegated_Authority_Record')?['body/internalemailaddress']","WebhookApprovalCreationInput/details":"The following has been submitted for Budget Approval\n\nLink to Appliction record in MyHIE:  [@{triggerOutputs()?['body/leidos_name']}](@{outputs('Run_a_Child_Flow')?['Body']?['entityurl']})","WebhookApprovalCreationInput/itemLink":"@outputs('Update_Application_with_Submit_Details')?['body/leidos_appraisaldocumentlink']","WebhookApprovalCreationInput/itemLinkDescription":"Application Appraisal Document","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Switch_on_Outcome":{"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"cases":{"Approve_Budget":{"case":"Approve Budget","actions":{"Set_Application_to_Approved":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@triggerOutputs()?['body/leidos_applicationid']","item/leidos_budgetapprovaldecisionoutcome":445260000,"item/leidos_BudgetApprovedBy@odata.bind":"systemusers(@{outputs('Get_Delegated_Authority_Record')?['body/systemuserid']})","item/leidos_budgetapprovedon":"@utcNow()","item/statecode":1,"item/statuscode":445260012},"authentication":"@parameters('$authentication')"}},"Create_A_task_for_the_Application_Owner":{"runAfter":{"Set_Application_to_Approved":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"PerformBoundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","actionName":"Microsoft.Dynamics.CRM.leidos_Application0OnApprovedCreatetask","recordId":"@outputs('Set_Application_to_Approved')?['body/leidos_applicationid']"},"authentication":"@parameters('$authentication')"}},"List_Live_Projects":{"runAfter":{"Create_A_task_for_the_Application_Owner":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_project\">\n    <attribute name=\"leidos_projectid\" />\n    <attribute name=\"leidos_name\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentapplication\" operator=\"eq\"  value=\"{@{outputs('Set_Application_to_Approved')?['body/leidos_applicationid']}}\" />\n      <condition attribute=\"statuscode\" operator=\"eq\" value=\"445260005\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"For_Each_Project":{"foreach":"@outputs('List_Live_Projects')?['body/value']","actions":{"Update_Projects_to_Approved":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@items('For_Each_Project')?['leidos_projectid']","item/statecode":0,"item/statuscode":445260006},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Live_Projects":["Succeeded"]},"type":"Foreach"},"Close_BPF_Application":{"runAfter":{"For_Each_Project":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"new_bpfapplicationbusinessprocessflows","recordId":"@outputs('BPF_Application_ID')","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}}}},"Reject_Budget":{"case":"Reject ","actions":{"Update_Application":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@triggerOutputs()?['body/leidos_applicationid']","item/leidos_budgetapprovaldecisionoutcome":445260001,"item/statuscode":2},"authentication":"@parameters('$authentication')"}},"Close_BPF_as_Finished":{"runAfter":{"Update_Application":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"new_bpfapplicationbusinessprocessflows","recordId":"@outputs('BPF_Application_ID')","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}}}},"Defer_Budget":{"case":"Defer","actions":{"Update_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@triggerOutputs()?['body/leidos_applicationid']","item/leidos_budgetapprovaldecisionoutcome":445260002,"item/statecode":0,"item/statuscode":445260009,"item/leidos_submitapplicationforbudgetapproval":false},"authentication":"@parameters('$authentication')"}},"Create_a_Note_with_the_Defer_Text":{"runAfter":{"Update_a_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","item/subject":"Budget Approval Defer Note","item/notetext":"@outputs('Start_and_wait_for_an_approval')?['body/responseSummary']","item/objectid_leidos_application@odata.bind":"/leidos_applications(@{outputs('Update_a_record')?['body/leidos_applicationid']})"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@outputs('Start_and_wait_for_an_approval')?['body/outcome']","type":"Switch"},"Owner_Type":{"runAfter":{"Switch_on_Outcome":["Succeeded"]},"type":"Compose","inputs":"@triggerOutputs()?['body/_ownerid_value@Microsoft.Dynamics.CRM.lookuplogicalname']"},"Condition":{"actions":{},"runAfter":{"Owner_Type":["Succeeded"]},"else":{"actions":{"Get_the_Owner":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Send_email_to_owner":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_the_Owner')?['body/internalemailaddress']","emailMessage/Subject":"Budget Approval request for @{triggerOutputs()?['body/leidos_name']} Outcome : @{outputs('Start_and_wait_for_an_approval')?['body/outcome']}","emailMessage/Body":"<p><u><strong>Response Outcome</strong></u>:@{outputs('Start_and_wait_for_an_approval')?['body/outcome']}<br>\n<u><strong>Response Comments</strong></u>: @{items('Apply_to_each')?['comments']}</p> <br>\n\n<a href=\"@{outputs('Run_a_Child_Flow')?['Body']?['entityurl']}\">Click here to see Record </a>\n\n"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_the_Owner":["Succeeded"]},"type":"Foreach"}}},"expression":{"equals":["@outputs('Owner_Type')","teams"]},"type":"If"},"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Budget Delegated Authority","type":"String","value":"@triggerOutputs()?['body/_leidos_budgetapprovaldelegatedauthority_value']"}]}},"Switch":{"runAfter":{"Initialize_variable":["Succeeded"]},"cases":{"Delegated_Authority":{"case":445260000,"actions":{"Set_The_Budget_Approver_if_Delegated":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Budget Delegated Authority","value":"@triggerOutputs()?['body/_leidos_delegatedauthority_value']"}}}},"Area_Manager":{"case":445260001,"actions":{"Get_Area_Office":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_areaoffices","recordId":"@triggerOutputs()?['body/_leidos_areaoffice_value']"},"authentication":"@parameters('$authentication')"}},"Set_variable":{"runAfter":{"Get_Area_Office":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Budget Delegated Authority","value":"@outputs('Get_Area_Office')?['body/_leidos_officemanager_value']"}}}},"Board_Level":{"case":445260002,"actions":{"Set_the_Budget_Approver_to_the_Board_Rep":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Budget Delegated Authority","value":"@triggerOutputs()?['body/_leidos_boardrepresentative_value']"}}}}},"default":{"actions":{}},"expression":"@triggerOutputs()?['body/leidos_projectjustificationpath']","type":"Switch"},"BPF_Application_ID":{"runAfter":{"List_BPF_instance":["Succeeded"]},"type":"Compose","inputs":"@outputs('List_BPF_instance')?['body/value']?[0]?.businessprocessflowinstanceid"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}