HIE_CDS/Workflows/BPF-PipelineProject-Flow-OnChangeofStage-B3718463-B7A5-EA11-A812-000D3A7F1BBB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"BPF-_Pipeline_Project_-_On_Change_of_Stage":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_bpf_pipelineproject","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Pipeline_Project_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_pipelineprojects","recordId":"@triggerOutputs()?['body/_bpf_leidos_pipelineprojectid_value']"},"authentication":"@parameters('$authentication')"}},"Switch":{"runAfter":{"Get_Pipeline_Project_record":["Succeeded"]},"cases":{"Pre_Application":{"case":"4ba8d4d0-e957-4810-bc60-78f7718a6578","actions":{"Set_Status_reason_to_Pipeline":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_pipelineprojects","recordId":"@outputs('Get_Pipeline_Project_record')?['body/leidos_pipelineprojectid']","item/statecode":0,"item/statuscode":1},"authentication":"@parameters('$authentication')"}}}},"Pipeline_Project_Close":{"case":"d4b08815-e38e-4853-8016-e07d4d117779","actions":{"Check_is_Proceed_to_Applications":{"actions":{"Close_Pipeline_Project":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_pipelineprojects","recordId":"@outputs('Get_Pipeline_Project_record')?['body/leidos_pipelineprojectid']","item/leidos_isaapprovedon":"@utcNow()","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}},"Close_BPF":{"runAfter":{"Close_Pipeline_Project":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_bpf_pipelineprojects","recordId":"@triggerOutputs()?['body/businessprocessflowinstanceid']","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@outputs('Get_Pipeline_Project_record')?['body/leidos_preapplicationroute']",445260000]},"type":"If"}}}},"default":{"actions":{}},"expression":"@triggerOutputs()?['body/_activestageid_value']","type":"Switch"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}