HIE_CDS/Workflows/BPFApplication-Flow-OnchangeofStage-73AE4FB7-BC54-EA11-A813-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"BPF_on_Change_to_Active_Stage":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"new_bpfapplicationbusinessprocessflow","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Application_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@triggerOutputs()?['body/_bpf_leidos_applicationid_value']"},"authentication":"@parameters('$authentication')"}},"Switch":{"runAfter":{"Application_Record":["Succeeded"]},"cases":{"Basic_Application_Details":{"case":"d4869582-06ff-0470-3c36-003fc9de853a","actions":{"Set_Application_to_Draft":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@outputs('Application_Record')?['body/leidos_applicationid']","item/statecode":0,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}}}},"Application":{"case":"4f21da05-bba6-4c30-88f5-8ea86f006e88","actions":{"Set_Application_to_In_Progress":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@outputs('Application_Record')?['body/leidos_applicationid']","item/statecode":0,"item/statuscode":445260009},"authentication":"@parameters('$authentication')"}}}},"Progress_To_Due_Diligence":{"case":"67607c81-950f-4aa5-a376-8cee1a01c190","actions":{}}},"default":{"actions":{}},"expression":"@triggerOutputs()?['body/_activestageid_value']","type":"Switch"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}