HIE_CDS/Workflows/Claim-Flow-SubmitforApproval-51DC1CF8-792D-EB11-A813-0022483FAE82.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnClaim"},"api":{"name":"shared_commondataserviceforapps"}},"shared_approvals":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ApprovalConnectionReference"},"api":{"name":"shared_approvals"}},"shared_office365":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnOffice365Outlook"},"api":{"name":"shared_office365"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_sharedcommondataserviceforapps_62e90"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Claim_Submit_for_Approval":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_claim","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_submitclaimforapproval","subscriptionRequest/filterexpression":"leidos_submitclaimforapproval eq true","subscriptionRequest/runas":3},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Process_Data":{"actions":{"Get_Delegated_Authority":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_leidos_claimapprover_value']"},"authentication":"@parameters('$authentication')"}},"Requested_By":{"runAfter":{"Get_Delegated_Authority":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_leidos_submittedby_value']"},"authentication":"@parameters('$authentication')"}},"Run_a_Child_Flow":{"runAfter":{"Requested_By":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/leidos_claimid']","EntityType_Value":"leidos_claim"}}},"Claim_Form_Routing_Label":{"runAfter":{"Run_a_Child_Flow":["Succeeded"]},"type":"Compose","inputs":"@triggerOutputs()?['body/_leidos_claimformrouting_label']"},"Get_Account":{"runAfter":{"Claim_Form_Routing_Label":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_leidos_parentaccount_value']"},"authentication":"@parameters('$authentication')"}},"List_records_:_Claim_Detail":{"runAfter":{"Claim_Form_Routing_Label":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_claimdetails","$select":"leidos_claimdetailid","$filter":"statuscode ne 2 and _leidos_parentclaim_value eq @{triggerOutputs()?['body/leidos_claimid']}"},"authentication":"@parameters('$authentication')"}},"List_records_:_Project_Measures":{"runAfter":{"Claim_Form_Routing_Label":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_progressmeasures","$select":"leidos_progressmeasureid","$filter":"statuscode ne 2 and _leidos_parentclaim_value eq @{triggerOutputs()?['body/leidos_claimid']}"},"authentication":"@parameters('$authentication')"}},"List_records:_Progress_Milestones":{"runAfter":{"Claim_Form_Routing_Label":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_progressmilestoneses","$select":"leidos_progressmilestonesid","$filter":"statuscode ne 2 and _leidos_parentclaim_value eq @{triggerOutputs()?['body/leidos_claimid']}"},"authentication":"@parameters('$authentication')"}},"List_records:_Payment_Claims":{"runAfter":{"Claim_Form_Routing_Label":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_paymentclaims","$select":"leidos_paymentclaimid","$filter":"statuscode ne 2 and _leidos_parentclaim_value eq @{triggerOutputs()?['body/leidos_claimid']}"},"authentication":"@parameters('$authentication')"}},"Get_Project":{"runAfter":{"Claim_Form_Routing_Label":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_parentproject_value']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Scope"},"Start_and_wait_for_an_approval":{"runAfter":{"Get_Process_Data":["Succeeded"]},"limit":{"timeout":"P3D"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Approve and Authorise Claim","Defer Claim return Processor"],"WebhookApprovalCreationInput/title":"Claim Approval and Authorisation for @{triggerOutputs()?['body/leidos_name']}","WebhookApprovalCreationInput/assignedTo":"@{outputs('Get_Delegated_Authority')?['body/internalemailaddress']};","WebhookApprovalCreationInput/details":"## Approval for Claim  : @{triggerOutputs()?['body/leidos_name']}  \n\n### Account: **@{outputs('Get_Account')?['body/name']}**  \nRouting: **@{outputs('Claim_Form_Routing_Label')}**  \nPayment Claim Net Total: **£@{triggerOutputs()?['body/leidos_paymentclaimnettotal']}**","WebhookApprovalCreationInput/itemLink":"@triggerOutputs()?['body/leidos_name']","WebhookApprovalCreationInput/itemLinkDescription":"@outputs('Run_a_Child_Flow')?['Body']?['entityurl']","WebhookApprovalCreationInput/requestor":"@{outputs('Requested_By')?['body/internalemailaddress']};","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Run_on_Data_Fail":{"actions":{"Update_Claim_to_reset":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_claims","recordId":"@triggerOutputs()?['body/leidos_claimid']","item/leidos_submitclaimforapproval":false},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Update_Claim_to_reset":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Requested_By')?['body/internalemailaddress']","emailMessage/Subject":"Claim reference @{outputs('Update_Claim_to_reset')?['body/leidos_claimreference']} Approval Process Failed","emailMessage/Body":"<p>The Flow for the Approval Process for @{outputs('Update_Claim_to_reset')?['body/leidos_claimreference']} has failed due to missing data.<br>\n<br>\nPlease check the data and resubmit &nbsp;<br>\n<br>\nRecord Link: @{outputs('Run_a_Child_Flow')?['Body']?['entityurl']}</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Process_Data":["Failed"]},"type":"Scope"},"Time_Out_Actions":{"actions":{"Update_Claim_to_Allow_resubmit":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_claims","recordId":"@triggerOutputs()?['body/leidos_claimid']","item/statecode":0,"item/statuscode":445260000,"item/leidos_submitclaimforapproval":false},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_2":{"runAfter":{"Update_Claim_to_Allow_resubmit":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Requested_By')?['body/internalemailaddress']","emailMessage/Subject":"Claim @{outputs('Update_Claim_to_Allow_resubmit')?['body/leidos_claimreference']}","emailMessage/Body":"<p>The Flow for the Approval Process for @{outputs('Update_Claim_to_Allow_resubmit')?['body/leidos_claimreference']}  has timed out as the Approver has not approved the response within the time limit.<br>\n<br>\nPlease check the availability of a suitable Authoriser and resubmit<br>\n<br>\nRecord Link: @{outputs('Run_a_Child_Flow')?['Body']?['entityurl']}</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Start_and_wait_for_an_approval":["TimedOut"]},"type":"Scope"},"Switch":{"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"cases":{"Approve_and_Authorise_Claim":{"case":"Approve and Authorise Claim","actions":{"Update_Claim_to_Approved":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_claims","recordId":"@triggerOutputs()?['body/leidos_claimid']","item/leidos_dateofposting":"@outputs('Start_and_wait_for_an_approval')?['body/completionDate']","item/statecode":1,"item/statuscode":445260003},"authentication":"@parameters('$authentication')"}},"Set_Claim_Details_to_Approved":{"foreach":"@outputs('List_records_:_Claim_Detail')?['body/value']","actions":{"Update_a_record_4":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_claimdetails","recordId":"@items('Set_Claim_Details_to_Approved')?['leidos_claimdetailid']","item/statecode":1,"item/statuscode":445260001},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_Claim_to_Approved":["Succeeded"]},"type":"Foreach"},"Set_Progress_Measure_to_Approved":{"foreach":"@outputs('List_records_:_Project_Measures')?['body/value']","actions":{"Update_a_record_5":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_progressmeasures","recordId":"@items('Set_Progress_Measure_to_Approved')?['leidos_progressmeasureid']","item/statecode":1,"item/statuscode":445260001},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_Claim_to_Approved":["Succeeded"]},"type":"Foreach"},"Apply_to_each":{"foreach":"@outputs('List_records:_Progress_Milestones')?['body/value']","actions":{"Update_a_record_6":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_progressmilestoneses","recordId":"@items('Apply_to_each')?['leidos_progressmilestonesid']","item/statecode":1,"item/statuscode":445260001},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_Claim_to_Approved":["Succeeded"]},"type":"Foreach"},"Set_Payment_Claims_to_Approved":{"foreach":"@outputs('List_records:_Payment_Claims')?['body/value']","actions":{"Update_a_record_11":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_paymentclaims","recordId":"@items('Set_Payment_Claims_to_Approved')?['leidos_paymentclaimid']","item/statecode":1,"item/statuscode":445260001},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_Claim_to_Approved":["Succeeded"]},"type":"Foreach"}}},"Defer_Claim_return_Processor":{"case":"Defer Claim return Processor","actions":{"Update_Claim_to_Defer_to_allow_resubmit":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_claims","recordId":"@triggerOutputs()?['body/leidos_claimid']","item/statecode":0,"item/statuscode":445260000,"item/leidos_submitclaimforapproval":false},"authentication":"@parameters('$authentication')"}},"Unlock_Claim_Detail_on_Defer":{"foreach":"@outputs('List_records_:_Claim_Detail')?['body/value']","actions":{"Update_a_record_7":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_claimdetails","recordId":"@items('Unlock_Claim_Detail_on_Defer')?['leidos_claimdetailid']","item/statecode":0,"item/statuscode":1},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_Claim_to_Defer_to_allow_resubmit":["Succeeded"]},"type":"Foreach"},"Unlock_Progress_Measure_on_Defer":{"foreach":"@outputs('List_records_:_Project_Measures')?['body/value']","actions":{"Update_a_record_8":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_progressmeasures","recordId":"@items('Unlock_Progress_Measure_on_Defer')?['leidos_progressmeasureid']","item/statecode":0,"item/statuscode":1},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_Claim_to_Defer_to_allow_resubmit":["Succeeded"]},"type":"Foreach"},"Unlock_Progress_Milestones":{"foreach":"@outputs('List_records:_Progress_Milestones')?['body/value']","actions":{"Update_a_record_9":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_progressmilestoneses","recordId":"@items('Unlock_Progress_Milestones')?['leidos_progressmilestonesid']","item/statecode":0,"item/statuscode":1},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_Claim_to_Defer_to_allow_resubmit":["Succeeded"]},"type":"Foreach"},"Unlock_all_Payment__Claims":{"foreach":"@outputs('List_records:_Payment_Claims')?['body/value']","actions":{"Update_a_record_12":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_paymentclaims","recordId":"@items('Unlock_all_Payment__Claims')?['leidos_paymentclaimid']","item/statecode":0,"item/statuscode":1},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_Claim_to_Defer_to_allow_resubmit":["Succeeded"]},"type":"Foreach"}}}},"default":{"actions":{}},"expression":"@outputs('Start_and_wait_for_an_approval')?['body/outcome']","type":"Switch"},"Lock_All_Record_During_Approval":{"actions":{"Update_Claim_to_Submitted":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_claims","recordId":"@triggerOutputs()?['body/leidos_claimid']","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}},"Update_Claim_Detail_Records":{"foreach":"@outputs('List_records_:_Claim_Detail')?['body/value']","actions":{"Update_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_claimdetails","recordId":"@items('Update_Claim_Detail_Records')?['leidos_claimdetailid']","item/statecode":1,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_Claim_to_Submitted":["Succeeded"]},"type":"Foreach"},"Update_Progress_Measure_Child_Records":{"foreach":"@outputs('List_records_:_Project_Measures')?['body/value']","actions":{"Update_a_record_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_progressmeasures","recordId":"@items('Update_Progress_Measure_Child_Records')?['leidos_progressmeasureid']","item/statecode":1,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_Claim_to_Submitted":["Succeeded"]},"type":"Foreach"},"Update_Progress_Milestones":{"foreach":"@outputs('List_records:_Progress_Milestones')?['body/value']","actions":{"Update_a_record_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_progressmilestoneses","recordId":"@items('Update_Progress_Milestones')?['leidos_progressmilestonesid']","item/statecode":1,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_Claim_to_Submitted":["Succeeded"]},"type":"Foreach"},"Update_Payment_Claims":{"foreach":"@outputs('List_records:_Payment_Claims')?['body/value']","actions":{"Update_a_record_10":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_paymentclaims","recordId":"@items('Update_Payment_Claims')?['leidos_paymentclaimid']","item/statecode":1,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_Claim_to_Submitted":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Get_Process_Data":["Succeeded"]},"type":"Scope"},"Apply_to_each_2":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Create_a_Task":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"tasks","item/subject":"Approval Outcome","item/description":"@{outputs('Start_and_wait_for_an_approval')?['body/responseSummary']}\n\n@{outputs('Start_and_wait_for_an_approval')?['body/details']}\n\nComments: @{items('Apply_to_each_2')?['comments']}","item/regardingobjectid_leidos_claim_task@odata.bind":"/leidos_claims(@{triggerOutputs()?['body/leidos_claimid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Switch":["Succeeded"]},"type":"Foreach"},"Apply_to_each_3":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Send_an_email_(V2)_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Requested_By')?['body/internalemailaddress']","emailMessage/Subject":"Claim@{outputs('Update_Claim_to_Approved')?['body/leidos_claimreference']} Approval Outcome: @{outputs('Start_and_wait_for_an_approval')?['body/outcome']}","emailMessage/Body":"<p>\nClient:   @{outputs('Get_Account')?['body/name']}  <br>\nProject:  @{outputs('Get_Project')?['body/leidos_name']} <br>\nProject Reference: @{outputs('Get_Project')?['body/leidos_projectreference']}  <br>\nClaims Reference: @{outputs('Update_Claim_to_Approved')?['body/leidos_claimreference']} <br> \n</p>\n<p>\n@{outputs('Start_and_wait_for_an_approval')?['body/responseSummary']}<br>\n<br>\n@{outputs('Start_and_wait_for_an_approval')?['body/details']}<br>\n<br>\n@{items('Apply_to_each_3')?['comments']}<br>\n<br>\nRecord Link: <a href= @{outputs('Run_a_Child_Flow')?['Body']?['entityurl']}\">Record Link </a> <br>\n<br>\n</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Apply_to_each_2":["Succeeded"]},"type":"Foreach"},"Update_Claim_Submission_Details":{"runAfter":{"Get_Process_Data":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_claims","recordId":"@triggerOutputs()?['body/leidos_claimid']","item/leidos_SubmittedBy@odata.bind":"/systemusers(@{outputs('Requested_By')?['body/systemuserid']})","item/leidos_submittedon":"@utcNow()"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}