HIE_CDS/Workflows/ClientLadder-CreateClientResponseRecords-8B3B1C22-1775-EB11-A812-0022484145F5.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnSystem"},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnLadder"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"On_Created_of_Client_Ladder":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"leidos_clientladder","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Ladder":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_ladders","recordId":"@triggerOutputs()?['body/_leidos_ladder_value']"},"authentication":"@parameters('$authentication')"}},"List_Questions":{"runAfter":{"Get_Ladder":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_ladderquestions","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_ladderquestion\">\n<attribute name=\"leidos_category\" />\n    <attribute name=\"leidos_ladderquestionid\" />\n    <attribute name=\"leidos_name\" />\n    <attribute name=\"leidos_questiontext\" />\n    <attribute name=\"leidos_displayorder\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_ladder\" operator=\"eq\"  uitype=\"leidos_ladder\" value=\"@{triggerOutputs()?['body/_leidos_ladder_value']}\" />\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n    </filter>\n  </entity>\n</fetch>\n"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_-_Question":{"foreach":"@outputs('List_Questions')?['body/value']","actions":{"Get_Category_for_Display_Order":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_laddercategories","recordId":"@items('Apply_to_each_-_Question')?['_leidos_category_value']"},"authentication":"@parameters('$authentication')"}},"Create_Client_Ladder_Response":{"runAfter":{"Compose_-_Order":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientladderresponses","item/leidos_ClientLadder@odata.bind":"/leidos_clientladders(@{triggerOutputs()?['body/leidos_clientladderid']})","item/leidos_displayorder":"@outputs('Compose_-_Order')","item/leidos_name":"@items('Apply_to_each_-_Question')?['leidos_questiontext']","item/leidos_Question@odata.bind":"/leidos_ladderquestions(@{items('Apply_to_each_-_Question')?['leidos_ladderquestionid']})"},"authentication":"@parameters('$authentication')"}},"Compose_-_Order":{"runAfter":{"Get_Category_for_Display_Order":["Succeeded"]},"type":"Compose","inputs":"@Add(outputs('Get_Category_for_Display_Order')?['body/leidos_displayindex'],Div(items('Apply_to_each_-_Question')?['leidos_displayorder'],100))"}},"runAfter":{"List_Questions":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}