HIE_CDS/Workflows/Enquiry-Flow-SetOwnershipWhenEnquiryisClosed-53AB298D-1A3D-EA11-A812-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Enquiry_-_On_Progressed":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_enquiry","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"statecode","subscriptionRequest/filterexpression":"statuscode eq 2"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{"Set_Enquiry_to_Relevant_Person":{"runAfter":{"Get_Relevant_User":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquiries","recordId":"@triggerOutputs()?['body/leidos_enquiryid']","item/ownerid@odata.bind":"/systemusers(@{outputs('Get_Relevant_User')?['body/systemuserid']})"},"authentication":"@parameters('$authentication')"}},"Get_Relevant_User":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_leidos_relevantperson_value']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Get_Relevant_team":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"teams","recordId":"@triggerOutputs()?['body/_leidos_relevantteam_value']"},"authentication":"@parameters('$authentication')"}},"Set_Enquiry_Ownership__to_team":{"runAfter":{"Get_Relevant_team":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquiries","recordId":"@triggerOutputs()?['body/leidos_enquiryid']","item/ownerid@odata.bind":"/teams(@{outputs('Get_Relevant_team')?['body/teamid']})"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@triggerOutputs()?['body/leidos_relevantpersonorteam']",true]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}