HIE_CDS/Workflows/GetEnvVarValue-316071DC-2DCC-EA11-A812-000D3A7F1BBB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Compose_Inputs":{"type":"any"},"EnvironmentVariableName_Inputs":{"type":"any","description":"Inputs","x-ms-powerflows-param-ispartial":false}},"required":["Compose_Inputs","EnvironmentVariableName_Inputs"]}}}},"actions":{"EnvironmentVariableName":{"runAfter":{},"type":"Compose","inputs":"@triggerBody()['EnvironmentVariableName_Inputs']"},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"List_records":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"output":"@{outputs('EnvironmentVariableName')}"},"schema":{"type":"object","properties":{"output":{"title":"Output","x-ms-dynamically-added":true,"type":"string"}}}}},"List_records":{"runAfter":{"EnvironmentVariableName":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariablevalues"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}