HIE_CDS/Workflows/LegalUndertaking-DocumentRequirement-SendemailtoPM-1A2008F9-7717-EB11-A813-0022483FAE82.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnLegal"},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnLegal"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_Note_is_Created":{"metadata":{"operationMetadataId":"a5c5a94e-5802-4eef-a83c-182e870bbdf1"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"annotation","subscriptionRequest/scope":4,"subscriptionRequest/filterexpression":"objecttypecode eq 'leidos_documentrequirement'","subscriptionRequest/name":"1a2008f9-7717-eb11-a813-0022483fae82"},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"26d6108c-4647-4d6e-a730-fe218f9f917f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Project Manager","type":"string"}]}},"Check_if_Note_created_from_Portal":{"actions":{"Get_Data_for_processing":{"actions":{"Get_Document_Requirement":{"runAfter":{},"metadata":{"operationMetadataId":"d009dd54-a404-4b68-8aec-2e0e698bdddc"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_documentrequirements","recordId":"@triggerOutputs()?['body/_objectid_value']"},"authentication":"@parameters('$authentication')"}},"Get_Legal_Undertaking":{"runAfter":{"Get_Document_Requirement":["Succeeded"]},"metadata":{"operationMetadataId":"7f46f7f3-30ca-4104-b312-b94b0cc03471"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_legalundertakings","recordId":"@outputs('Get_Document_Requirement')?['body/_leidos_legalundertaking_value']"},"authentication":"@parameters('$authentication')"}},"Get_Project":{"runAfter":{"Get_Legal_Undertaking":["Succeeded"]},"metadata":{"operationMetadataId":"a3fa529c-7139-42de-9316-44cfe843a8a5"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@outputs('Get_Legal_Undertaking')?['body/_leidos_project_value']"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Get_Team":{"runAfter":{},"metadata":{"operationMetadataId":"f836d891-2186-4bf6-a202-4b2d2be0e060"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"teams","recordId":"@outputs('Get_Project')?['body/_owningteam_value']"},"authentication":"@parameters('$authentication')"}},"Get_Primary_Contact_for_Team":{"runAfter":{"Get_Team":["Succeeded"]},"metadata":{"operationMetadataId":"e6a24c2e-098f-4ec8-b53b-6618c3cd67fe"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Team')?['body/_leidos_teamprimarycontact_value']"},"authentication":"@parameters('$authentication')"}},"Set_variable_to_Team_Primary_Contact":{"runAfter":{"Get_Primary_Contact_for_Team":["Succeeded"]},"metadata":{"operationMetadataId":"d83b8442-9e8d-41d7-9dd9-818f800aee81"},"type":"SetVariable","inputs":{"name":"Project Manager","value":"@outputs('Get_Primary_Contact_for_Team')?['body/systemuserid']"}}},"runAfter":{"Get_Document_Requirement's_entity_url":["Succeeded"]},"else":{"actions":{"Get_Owner_(user)":{"runAfter":{},"metadata":{"operationMetadataId":"9516f4c9-c69f-4e79-b2b3-ffe4effd3d67"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Project')?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Set_variable_to_User":{"runAfter":{"Get_Owner_(user)":["Succeeded"]},"metadata":{"operationMetadataId":"ab4e227b-d636-46de-aa70-f8d545c67433"},"type":"SetVariable","inputs":{"name":"Project Manager","value":"@outputs('Get_Owner_(user)')?['body/systemuserid']"}}}},"expression":{"equals":["@outputs('Get_Project')?['body/_ownerid_value@Microsoft.Dynamics.CRM.lookuplogicalname']","team"]},"metadata":{"operationMetadataId":"b007fa05-76d0-4b00-96b7-492321ef091d"},"type":"If"},"Get_HIE_Contact":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"operationMetadataId":"77db728c-0f39-421f-8c3c-d79b3cc1983f"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@variables('Project Manager')"},"authentication":"@parameters('$authentication')"}},"Get_Document_Requirement's_entity_url":{"runAfter":{"Get_Project":["Succeeded"]},"metadata":{"operationMetadataId":"be345d35-b97c-4c61-98ee-f39a7213a688"},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@outputs('Get_Document_Requirement')?['body/leidos_documentrequirementid']","EntityType_Value":"leidos_documentrequirement"}}}},"runAfter":{},"metadata":{"operationMetadataId":"615a9652-41db-4c5a-ad12-fb51285d34cc"},"type":"Scope"},"Create_Email":{"runAfter":{"Get_Data_for_processing":["Succeeded"]},"metadata":{"operationMetadataId":"ad5fcdd2-37e3-4696-8814-6f0fdd620314"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","item/activitypointer_activity_parties":[{"participationtypemask":2,"partyid@odata.bind":"/systemusers(@{outputs('Get_HIE_Contact')?['body/systemuserid']})"}],"item/description":"Hello @{outputs('Get_HIE_Contact')?['body/fullname']},\n</br>\n</br>\nSupporting evidence has been uploaded for document requirement \"@{outputs('Get_Document_Requirement')?['body/leidos_name']}\"\n</br>\n</br>\nPlease click the following link and review the attached document:\n<a href=@{outputs('Get_Document_Requirement''s_entity_url')?['Body']?['entityurl']}>@{outputs('Get_Document_Requirement''s_entity_url')?['Body']?['entityurl']}","item/regardingobjectid_leidos_project_email@odata.bind":"/leidos_projects(@{outputs('Get_Project')?['body/leidos_projectid']})","item/subject":"Supporting evidence has been uploaded for document requirement @{outputs('Get_Document_Requirement')?['body/leidos_name']}"},"authentication":"@parameters('$authentication')"}},"Send_Email":{"runAfter":{"Create_Email":["Succeeded"]},"metadata":{"operationMetadataId":"b1c6798c-5df5-4604-b660-e6419e0474f1"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"PerformBoundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","actionName":"Microsoft.Dynamics.CRM.SendEmail","recordId":"@outputs('Create_Email')?['body/activityid']","item/IssueSend":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Note's_created_by":["Succeeded"]},"else":{"actions":{"Terminate":{"runAfter":{},"metadata":{"operationMetadataId":"a84f973c-eab5-4da3-aebb-1dac60a380c3"},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"contains":["@outputs('Get_Note''s_created_by')?['body/fullname']","SYSTEM"]},"metadata":{"operationMetadataId":"780cbd89-1414-468b-a354-2fdbdfbe3099"},"type":"If"},"Get_Note's_created_by":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"a49a5921-dcb8-4fb3-91e1-672db308cf80"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_createdby_value']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}