HIE_CDS/Workflows/LegalUndertaking-Flow-SubmitforDAApproval-9B443976-720C-EB11-A813-000D3A7FEDBE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnLegal"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnOffice365Outlook"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Submit_for_DA_Approval":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_legalundertaking","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_submitfordaapproval","subscriptionRequest/filterexpression":"leidos_submitfordaapproval eq true"},"authentication":"@parameters('$authentication')"}}},"actions":{"get_the_record_URL":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/leidos_legalundertakingid']","EntityType_Value":"leidos_legalundertaking"}}},"Record_URL":{"runAfter":{"get_the_record_URL":["Succeeded"]},"type":"Compose","inputs":"@outputs('get_the_record_URL')?['Body']?['entityurl']"},"Get_Project":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']"},"authentication":"@parameters('$authentication')"}},"Get_Project_Owner":{"runAfter":{"Get_Project":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Project')?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"HIE Email","type":"string"}]}},"Get_DA_Table":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_delegatedauthority_value']"},"authentication":"@parameters('$authentication')"}},"Get_DA_User_Record":{"runAfter":{"Get_DA_Table":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_DA_Table')?['body/_leidos_userrecord_value']"},"authentication":"@parameters('$authentication')"}},"Set_to_DA_Email":{"runAfter":{"Get_DA_User_Record":["Succeeded"]},"type":"SetVariable","inputs":{"name":"HIE Email","value":"@outputs('Get_DA_User_Record')?['body/internalemailaddress']"}},"Send_an_email_(V2)_2":{"runAfter":{"Offer_Letter_URL":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@variables('HIE Email')","emailMessage/Subject":"Legal Undertaking Input Requested  : @{triggerOutputs()?['body/leidos_name']}","emailMessage/Body":"<p>Project Title: @{outputs('Get_Project')?['body/leidos_name']}<br>\nProject Owner: @{outputs('Get_Project_Owner')?['body/fullname']}<br>\nProject Reference: @{outputs('Get_Project')?['body/leidos_projectreference']}<br>\n<br>\nLegal Undertaking : <a href=\"@{outputs('Record_URL')}\">@{outputs('Get_DA_Table')?['body/leidos_name']}</a> <br>\nOffer Letter :  <a href=\"@{outputs('Offer_Letter_URL')}\">Offer Letter</a> <br>\n</p>"},"authentication":"@parameters('$authentication')"}},"Offer_Letter_URL":{"runAfter":{"Get_Project_Owner":["Succeeded"],"Record_URL":["Succeeded"],"Set_to_DA_Email":["Succeeded"]},"type":"Compose","inputs":"@triggerOutputs()?['body/leidos_offerletterurl']"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}