HIE_CDS/Workflows/LegalUndertaking-DocumentRequirement-SendemailtoPM-1A2008F9-7717-EB11-A813-0022483FAE82.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_Note_is_Created":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"annotation","subscriptionRequest/scope":4,"subscriptionRequest/filterexpression":"objecttypecode eq 'leidos_documentrequirement'"},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Project Manager","type":"string"}]}},"Check_if_Note_created_from_Portal":{"actions":{"Get_Data_for_processing":{"actions":{"Get_Document_Requirement":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_documentrequirements","recordId":"@triggerOutputs()?['body/_objectid_value']"},"authentication":"@parameters('$authentication')"}},"Get_Legal_Undertaking":{"runAfter":{"Get_Document_Requirement":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_legalundertakings","recordId":"@outputs('Get_Document_Requirement')?['body/_leidos_legalundertaking_value']"},"authentication":"@parameters('$authentication')"}},"Get_Project":{"runAfter":{"Get_Legal_Undertaking":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@outputs('Get_Legal_Undertaking')?['body/_leidos_project_value']"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Get_Team":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"teams","recordId":"@outputs('Get_Project')?['body/_owningteam_value']"},"authentication":"@parameters('$authentication')"}},"Get_Primary_Contact_for_Team":{"runAfter":{"Get_Team":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Team')?['body/_leidos_teamprimarycontact_value']"},"authentication":"@parameters('$authentication')"}},"Set_variable_to_Team_Primary_Contact":{"runAfter":{"Get_Primary_Contact_for_Team":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Project Manager","value":"@outputs('Get_Primary_Contact_for_Team')?['body/systemuserid']"}}},"runAfter":{"Get_Document_Requirement's_entity_url":["Succeeded"]},"else":{"actions":{"Get_Owner_(user)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Project')?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Set_variable_to_User":{"runAfter":{"Get_Owner_(user)":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Project Manager","value":"@outputs('Get_Owner_(user)')?['body/systemuserid']"}}}},"expression":{"equals":["@outputs('Get_Project')?['body/_ownerid_value@Microsoft.Dynamics.CRM.lookuplogicalname']","team"]},"type":"If"},"Get_HIE_Contact":{"runAfter":{"Condition":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@variables('Project Manager')"},"authentication":"@parameters('$authentication')"}},"Get_Document_Requirement's_entity_url":{"runAfter":{"Get_Project":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@outputs('Get_Document_Requirement')?['body/leidos_documentrequirementid']","EntityType_Value":"leidos_documentrequirement"}}}},"runAfter":{},"type":"Scope"},"Create_Email":{"runAfter":{"Get_Data_for_processing":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","item/activitypointer_activity_parties":[{"participationtypemask":2,"partyid@odata.bind":"/systemusers(@{outputs('Get_HIE_Contact')?['body/systemuserid']})"}],"item/description":"Hello @{outputs('Get_HIE_Contact')?['body/fullname']},\n</br>\n</br>\nSupporting evidence has been uploaded for document requirement @{outputs('Get_Document_Requirement')?['body/leidos_name']}\n</br>\n</br>\nPlease click the following link and review the attached document:\n<a href=@{outputs('Get_Document_Requirement''s_entity_url')?['Body']?['entityurl']}>@{outputs('Get_Document_Requirement''s_entity_url')?['Body']?['entityurl']}","item/regardingobjectid_leidos_project_email@odata.bind":"/leidos_projects(@{outputs('Get_Project')?['body/leidos_projectid']})","item/subject":"Supporting evidence has been uploaded for document requirement @{outputs('Get_Document_Requirement')?['body/leidos_name']}"},"authentication":"@parameters('$authentication')"}},"Send_Email":{"runAfter":{"Create_Email":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"PerformBoundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","actionName":"Microsoft.Dynamics.CRM.SendEmail","recordId":"@outputs('Create_Email')?['body/activityid']","item/IssueSend":false},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Note's_created_by":["Succeeded"]},"else":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"contains":["@outputs('Get_Note''s_created_by')?['body/fullname']","SYSTEM"]},"type":"If"},"Get_Note's_created_by":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_createdby_value']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}