HIE_CDS/Workflows/LegalUndertaking-Flow-SubmitforDAApproval-9B443976-720C-EB11-A813-000D3A7FEDBE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_sharedcommondataserviceforapps_5ec64"},"api":{"name":"shared_commondataserviceforapps"}},"shared_approvals_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_Approvals"},"api":{"name":"shared_approvals"}},"shared_office365":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnOffice365Outlook"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Submit_for_DA_Approval":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_legalundertaking","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_submitfordaapproval","subscriptionRequest/filterexpression":"leidos_submitfordaapproval eq true"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_DA_Table":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_delegatedauthority_value']"},"authentication":"@parameters('$authentication')"}},"Get_DA_User_Record":{"runAfter":{"Get_DA_Table":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_DA_Table')?['body/_leidos_userrecord_value']"},"authentication":"@parameters('$authentication')"}},"User_Email":{"runAfter":{"Get_DA_User_Record":["Succeeded"]},"type":"Compose","inputs":"@outputs('Get_DA_User_Record')?['body/internalemailaddress']"},"get_the_record_URL":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/leidos_legalundertakingid']","EntityType_Value":"leidos_legalundertaking"}}},"Record_URL":{"runAfter":{"get_the_record_URL":["Succeeded"]},"type":"Compose","inputs":"@outputs('get_the_record_URL')?['Body']?['entityurl']"},"Get_Project":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']"},"authentication":"@parameters('$authentication')"}},"Switch_on_Outcome":{"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"cases":{"Approve_Legal_Document":{"case":"Approve Legal Document","actions":{"Set_Approval_Data":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_legalundertakings","recordId":"@triggerOutputs()?['body/leidos_legalundertakingid']","item/leidos_approvedon":"@utcNow()","item/statuscode":445260003},"authentication":"@parameters('$authentication')"}}}},"Defer":{"case":"Defer","actions":{"Reset_on_Defer":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_legalundertakings","recordId":"@triggerOutputs()?['body/leidos_legalundertakingid']","item/statuscode":1,"item/leidos_submitfordaapproval":false},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@outputs('Start_and_wait_for_an_approval')?['body/outcome']","type":"Switch"},"Start_and_wait_for_an_approval":{"runAfter":{"Set_Awaiting_Approval":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals_1","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Approve Legal Document","Defer"],"WebhookApprovalCreationInput/title":"Legal Undertaking assigned for Approval : @{triggerOutputs()?['body/leidos_name']}","WebhookApprovalCreationInput/assignedTo":"@{outputs('User_Email')};","WebhookApprovalCreationInput/details":"Project Title: @{outputs('Get_Project')?['body/leidos_name']}\nProject Owner: @{outputs('Get_Project_Owner')?['body/fullname']}\nProject Reference: @{outputs('Get_Project')?['body/leidos_projectreference']}\n\nLegal Undertaking : [@{triggerOutputs()?['body/leidos_name']}](@{outputs('Record_URL')})\n","WebhookApprovalCreationInput/itemLink":"@triggerOutputs()?['body/leidos_offerletterurl']","WebhookApprovalCreationInput/itemLinkDescription":"Offer Letter","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Get_Project_Owner":{"runAfter":{"Get_Project":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Project')?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Set_Awaiting_Approval":{"runAfter":{"Get_Project_Owner":["Succeeded"],"Record_URL":["Succeeded"],"User_Email":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_legalundertakings","recordId":"@triggerOutputs()?['body/leidos_legalundertakingid']","item/statuscode":445260002},"authentication":"@parameters('$authentication')"}},"Owner_Type":{"runAfter":{"Switch_on_Outcome":["Succeeded"]},"type":"Compose","inputs":"@triggerOutputs()?['body/_ownerid_value@Microsoft.Dynamics.CRM.lookuplogicalname']"},"Condition":{"actions":{},"runAfter":{"Owner_Type":["Succeeded"]},"else":{"actions":{"Apply_to_each":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Send_an_email_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_Project_Owner')?['body/internalemailaddress']","emailMessage/Subject":"Legal Undertaking @{triggerOutputs()?['body/leidos_legalundertakingsreference']} Outcome: @{outputs('Start_and_wait_for_an_approval')?['body/outcome']}","emailMessage/Body":"<p>Delegated Authority: @{items('Apply_to_each')?['responder/displayName']}<br>\nDelegate Authority Decision@{outputs('Start_and_wait_for_an_approval')?['body/outcome']}<br>\nDelegated Authority Comments @{items('Apply_to_each')?['comments']}<br>\nDelagated Authority Decusion Date@{formatDateTime(utcNow(), 'dd/MM/yyyy')}</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}}},"expression":{"equals":["@outputs('Owner_Type')","teams"]},"type":"If"},"create_task":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Create_Task_with_outputs":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"tasks","item/subject":"Legal Undertaking Review Response","item/description":"Delegated Authority: @{items('create_task')?['responder/displayName']}\nDelegate Authority Decision:  @{outputs('Start_and_wait_for_an_approval')?['body/outcome']}\nDelegated Authority Comments:  @{items('create_task')?['comments']}\nDelagated Authority Decusion Date@{formatDateTime(utcNow(), 'dd/MM/yyyy')}","item/regardingobjectid_leidos_legalundertaking_task@odata.bind":"leidos_legalundertakings(@{triggerOutputs()?['body/leidos_legalundertakingid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Switch_on_Outcome":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}