HIE_CDS/Workflows/LegalUndertaking-Flow-Route1PrepareDocument-Passto-5A8B5D2E-280A-EB11-A813-000D3A7F1BBB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnLegal"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnOffice365Outlook"},"api":{"name":"shared_office365"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnLegal"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_Legal_Undertaking_is_set_to_send_to_legal_for_review":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_legalundertaking","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_sendtolegalforreview","subscriptionRequest/filterexpression":"leidos_sendtolegalforreview eq true"},"authentication":"@parameters('$authentication')"}}},"actions":{"Run_a_Child_Flow_-_get_LU_URL":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/leidos_legalundertakingid']","EntityType_Value":"leidos_legalundertaking"}}},"Run_a_Child_Flow_-_get_Project_URL":{"runAfter":{"Run_a_Child_Flow_-_get_LU_URL":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/_leidos_project_value']","EntityType_Value":"ledios_project"}}},"Run_a_Child_Flow_-_get_HIE_Legal_email_addresses":{"runAfter":{"Run_a_Child_Flow_-_get_Project_URL":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"c3e4375a-c7cc-ea11-a812-000d3a7fedbe"},"body":{"text":"LegalTeam_emailaddress"}}},"Get_Project_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']"},"authentication":"@parameters('$authentication')"}},"Get_Project_Owner_record":{"runAfter":{"Get_Project_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Project_record')?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Create_Task_record_for_Project":{"runAfter":{"Create_Task_record_for_Legal_Undertaking":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"tasks","item/subject":"Legal Undertaking @{triggerOutputs()?['body/leidos_name']}, Project @{triggerOutputs()?['body/_leidos_project_value']}","item/description":"Email has been sent to HIE Legal mailbox requesting review and feedback for Offer letter regarding Legal Undertaking(@{outputs('Run_a_Child_Flow_-_get_LU_URL')?['Body']?['entityurl']})","item/regardingobjectid_leidos_project_task@odata.bind":"/leidos_projects(@{outputs('Get_Project_record')?['body/leidos_projectid']})"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_-_HIE_Legal":{"runAfter":{"_Compose_Legal_Team_Email_addresses":["Succeeded"],"Get_Project_Owner_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('_Compose_Legal_Team_Email_addresses')","emailMessage/Subject":"Requested review of Legal Undertaking for Project @{outputs('Get_Project_record')?['body/leidos_name']}","emailMessage/Body":"<p>A request for review of Legal Documentation has been made for:<br>\n<strong>Project Title:</strong> @{outputs('Get_Project_record')?['body/leidos_name']}<br>\n<strong>Project Reference:</strong> @{outputs('Get_Project_record')?['body/leidos_projectreference']}<br>\n<strong>Project Officer Name:</strong> @{outputs('Get_Project_Owner_record')?['body/fullname']}<br>\n<br>\n<strong>Legal Undertaking Title:</strong> @{triggerOutputs()?['body/leidos_name']}<br>\n<strong>Legal Undertaking Reference:</strong> @{triggerOutputs()?['body/leidos_legalundertakingsreference']}<br>\n<strong>Additonal information:</strong> @{triggerOutputs()?['body/leidos_legalteaminputtypedescription']}<strong><br>\n</strong><br>\n@{concat('<a href=', outputs('Run_a_Child_Flow_-_get_LU_URL')?['Body']?['entityurl'], '>Legal Undertaking Link<a/>')}<br>\n@{concat('<a href=', triggerOutputs()?['body/leidos_offerletterurl'], '>Offer Letter Link<a/>')}</p>"},"authentication":"@parameters('$authentication')"},"description":"Send email to HIE Legal email box"},"Parse_JSON":{"runAfter":{"Run_a_Child_Flow_-_get_HIE_Legal_email_addresses":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Run_a_Child_Flow_-_get_HIE_Legal_email_addresses')?['Body']?['value']","schema":{"type":"object","properties":{"@@odata.type":{"type":"string"},"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"@@odata.editLink":{"type":"string"},"value":{"type":"string"},"environmentvariablevalueid@odata.type":{"type":"string"},"environmentvariablevalueid":{"type":"string"}}}}},"_Compose_Legal_Team_Email_addresses":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Compose","inputs":"@body('Parse_JSON')?['value']"},"Create_Task_record_for_Legal_Undertaking":{"runAfter":{"Send_an_email_(V2)_-_HIE_Legal":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"tasks","item/subject":"Legal Undertaking @{triggerOutputs()?['body/leidos_name']}, Project @{triggerOutputs()?['body/_leidos_project_value']}","item/description":"Email has been sent to HIE Legal mailbox requesting review and feedback for Offer letter regarding Project (@{outputs('Run_a_Child_Flow_-_get_Project_URL')?['Body']?['entityurl']})","item/regardingobjectid_leidos_legalundertaking_task@odata.bind":"/leidos_legalundertakings(@{triggerOutputs()?['body/leidos_legalundertakingid']})"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}