HIE_CDS/Workflows/LoanDrawdown-Flow-SubmitforApproval-0ADD8987-0E5F-EB11-A812-000D3AD6089D.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_sharedcommondataserviceforapps_5ec64"},"api":{"name":"shared_commondataserviceforapps"}},"shared_approvals":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ApprovalConnectionReference"},"api":{"name":"shared_approvals"}},"shared_office365_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnOutlook2"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_Drawdown_is_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_loandrawdown","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_submitdrawdownforapproval","subscriptionRequest/filterexpression":"leidos_submitdrawdownforapproval eq true","subscriptionRequest/runas":3},"authentication":"@parameters('$authentication')"}}},"actions":{"Scope_-_Get_Process_Data":{"actions":{"Get_Delegated_Authority":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_leidos_drawdownapprover_value']"},"authentication":"@parameters('$authentication')"}},"Get_Requested_By":{"runAfter":{"Get_Delegated_Authority":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_leidos_submittedby_value']"},"authentication":"@parameters('$authentication')"}},"Run_a_Child_Flow":{"runAfter":{"Get_Requested_By":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/leidos_loandrawdownid']","EntityType_Value":"leidos_loandrawdown"}}},"Get_Project":{"runAfter":{"Get_Cost_Funding":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@outputs('Get_Cost_Funding')?['body/_leidos_parentproject_value']"},"authentication":"@parameters('$authentication')"}},"Get_Loan":{"runAfter":{"Run_a_Child_Flow":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_loans","recordId":"@triggerOutputs()?['body/_leidos_loan_value']"},"authentication":"@parameters('$authentication')"}},"Get_Cost_Funding":{"runAfter":{"Get_Loan":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectfundings","recordId":"@outputs('Get_Loan')?['body/_leidos_parentfunding_value']"},"authentication":"@parameters('$authentication')"}},"Get_Account":{"runAfter":{"Get_Project":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Project')?['body/_leidos_parentaccount_value']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Scope"},"Start_and_wait_for_an_approval":{"runAfter":{"Scope_-_Get_Process_Data":["Succeeded"]},"limit":{"timeout":"P3D"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Approve and Authorise Loan Drawdown","Defer Loan Drawdown"],"WebhookApprovalCreationInput/title":"Loan Drawdown Apporval and Authortisation for @{triggerOutputs()?['body/leidos_name']}","WebhookApprovalCreationInput/assignedTo":"@{outputs('Get_Delegated_Authority')?['body/internalemailaddress']};","WebhookApprovalCreationInput/details":"## Apporval for Loan Drawdown: @{triggerOutputs()?['body/leidos_name']}\n\n### Account: **@{outputs('Get_Account')?['body/name']}**\nLoan Drawdown Amount: **£@{triggerOutputs()?['body/leidos_drawdownamount']}**","WebhookApprovalCreationInput/itemLink":"@triggerOutputs()?['body/leidos_name']","WebhookApprovalCreationInput/itemLinkDescription":"@outputs('Run_a_Child_Flow')?['Body']?['entityurl']","WebhookApprovalCreationInput/requestor":"@{outputs('Get_Requested_By')?['body/internalemailaddress']};","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Update_Loan_Drawdown_to_Submitted_for_Approval":{"runAfter":{"Scope_-_Get_Process_Data":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_loandrawdowns","recordId":"@triggerOutputs()?['body/leidos_loandrawdownid']","item/statecode":1,"item/statuscode":2,"item/leidos_SubmittedBy@odata.bind":"/systemusers(@{triggerOutputs()?['body/_leidos_submittedby_value']}","item/leidos_submittedon":"@utcNow()\r\n"},"authentication":"@parameters('$authentication')"}},"_Scope_Run_on_Data_Fail":{"actions":{"Update_Loan_Drawdown_to_reset":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_loandrawdowns","recordId":"@triggerOutputs()?['body/leidos_loandrawdownid']","item/leidos_submitdrawdownforapproval":false},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_-_Data_Failure":{"runAfter":{"Update_Loan_Drawdown_to_reset":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_Requested_By')?['body/internalemailaddress']","emailMessage/Subject":"Loan Drawndown @{triggerOutputs()?['body/leidos_loandrawdownreference']}","emailMessage/Body":"<p>he Flow for the Approval Process for <br>\n@{triggerOutputs()?['body/leidos_loandrawdownreference']} has failed due to missing data.<br>\n<br>\nPlease check the data and resubmit.<br>\n<br>\nRecord link: @{outputs('Run_a_Child_Flow')?['Body']?['entityurl']}</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Scope_-_Get_Process_Data":["Failed"]},"type":"Scope"},"Scope_Time_Out_Actions":{"actions":{"Update_Loan_Drawdown_to_allow_resubmit":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_loandrawdowns","recordId":"@triggerOutputs()?['body/leidos_loandrawdownid']","item/statecode":0,"item/statuscode":445260000,"item/leidos_submitdrawdownforapproval":false},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Update_Loan_Drawdown_to_allow_resubmit":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_Requested_By')?['body/internalemailaddress']","emailMessage/Subject":"Loan Drawdown @{triggerOutputs()?['body/leidos_loandrawdownreference']}","emailMessage/Body":"<p>The Flow for the Apporval Process for @{triggerOutputs()?['body/leidos_loandrawdownreference']} has timed out as the Approver has not apporved the response within the time limit.<br>\n<br>\nPlease check the availibility of a suitable Authoriser and resubmit.<br>\n<br>\nRecord link: @{outputs('Run_a_Child_Flow')?['Body']?['entityurl']}</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"type":"Scope"},"Switch":{"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"cases":{"Approve":{"case":"Approve and Authorise Loan Drawdown","actions":{"Update_Loan_Drawdown_to_Apporved":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_loandrawdowns","recordId":"@triggerOutputs()?['body/leidos_loandrawdownid']","item/leidos_dateofposting":"@outputs('Start_and_wait_for_an_approval')?['body/completionDate']","item/statecode":1,"item/statuscode":445260003},"authentication":"@parameters('$authentication')"}}}},"Defer":{"case":"Defer Loan Drawdown","actions":{"Update_Loan_Draw_to_Defer_to_allow_resubmit":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_loandrawdowns","recordId":"@triggerOutputs()?['body/leidos_loandrawdownid']","item/statecode":0,"item/statuscode":445260000,"item/leidos_submitdrawdownforapproval":false},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@outputs('Start_and_wait_for_an_approval')?['body/outcome']","type":"Switch"},"Apply_to_each_Response_-_Create_task":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Create_a_new_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"tasks","item/subject":"Approval Outcome","item/description":"@{outputs('Start_and_wait_for_an_approval')?['body/responseSummary']}\n\n@{outputs('Start_and_wait_for_an_approval')?['body/details']}\n\nComments: @{items('Apply_to_each_Response_-_Create_task')?['comments']}","item/regardingobjectid_leidos_loandrawdown_task@odata.bind":"/liedos_loandrawndown(@{triggerOutputs()?['body/leidos_loandrawdownid']}"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Switch":["Succeeded"]},"type":"Foreach"},"Apply_to_each_Response_-_Send_email":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Send_an_email_(V2)_Approval_Response":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_Requested_By')?['body/internalemailaddress']","emailMessage/Subject":"Loan Drawdown @{triggerOutputs()?['body/leidos_loandrawdownreference']} Apporval Outcome: @{outputs('Start_and_wait_for_an_approval')?['body/outcome']}","emailMessage/Body":"<p>Client: @{outputs('Get_Account')?['body/name']}<br>\nProject: @{outputs('Get_Project')?['body/leidos_name']}<br>\nProject Reference: @{outputs('Get_Project')?['body/leidos_projectreference']}<br>\nLoan Drawdown: @{triggerOutputs()?['body/leidos_loandrawdownreference']}<br>\n<br>\n@{outputs('Start_and_wait_for_an_approval')?['body/responseSummary']}<br>\n<br>\n@{outputs('Start_and_wait_for_an_approval')?['body/details']}<br>\n<br>\n@{items('Apply_to_each_Response_-_Send_email')?['comments']}<br>\n<br>\nRecord Link: @{outputs('Run_a_Child_Flow')?['Body']?['entityurl']}</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Apply_to_each_Response_-_Create_task":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}