HIE_CDS/Workflows/Loan-Flow-ongenreateLoanIllustraion-A03B5576-EA8A-EB11-B1AC-000D3AD51A15.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "leidos_ConnLoan"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_Generate_Illustration_is_Yes": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "leidos_loan",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "leidos_generateillustrationemail",
              "subscriptionRequest/filterexpression": "(leidos_generateillustrationemail eq true)",
              "subscriptionRequest/runas": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_Data": {
          "actions": {
            "Get_Parent_Project": {
              "runAfter": {},
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "leidos_projects",
                  "recordId": "@triggerOutputs()?['body/_leidos_project_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Parent_Account": {
              "runAfter": {
                "Get_Parent_Project": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "accounts",
                  "recordId": "@outputs('Get_Parent_Project')?['body/_leidos_parentaccount_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Primary_Contact": {
              "runAfter": {
                "Get_Parent_Account": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "recordId": "@outputs('Get_Parent_Account')?['body/_primarycontactid_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "type": "Scope"
        },
        "Create_Draft__Email_Record": {
          "runAfter": {
            "Get_Data": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "emails",
              "item/activitypointer_activity_parties": [
                {
                  "participationtypemask": 2,
                  "partyid@odata.bind": "/contacts(@{outputs('Get_Primary_Contact')?['body/contactid']})"
                }
              ],
              "item/leidos_copyasportalmessage": true,
              "item/description": "Dear  @{outputs('Get_Primary_Contact')?['body/firstname']} <br><br>\n\nPlease find attached the loan illustration(s)  <br><br>\n\nProject Manager",
              "item/regardingobjectid_leidos_project_email@odata.bind": "/leidos_projects(@{outputs('Get_Parent_Project')?['body/leidos_projectid']})",
              "item/subject": "Loan Illustration for @{triggerOutputs()?['body/leidos_name']}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_Loan_to_reset_trigger": {
          "runAfter": {
            "Create_Draft__Email_Record": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "leidos_loans",
              "recordId": "@triggerOutputs()?['body/leidos_loanid']",
              "item/leidos_generateillustrationemail": false
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}