HIE_CDS/Workflows/OnCreateofAMCP-ListTradingGeographyforParentAccoun-4CB21F07-9BC6-EA11-A812-000D3A7F1BBB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"On_Create_of_AMCP":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"leidos_accountmanagementclientplan","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"List_Trading_Geography_for_Parent_Account":{"runAfter":{"Get_Account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_tradinggeographies","$filter":"_leidos_parentaccount_value eq @{outputs('Get_Account')?['body/accountid']}"},"authentication":"@parameters('$authentication')"}},"Get_AMR":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","recordId":"@triggerOutputs()?['body/_leidos_accountmanagementrecord_value']"},"authentication":"@parameters('$authentication')"}},"Get_Account":{"runAfter":{"Get_AMR":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_AMR')?['body/_leidos_parentaccount_value']"},"authentication":"@parameters('$authentication')"}},"Loop_thru_Account_Trading_Geography_":{"foreach":"@outputs('List_Trading_Geography_for_Parent_Account')?['body/value']","actions":{"Update_Trading_Geography_with_AMCP":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_tradinggeographies","recordId":"@items('Loop_thru_Account_Trading_Geography_')?['leidos_tradinggeographyid']","item/leidos_ParentClientPlan@odata.bind":"/leidos_accountmanagementclientplans(@{triggerOutputs()?['body/leidos_accountmanagementclientplanid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Trading_Geography_for_Parent_Account":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}