HIE_CDS/Workflows/OnDateofGrantingCreateStateAidStatement-CreateaSta-BA2B6C5A-9A08-EB11-A813-000D3A7FEDBE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_sharedcommondataserviceforapps_5ec64"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"On_Date_of_Granting_Create_State_Aid_Statement":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_clientaction","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_dateofgranting","subscriptionRequest/filterexpression":"leidos_dateofgranting ne null"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_State_Aid_Category":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_stateaidcategories","recordId":"@triggerOutputs()?['body/_leidos_stateaidarticle_value']"},"authentication":"@parameters('$authentication')"}},"Get_State_Aid_Sub_Cat":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_stateaidsubcategories","recordId":"@triggerOutputs()?['body/_leidos_stateaidtype_value']"},"authentication":"@parameters('$authentication')"}},"Create_a_State_Aid_Statement":{"runAfter":{"Get_Primary_Contact":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_stateaidstatements","item/leidos_name":"@triggerOutputs()?['body/leidos_title']","item/leidos_StateAidArticle@odata.bind":"/leidos_stateaidcategories(@{outputs('Get_State_Aid_Category')?['body/leidos_stateaidcategoryid']})","item/leidos_StateAidType@odata.bind":"/leidos_stateaidsubcategories(@{outputs('Get_State_Aid_Sub_Cat')?['body/leidos_stateaidsubcategoryid']})","item/leidos_dateofgranting":"@triggerOutputs()?['body/leidos_dateofgranting']","item/leidos_ParentClientAction@odata.bind":"/leidos_clientactions(@{triggerOutputs()?['body/leidos_clientactionid']})","item/leidos_stateaidvalue":"@triggerOutputs()?['body/leidos_stateaidvalue']"},"authentication":"@parameters('$authentication')"}},"Get_parent_Account":{"runAfter":{"Get_State_Aid_Category":["Succeeded"],"Get_State_Aid_Sub_Cat":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_leidos_parentaccount_value']"},"authentication":"@parameters('$authentication')"}},"Get_Primary_Contact":{"runAfter":{"Get_parent_Account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('Get_parent_Account')?['body/_primarycontactid_value']"},"authentication":"@parameters('$authentication')"}},"Create_an_Email_for_Attachement":{"runAfter":{"Create_a_State_Aid_Statement":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","item/activitypointer_activity_parties":[{"participationtypemask":2,"partyid@odata.bind":"/contacts(@{outputs('Get_Primary_Contact')?['body/contactid']})"}],"item/leidos_copyasportalmessage":true,"item/description":"@{outputs('Get_Primary_Contact')?['body/firstname']} <br>\n<br>\n\nPlease find attached State Aid Statement  for @{triggerOutputs()?['body/leidos_title']} for your records. <br>\n","item/regardingobjectid_account_email@odata.bind":"/accounts(@{outputs('Get_parent_Account')?['body/accountid']})","item/subject":"State Aid Statement for @{triggerOutputs()?['body/leidos_title']}"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}