HIE_CDS/Workflows/OwnHandSummary-Flow-GenerateReport-5073398F-C2BE-EB11-BACC-000D3AD6A017.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnOwnHand"},"api":{"name":"shared_commondataserviceforapps"}},"shared_sharepointonline_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnSharePoint"},"api":{"name":"shared_sharepointonline"}},"shared_excelonlinebusiness":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_sharedexcelonlinebusiness_fbf79"},"api":{"name":"shared_excelonlinebusiness"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Own_Hand_Summary_generate_Report":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_ownhandinvoicesummary","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_generatereport","subscriptionRequest/filterexpression":"(leidos_generatereport eq true)"},"authentication":"@parameters('$authentication')"}}},"actions":{"Reference":{"runAfter":{},"type":"Compose","inputs":"@triggerOutputs()?['body/leidos_ownhandinvoicesummaryreference']"},"Copy_file":{"runAfter":{"Create_new_folder":["Succeeded"]},"metadata":{"%252fShared%2bDocuments%252fCODAxl.xlsx":"/Shared Documents/CODAxl.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"CopyFileAsync","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://hiedigitalnonprod.sharepoint.com/sites/Finance","parameters/sourceFileId":"%252fShared%2bDocuments%252fCODAxl.xlsx","parameters/destinationDataset":"https://hiedigitalnonprod.sharepoint.com/sites/Finance","parameters/destinationFolderPath":"/Shared Documents/@{outputs('Reference')}","parameters/nameConflictBehavior":1},"authentication":"@parameters('$authentication')"}},"Create_new_folder":{"runAfter":{"Reference":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"CreateNewFolder","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://hiedigitalnonprod.sharepoint.com/sites/Finance","table":"e6b6d942-b87b-4382-8b0b-eec9f0f655f5","parameters/path":"@outputs('Reference')"},"authentication":"@parameters('$authentication')"}},"Add_a_row_into_a_table":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"01LFANEHZGWTUKYNWKXRA3WFV6JCOIFI4W":"/OHIS-001002/CODAxl.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"sites/hiedigitalnonprod.sharepoint.com,42f6c5b1-d5ef-49f9-8e1f-aa5ad043804b,23bcbefe-02c0-44f7-a1cb-8722b1f7f8d9","drive":"b!scX2Qu_V-UmOH6pa0EOAS_6-vCPAAvdEocuHIrH3-NlC2bbme7iCQ4sL7snw9lX1","file":"01LFANEHZGWTUKYNWKXRA3WFV6JCOIFI4W","table":"{00000000-000C-0000-FFFF-FFFF00000000}","item/Line number":"1","item/Description":"description"},"authentication":"@parameters('$authentication')"}},"Compose":{"runAfter":{"Copy_file":["Succeeded"]},"type":"Compose","inputs":"@outputs('Copy_file')?['body/Path']"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}