HIE_CDS/Workflows/OwnHandSummary-Flow-GenerateReport-5073398F-C2BE-EB11-BACC-000D3AD6A017.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnOwnHand"},"api":{"name":"shared_commondataserviceforapps"}},"shared_sharepointonline":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_sharedsharepointonline_5be6a"},"api":{"name":"shared_sharepointonline"}},"shared_excelonlinebusiness":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_sharedexcelonlinebusiness_fbf79"},"api":{"name":"shared_excelonlinebusiness"}},"shared_commondataserviceforapps_2":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnClaim"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnOutlook2"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"SharePointReportRootURL":{"defaultValue":"https://hiedigitalnonprod.sharepoint.com/sites/Finance/","type":"String","metadata":{"schemaName":"leidos_SharePointReportRootURL"}}},"triggers":{"Own_Hand_Summary_generate_Report":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_ownhandinvoicesummary","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_generatereport","subscriptionRequest/filterexpression":"(leidos_generatereport eq true)"},"authentication":"@parameters('$authentication')"}}},"actions":{"Data_Set_Up":{"actions":{"Reference":{"runAfter":{},"type":"Compose","inputs":"@concat(triggerOutputs()?['body/leidos_ownhandinvoicesummaryreference'],'-',triggerOutputs()?['body/leidos_suppliertext'],'-',utcNow(),'.xlsx')"},"Get_record_Type":{"runAfter":{"Reference":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_ownhandrecordtypes","recordId":"@triggerOutputs()?['body/_leidos_recordtype_value']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Loop_Count_index":["Succeeded"]},"type":"Scope"},"Set_Up_Excel_File":{"actions":{"Get_file_content_from_tempalte":{"runAfter":{},"metadata":{"%252fShared%2bDocuments%252fTemplate%252fBlank.xlsx":"/Shared Documents/Template/Blank.xlsx","%252fShared%2bDocuments%252fTemplate%252fCODAxl.xlsx":"/Shared Documents/Template/CODAxl.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetFileContent","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointReportRootURL')","id":"%252fShared%2bDocuments%252fTemplate%252fCODAxl.xlsx","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Create_file":{"runAfter":{"Get_file_content_from_tempalte":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('SharePointReportRootURL')","folderPath":"/Shared Documents","name":"@outputs('Reference')","body":"@outputs('Get_file_content_from_tempalte')?['body']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Get_tables":{"runAfter":{"Create_file":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"GetTables","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"@parameters('SharePointReportRootURL')","drive":"b!scX2Qu_V-UmOH6pa0EOAS_6-vCPAAvdEocuHIrH3-NlC2bbme7iCQ4sL7snw9lX1","file":"@outputs('Create_file')?['body/Id']"},"authentication":"@parameters('$authentication')"}},"TableID":{"runAfter":{"Get_tables":["Succeeded"]},"type":"Compose","inputs":"@first(outputs('Get_tables')?['body/value'])['Id']"},"File_Link":{"runAfter":{"TableID":["Succeeded"]},"type":"Compose","inputs":"@Concat(substring(parameters('SharePointReportRootURL'),0,Sub(length(parameters('SharePointReportRootURL')),1)),outputs('Create_file')?['body/Path'])"}},"runAfter":{"Data_Set_Up":["Succeeded"]},"type":"Scope"},"Analysis_Lines":{"actions":{"List_rows_-_Active_Own_Hand_Details":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_ownhandinvoicedetails","$select":"leidos_ownhandinvoicedetailid","$filter":"(statuscode eq 1 and _leidos_parentsummary_value eq @{triggerOutputs()?['body/leidos_ownhandinvoicesummaryid']})"},"authentication":"@parameters('$authentication')"}},"Compose":{"runAfter":{"List_rows_-_Active_Own_Hand_Details":["Succeeded"]},"type":"Compose","inputs":"@length(outputs('List_rows_-_Active_Own_Hand_Details')?['body/value'])"},"Apply_to_Each_Own_hand_Detail":{"foreach":"@outputs('List_rows_-_Active_Own_Hand_Details')?['body/value']","actions":{"Get_a_row_by_ID_-_Detail_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_ownhandinvoicedetails","recordId":"@items('Apply_to_Each_Own_hand_Detail')?['leidos_ownhandinvoicedetailid']"},"authentication":"@parameters('$authentication')"}},"Add_Analysis_Line":{"runAfter":{"Get_a_row_by_ID_-_Detail_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"@parameters('SharePointReportRootURL')","drive":"b!scX2Qu_V-UmOH6pa0EOAS_6-vCPAAvdEocuHIrH3-NlC2bbme7iCQ4sL7snw9lX1","file":"@outputs('Create_file')?['body/Id']","table":"@outputs('TableID')","item":{"Post":"1","Line Type":"Analysis","Line number":"Line @{variables('Line Number')}","Description":"@{outputs('Get_a_row_by_ID_-_Detail_Record')?['body/leidos_name']}","EL1":"@{outputs('Get_a_row_by_ID_-_Detail_Record')?['body/leidos_transactionsubtype']}","EL2":"@{outputs('Get_a_row_by_ID_-_Detail_Record')?['body/leidos_fundingscheme']}","EL3":"@{outputs('Get_a_row_by_ID_-_Detail_Record')?['body/leidos_fundingsource']}","EL4":"@{outputs('Get_a_row_by_ID_-_Detail_Record')?['body/leidos_businessunit']}","EL5":"@{outputs('Get_a_row_by_ID_-_Detail_Record')?['body/leidos_expensetype']}","EL6":"@{outputs('Get_a_row_by_ID_-_Detail_Record')?['body/leidos_projectnumber']}","Dr/Cr":"@{outputs('Get_record_Type')?['body/leidos_analysisdrcr']}","Amount":"@{outputs('Get_a_row_by_ID_-_Detail_Record')?['body/leidos_netinvoice']}","Ref1":"@{outputs('Get_a_row_by_ID_-_Detail_Record')?['body/leidos_claiminvoiceno']}","Ref2":"","Ref3":"@{outputs('Get_a_row_by_ID_-_Detail_Record')?['body/leidos_projectnumber']}","Ref4":"@{outputs('Get_a_row_by_ID_-_Detail_Record')?['body/leidos_strategicpriority']}","Ref5":"@{outputs('Get_a_row_by_ID_-_Detail_Record')?['body/leidos_vatcategory']}","Ref6":"@{outputs('Get_a_row_by_ID_-_Detail_Record')?['body/leidos_costfunding']}","Line Type2":"analysis","Tax Code1":"@{outputs('Get_a_row_by_ID_-_Detail_Record')?['body/leidos_vatcodereference']}","Tax Value1":"@{outputs('Get_a_row_by_ID_-_Detail_Record')?['body/leidos_vatvalue']}","Sum Tax":"","Tax Turnover":"","Tax Code":""}},"authentication":"@parameters('$authentication')"}},"Add_Tax_Line":{"runAfter":{"Add_Analysis_Line":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"@parameters('SharePointReportRootURL')","drive":"b!scX2Qu_V-UmOH6pa0EOAS_6-vCPAAvdEocuHIrH3-NlC2bbme7iCQ4sL7snw9lX1","file":"@outputs('Create_file')?['body/Id']","table":"@outputs('TableID')","item":{"Post":"1","Line Type":"Tax","Line number":"Line @{variables('Line Number')}","Description":"@{outputs('Get_a_row_by_ID_-_Detail_Record')?['body/leidos_name']}","EL1":"030010","EL2":"@{outputs('Get_a_row_by_ID_-_Detail_Record')?['body/leidos_vatcodereference']}","EL3":"","EL4":"","EL5":"","EL6":"","Dr/Cr":"@{outputs('Get_record_Type')?['body/leidos_analysisdrcr']}","Amount":"@{outputs('Get_a_row_by_ID_-_Detail_Record')?['body/leidos_vatvalue']}","Ref1":"","Ref2":"","Ref3":"","Ref4":"","Ref5":"","Ref6":"","Line Type2":"tax","Tax Code1":"","Tax Value1":"","Sum Tax":"","Tax Turnover":"@{outputs('Get_a_row_by_ID_-_Detail_Record')?['body/leidos_netinvoice']}","Tax Code":"@{outputs('Get_a_row_by_ID_-_Detail_Record')?['body/leidos_vatcodereference']}"}},"authentication":"@parameters('$authentication')"}},"Increment_variable":{"runAfter":{"Add_Tax_Line":["Succeeded"]},"type":"IncrementVariable","inputs":{"name":"Line Number","value":1}}},"runAfter":{"Compose":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Create_Header_and_Summary":["Succeeded"]},"type":"Scope"},"Loop_Count_index":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Line Number","type":"integer","value":1}]}},"Get_Owner":{"runAfter":{"Analysis_Lines":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Get_Owner":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_Owner')?['body/internalemailaddress']","emailMessage/Subject":"CODA XL File has been generated for @{triggerOutputs()?['body/leidos_ownhandinvoicesummaryreference']}","emailMessage/Body":"<p>\nThe Coda XL File has been generated.<br>\nRecord Link: <a href=\"@{outputs('File_Link')}\">@{triggerOutputs()?['body/leidos_ownhandinvoicesummaryreference']}</a> <br>\n\nIf recipient requires a PO number, to please include it on the email instruction to the Data Centre <br>\n</p>"},"authentication":"@parameters('$authentication')"}},"Create_Header_and_Summary":{"actions":{"Add_Header_Row":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"@parameters('SharePointReportRootURL')","drive":"b!scX2Qu_V-UmOH6pa0EOAS_6-vCPAAvdEocuHIrH3-NlC2bbme7iCQ4sL7snw9lX1","file":"@outputs('Create_file')?['body/Id']","table":"@outputs('TableID')","item":{"Post":"1","Line Type":"Header","Line number":"","Description":"@{triggerOutputs()?['body/leidos_description']}","EL1":"","EL2":"","EL3":"@{triggerOutputs()?['body/leidos_description']}","EL4":"","EL5":"","EL6":"@{triggerOutputs()?['body/leidos_invoicedate']}","Dr/Cr":"","Amount":"","Ref1":"@{outputs('Get_record_Type')?['body/leidos_template']}","Ref2":"@{outputs('Get_record_Type')?['body/leidos_doccode']}","Ref3":"","Ref4":"@{triggerOutputs()?['body/leidos_invoicenumber']}","Ref5":"@{triggerOutputs()?['body/leidos_invoicereceiveddate']}","Ref6":"","Line Type2":"Header","Tax Code1":"","Tax Value1":"","Sum Tax":"","Tax Turnover":"","Tax Code":""}},"authentication":"@parameters('$authentication')"}},"Add_Summary_Row":{"runAfter":{"Add_Header_Row":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"@parameters('SharePointReportRootURL')","drive":"b!scX2Qu_V-UmOH6pa0EOAS_6-vCPAAvdEocuHIrH3-NlC2bbme7iCQ4sL7snw9lX1","file":"@outputs('Create_file')?['body/Id']","table":"@outputs('TableID')","item":{"Post":"1","Line Type":"Summary","Line number":"1","Description":"@{triggerOutputs()?['body/leidos_description']}","EL1":"@{outputs('Get_record_Type')?['body/leidos_summaryelement1']}","EL2":"SupplierCodeToBeAdded","EL3":"","EL4":"","EL5":"","EL6":"","Dr/Cr":"@{outputs('Get_record_Type')?['body/leidos_summarydrcr']}","Amount":"@{triggerOutputs()?['body/leidos_totalinvoicevalue']}","Ref1":"","Ref2":"","Ref3":"","Ref4":"","Ref5":"","Ref6":"","Line Type2":"Summary","Tax Code1":"","Tax Value1":"","Sum Tax":"@{triggerOutputs()?['body/leidos_vatvalue']}","Tax Turnover":"","Tax Code":""}},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Set_Up_Excel_File":["Succeeded"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}