HIE_CDS/Workflows/OwnHandSummary-Flow-GenerateReport-5073398F-C2BE-EB11-BACC-000D3AD6A017.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_sharedsharepointonline_5be6a"},"api":{"name":"shared_sharepointonline"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnOwnHand"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Own_Hand_Summary_generate_Report":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_ownhandinvoicesummary","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_generatereport","subscriptionRequest/filterexpression":"(leidos_generatereport eq true)"},"authentication":"@parameters('$authentication')"}}},"actions":{"Reference":{"runAfter":{},"type":"Compose","inputs":"@concat(triggerOutputs()?['body/leidos_ownhandinvoicesummaryreference'],'_',utcNow(),'.xlsx')"},"Get_file_content_from_tempalte":{"runAfter":{"Reference":["Succeeded"]},"metadata":{"%252fShared%2bDocuments%252fTemplate%252fBlank.xlsx":"/Shared Documents/Template/Blank.xlsx","%252fShared%2bDocuments%252fTemplate%252fCODAxl.xlsx":"/Shared Documents/Template/CODAxl.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetFileContent","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://hiedigitalnonprod.sharepoint.com/sites/Finance","id":"%252fShared%2bDocuments%252fTemplate%252fCODAxl.xlsx","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Create_file":{"runAfter":{"Get_file_content_from_tempalte":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://hiedigitalnonprod.sharepoint.com/sites/Finance","folderPath":"/Shared Documents","name":"@outputs('Reference')","body":"@outputs('Get_file_content_from_tempalte')?['body']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}