HIE_CDS/Workflows/Pipeline-StausisproceedtoApplication-CreateanewApp-EA406490-38C1-EA11-A812-000D3A7FEDBE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Pipeline_-_Staus_is_proceed_to_Application":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_pipelineproject","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"statecode","subscriptionRequest/filterexpression":"statuscode eq 2"},"authentication":"@parameters('$authentication')"}}},"actions":{"Create_a_new_Application":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","item/leidos_name":"@triggerOutputs()?['body/leidos_name']","item/leidos_ParentAccount@odata.bind":"/accounts(@{triggerOutputs()?['body/_leidos_client_value']})"},"authentication":"@parameters('$authentication')"}},"List_Projects_Associated_with_Pipeline_Project":{"runAfter":{"Create_a_new_Application":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","$filter":"_leidos_preapplicationprocess_value eq @{triggerOutputs()?['body/leidos_pipelineprojectid']}"},"authentication":"@parameters('$authentication')"}},"Number_of_Projects":{"runAfter":{"List_Projects_Associated_with_Pipeline_Project":["Succeeded"]},"type":"Compose","inputs":"@length(outputs('List_Projects_Associated_with_Pipeline_Project')?['body/value'])"},"Condition":{"actions":{"Apply_to_each":{"foreach":"@outputs('List_Projects_Associated_with_Pipeline_Project')?['body/value']","actions":{"Update_Projects_with_parent_Application":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@items('Apply_to_each')?['leidos_projectid']","item/leidos_ParentApplication@odata.bind":"/leidos_applications(@{outputs('Create_a_new_Application')?['body/leidos_applicationid']})","item/statuscode":445260005},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Number_of_Projects":["Succeeded"]},"expression":{"greaterOrEquals":["@outputs('Number_of_Projects')",1]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}