HIE_CDS/Workflows/PipelineProject-Flow-SubmitEmailforapproval-70C503C3-28AA-EA11-A812-000D3A7F1BBB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_approvals":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_approvals"}},"shared_office365":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}},"shared_office365users":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365users"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_generate_Email_is_selected":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_pipelineproject","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_generateemailsubmission","subscriptionRequest/filterexpression":"leidos_generateemailsubmission eq true"},"authentication":"@parameters('$authentication')"}}},"actions":{"Set_Submitted_on_and_Status_Reason":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_pipelineprojects","recordId":"@triggerOutputs()?['body/leidos_pipelineprojectid']","item/leidos_isaapprovalrequestedon":"@utcNow()","item/statecode":1,"item/statuscode":445260004},"authentication":"@parameters('$authentication')"}},"Delegated_Authority":{"runAfter":{"Get_Delegated_Authority_":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Delegated_Authority_')?['body/_leidos_userrecord_value']"},"authentication":"@parameters('$authentication')"}},"Get_Record_URL":{"runAfter":{"Get_my_profile_(V2)":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/leidos_pipelineprojectid']","EntityType_Value":"leidos_pipelineproject"}}},"Start_and_wait_for_an_approval":{"runAfter":{"Get_Record_URL":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Approve Pipeline Project","Reject Pipeline Project","Defer Pipeline Project"],"WebhookApprovalCreationInput/title":"Request for pipeline decision for @{triggerOutputs()?['body/leidos_name']}  ","WebhookApprovalCreationInput/assignedTo":"@outputs('Delegated_Authority')?['body/internalemailaddress']","WebhookApprovalCreationInput/details":"### Email Approval request for Pipeline:  @{triggerOutputs()?['body/leidos_name']}  ###\n- Client Name : @{outputs('Get_Account_')?['body/name']}\n- Project name : @{triggerOutputs()?['body/leidos_name']}\n- Anticipating Costs : £@{triggerOutputs()?['body/leidos_anticipatedprojectcost']}\n- Anticipated HIE Funding : £@{triggerOutputs()?['body/leidos_anticipatedprojectfunding']}\n- Anticipated Outcomes : @{triggerOutputs()?['body/leidos_anticipatedoutcomes']}\n - Client reason for undertaking Project :  @{triggerOutputs()?['body/leidos_clientreasonsforundertakingproject']}\n- Recommendation: @{if(triggerOutputs()?['body/leidos_recommendation'],'Approve','Reject')}\n","WebhookApprovalCreationInput/itemLink":"@outputs('Get_Record_URL')?['Body']?['entityurl']","WebhookApprovalCreationInput/itemLinkDescription":"@triggerOutputs()?['body/leidos_name']","WebhookApprovalCreationInput/requestor":"@outputs('Get_my_profile_(V2)')?['body/mail']","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Get_Pipeline_Owner":{"runAfter":{"Pipeline_Project_-_Child_Flow_-_Process_Approval_Decision":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Send_an_email_(V2)_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_Pipeline_Owner')?['body/internalemailaddress']","emailMessage/Subject":"Approval Request for Pipleline for @{triggerOutputs()?['body/leidos_name']}","emailMessage/Body":"<p>Delegated Authority Name : &nbsp;@{items('Apply_to_each')?['responder/displayName']} &nbsp;<br>\n<br>\nDelegated Authority Decision: &nbsp;&nbsp;&nbsp;@{outputs('Start_and_wait_for_an_approval')?['body/outcome']} <br>\n<br>\nDelegated Authority Comments: @{items('Apply_to_each')?['comments']} <br>\n<br>\nDelegated Authority Decision Date : &nbsp;@{formatDateTime(utcNow(),'dd/MM/yyyy')}<br>\n<br> Record Link   : \n<a href=\"@{outputs('Get_Record_URL')?['Body']?['entityurl']}\">@{triggerOutputs()?['body/leidos_name']}</a><br>\n</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Pipeline_Owner":["Succeeded"]},"type":"Foreach"},"Get_Account_":{"runAfter":{"Delegated_Authority":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_leidos_client_value']"},"authentication":"@parameters('$authentication')"}},"Pipeline_Project_-_Child_Flow_-_Process_Approval_Decision":{"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"5e83fa4c-67aa-ea11-a812-000d3a7f1bbb"},"body":{"ApprovalOutcome_Inputs":"@outputs('Start_and_wait_for_an_approval')?['body/outcome']","PipelineID_Inputs":"@triggerOutputs()?['body/leidos_pipelineprojectid']"}}},"Get_Delegated_Authority_":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_delegatedauthority_value']"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Create_Task_to_capture_Response":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"tasks","item/subject":"Request for Pipeline decision:  Request Response","item/description":"Request Details - @{outputs('Start_and_wait_for_an_approval')?['body/details']}  \n\nRequested On - @{items('Apply_to_each_2')?['requestDate']}\n\nRequest Delegated Authority - @{items('Apply_to_each_2')?['responder/displayName']}  \n\nDelegated Authority Outcome - @{items('Apply_to_each_2')?['approverResponse']}\n\nDelegated Authority Comments - @{items('Apply_to_each_2')?['comments']}  \n\nDelegated Authority Decision Date: @{formatDateTime(utcNow(),'dd/MM/yyyy')}\n","item/regardingobjectid_leidos_pipelineproject_task@odata.bind":"/leidos_pipelineprojects(@{triggerOutputs()?['body/leidos_pipelineprojectid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Apply_to_each":["Succeeded"]},"type":"Foreach"},"Get_my_profile_(V2)":{"runAfter":{"Get_Account_":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365users","operationId":"MyProfile_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users"},"parameters":{},"authentication":"@parameters('$authentication')"},"description":"Get Current User"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}