HIE_CDS/Workflows/PipelineProject-Flow-onChangeofStateupdateProjects-A9B7C358-5DC7-EA11-A812-000D3A86AD99.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"On_Pipeline_Accept_or_Reject":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_pipelineproject","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"statecode","subscriptionRequest/filterexpression":"statecode eq 1"},"authentication":"@parameters('$authentication')"}}},"actions":{"Related_Projects":{"runAfter":{"Get_Pipeline_Project_Owner":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","fetchXml":"<fetch distinct=\"true\" >\n  <entity name=\"leidos_project\" >\n    <filter type=\"and\" >\n      <condition attribute=\"leidos_preapplicationprocess\" operator=\"eq\" value=\"@{triggerOutputs()?['body/leidos_pipelineprojectid']}\" />\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n    </filter>\n  </entity>\n</fetch>","$top":100},"authentication":"@parameters('$authentication')"}},"Switch":{"runAfter":{"Related_Projects":["Succeeded"]},"cases":{"Approve":{"case":2,"actions":{"Loop_thru_Projects_set_to_Planned":{"foreach":"@outputs('Related_Projects')?['body/value']","actions":{"Update_Projects":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@items('Loop_thru_Projects_set_to_Planned')?['leidos_projectid']","item/leidos_ParentApplication@odata.bind":"/leidos_applications(@{outputs('Create_Application')?['body/leidos_applicationid']})","item/statecode":0,"item/statuscode":445260005},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Create_Application":["Succeeded"]},"type":"Foreach"},"Create_Application":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","item/leidos_name":"@triggerOutputs()?['body/leidos_name']","item/leidos_ParentAccount@odata.bind":"accounts(@{outputs('Get_Account')?['body/accountid']})","item/ownerid@odata.bind":"/systemusers(@{outputs('Get_Pipeline_Project_Owner')?['body/systemuserid']})"},"authentication":"@parameters('$authentication')"}}}},"Reject":{"case":445260001,"actions":{"Loop_Thru_Projects_and_Reject":{"foreach":"@outputs('Related_Projects')?['body/value']","actions":{"Update_a_record_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@items('Loop_Thru_Projects_and_Reject')?['leidos_projectid']","item/statecode":1,"item/statuscode":445260003},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}}}},"default":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":"@triggerOutputs()?['body/statuscode']","type":"Switch"},"Get_Pipeline_Project_Owner":{"runAfter":{"Get_Account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Get_Account":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_leidos_client_value']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}