HIE_CDS/Workflows/PipelineProject-Flow-SubmitEmailforapproval-70C503C3-28AA-EA11-A812-000D3A7F1BBB.json
{
  "properties": {
    "connectionReferences": {
      "shared_approvals": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "leidos_Approvals"
        },
        "api": {
          "name": "shared_approvals"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "leidos_ConnPipleine"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "leidos_ConnOffice365Outlook"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_generate_Email_is_selected": {
          "metadata": {
            "operationMetadataId": "7cb706cc-3f39-4318-b256-21ee8d974eca"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "leidos_pipelineproject",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "leidos_generateemailsubmission",
              "subscriptionRequest/filterexpression": "leidos_generateemailsubmission eq true"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Start_and_wait_for_an_approval": {
          "runAfter": {
            "Get_Process_Data": [
              "Succeeded"
            ]
          },
          "limit": {
            "timeout": "P3D"
          },
          "metadata": {
            "operationMetadataId": "f7b32520-2dc7-4be9-99b9-fb8a292eeb9a"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_approvals",
              "operationId": "StartAndWaitForAnApproval",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
            },
            "parameters": {
              "approvalType": "CustomResponse",
              "WebhookApprovalCreationInput/responseOptions": [
                "Approve Pipeline Project",
                "Reject Pipeline Project",
                "Defer Pipeline Project"
              ],
              "WebhookApprovalCreationInput/title": "Request for pipeline decision for   @{outputs('Get_Account_')?['body/name']}",
              "WebhookApprovalCreationInput/assignedTo": "@outputs('Delegated_Authority')?['body/internalemailaddress']",
              "WebhookApprovalCreationInput/details": "### Email Approval request for Pipeline:  @{triggerOutputs()?['body/leidos_name']}  ###\n- Client name : @{outputs('Get_Account_')?['body/name']}\n- Project name : @{triggerOutputs()?['body/leidos_name']}\n- Anticipated total project costs : £@{triggerOutputs()?['body/leidos_anticipatedprojectcost']}\n- Anticipated HIE gross funding: £@{triggerOutputs()?['body/leidos_anticipatedprojectfunding']}\n- Anticipated outcomes : @{triggerOutputs()?['body/leidos_anticipatedoutcomes']}\n- Client reason for undertaking Project : @{triggerOutputs()?['body/leidos_clientreasonsforundertakingproject']}\n- Recommendation: @{if(triggerOutputs()?['body/leidos_recommendation'],'Approve','Reject')}\n",
              "WebhookApprovalCreationInput/itemLink": "@outputs('Get_Record_URL')?['Body']?['entityurl']",
              "WebhookApprovalCreationInput/itemLinkDescription": "@triggerOutputs()?['body/leidos_name']",
              "WebhookApprovalCreationInput/requestor": "@outputs('Get_Submitted_By')?['body/internalemailaddress']",
              "WebhookApprovalCreationInput/enableNotifications": true,
              "WebhookApprovalCreationInput/enableReassignment": true
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Pipeline_Owner": {
          "runAfter": {
            "Pipeline_Project_-_Child_Flow_-_Process_Approval_Decision": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a4cbe17a-2704-41ac-bad8-e900a5b3b658"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "systemusers",
              "recordId": "@triggerOutputs()?['body/_ownerid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Email_result_to_Account_manager": {
          "foreach": "@outputs('Start_and_wait_for_an_approval')?['body/responses']",
          "actions": {
            "Send_an_email_(V2)_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b0bb566d-be15-4187-86b0-8dd5f9a0399d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@outputs('Get_Pipeline_Owner')?['body/internalemailaddress']",
                  "emailMessage/Subject": "Approval Request for Pipeline  for @{triggerOutputs()?['body/leidos_name']}",
                  "emailMessage/Body": "<p>Delegated Authority Name : &nbsp;@{items('Email_result_to_Account_manager')?['responder/displayName']} &nbsp;<br>\n<br>\nDelegated Authority Decision: &nbsp;&nbsp;&nbsp;@{outputs('Start_and_wait_for_an_approval')?['body/outcome']} <br>\n<br>\nDelegated Authority Comments: @{items('Email_result_to_Account_manager')?['comments']} <br>\n<br>\nDelegated Authority Decision Date : &nbsp;@{formatDateTime(utcNow(), 'dd/MM/yyyy')}<br>\n<br> Record Link   : \n<a href=\"@{outputs('Get_Record_URL')?['Body']?['entityurl']}\">@{triggerOutputs()?['body/leidos_name']}</a><br>\n</p>"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_Pipeline_Owner": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8f44332f-ef62-46b2-b2d3-24b64bb78b0a"
          },
          "type": "Foreach"
        },
        "Pipeline_Project_-_Child_Flow_-_Process_Approval_Decision": {
          "runAfter": {
            "Start_and_wait_for_an_approval": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "15414157-94d8-4cce-b5f8-934a759a45d5"
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "5e83fa4c-67aa-ea11-a812-000d3a7f1bbb"
            },
            "body": {
              "ApprovalOutcome_Inputs": "@outputs('Start_and_wait_for_an_approval')?['body/outcome']",
              "PipelineID_Inputs": "@triggerOutputs()?['body/leidos_pipelineprojectid']"
            }
          }
        },
        "Create_Task_with_result_for_record": {
          "foreach": "@outputs('Start_and_wait_for_an_approval')?['body/responses']",
          "actions": {
            "Create_Task_to_capture_Response": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c52638df-07fd-43fa-a3a8-b7058381b77b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "tasks",
                  "item/subject": "Request for Pipeline decision:  Request Response",
                  "item/description": "Request Details - @{outputs('Start_and_wait_for_an_approval')?['body/details']}  \n\nRequested On - @{items('Create_Task_with_result_for_record')?['requestDate']}\n\nRequest Delegated Authority - @{items('Create_Task_with_result_for_record')?['responder/displayName']}  \n\nDelegated Authority Outcome - @{items('Create_Task_with_result_for_record')?['approverResponse']}\n\nDelegated Authority Comments - @{items('Create_Task_with_result_for_record')?['comments']}  \n\nDelegated Authority Decision Date: @{formatDateTime(utcNow(), 'dd/MM/yyyy')}\n",
                  "item/regardingobjectid_leidos_pipelineproject_task@odata.bind": "/leidos_pipelineprojects(@{triggerOutputs()?['body/leidos_pipelineprojectid']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Email_result_to_Account_manager": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a2a8eae6-e8b9-4cb3-9a45-32578c6fd55d"
          },
          "type": "Foreach"
        },
        "Get_Process_Data": {
          "actions": {
            "Get_Delegated_Authority_": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "9d2eee7e-dcec-4e58-ae63-74312070b4ee"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "leidos_delegatedauthorityapprovaltables",
                  "recordId": "@triggerOutputs()?['body/_leidos_delegatedauthority_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Delegated_Authority": {
              "runAfter": {
                "Get_Delegated_Authority_": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "378eab30-6b96-4e78-8476-54026fda9d9e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "recordId": "@outputs('Get_Delegated_Authority_')?['body/_leidos_userrecord_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Account_": {
              "runAfter": {
                "Delegated_Authority": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8d001a95-95ac-4d59-ae3d-b03c797f3981"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "accounts",
                  "recordId": "@triggerOutputs()?['body/_leidos_client_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Submitted_By": {
              "runAfter": {
                "Get_Account_": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a4cb3ebe-2cee-4ff3-88bf-a3211035c845"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "recordId": "@triggerOutputs()?['body/_leidos_approvalsubmittedby_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Record_URL": {
              "runAfter": {
                "Get_BPF_Project": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b9c3e71d-cae1-4ed9-9534-fa3d00b4de59"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "b0db1a8a-c449-ea11-a812-000d3a0ba151"
                },
                "body": {
                  "EntityId_Inputs": "@triggerOutputs()?['body/leidos_pipelineprojectid']",
                  "EntityType_Value": "leidos_pipelineproject"
                }
              }
            },
            "List_BPF_instance": {
              "runAfter": {
                "Get_Submitted_By": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "38122953-4269-4737-963a-53450c4b6ca8"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "leidos_bpf_pipelineprojects",
                  "$filter": "_bpf_leidos_pipelineprojectid_value eq '@{triggerOutputs()?['body/leidos_pipelineprojectid']}'",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "BPF_Project_ID": {
              "runAfter": {
                "List_BPF_instance": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2ce970b4-daf5-4c20-8830-88a164e36c30"
              },
              "type": "Compose",
              "inputs": "@outputs('List_BPF_instance')?['body/value']?[0]?._bpf_leidos_projectid_value"
            },
            "Get_BPF_Project": {
              "runAfter": {
                "BPF_Project_ID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "57a1e902-2050-474f-9950-147044e385a5"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "leidos_projects",
                  "recordId": "@outputs('BPF_Project_ID')"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "0ac15115-adfa-4d36-8b18-8acb1e88f738"
          },
          "type": "Scope"
        },
        "Set_Submitted_on_and_Status_Reason": {
          "runAfter": {
            "Get_Process_Data": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "398f4472-e97b-4d08-a33d-4c871d5a156b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "leidos_pipelineprojects",
              "recordId": "@triggerOutputs()?['body/leidos_pipelineprojectid']",
              "item/leidos_isaapprovalrequestedon": "@utcNow()",
              "item/statecode": 1,
              "item/statuscode": 445260004
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Reset_generate_email_Submission": {
          "runAfter": {
            "Get_Process_Data": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "63bc0c23-0de3-492e-a86d-0d427f967fb3"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "leidos_pipelineprojects",
              "recordId": "@triggerOutputs()?['body/leidos_pipelineprojectid']",
              "item/leidos_generateemailsubmission": false
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Send_an_email_(V2)": {
          "runAfter": {
            "Reset_generate_email_Submission": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ed75f003-56d3-4cb2-8173-24878c239773"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "@outputs('Get_Submitted_By')?['body/internalemailaddress']",
              "emailMessage/Subject": "Pipeline Project Approval Submission failed",
              "emailMessage/Body": "<p>The submission for @{triggerOutputs()?['body/leidos_name']} has failed, please check all the data is present and resubmit.</p>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Scope:_Approval_Time_Out": {
          "actions": {
            "Update_a_row:_Reset_Pipeline_to_allow_resubmit": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "da588a38-46a5-4fec-abc9-ade0260e107b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "leidos_pipelineprojects",
                  "recordId": "@triggerOutputs()?['body/leidos_pipelineprojectid']",
                  "item/leidos_generateemailsubmission": false,
                  "item/leidos_isaapprovalrequestedon": "@null",
                  "item/statecode": 0,
                  "item/statuscode": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Send_an_email_(V2)_3": {
              "runAfter": {
                "Update_a_row:_Reset_Pipeline_to_allow_resubmit": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ea65b158-590d-4851-a2aa-b83e99e09522"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@outputs('Get_Submitted_By')?['body/internalemailaddress']",
                  "emailMessage/Subject": "Pipeline Project Approval request Timed out",
                  "emailMessage/Body": "<p>The Approval for @{triggerOutputs()?['body/leidos_pipelineprojectreference']} has timed out, please resubmit</p>"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Start_and_wait_for_an_approval": [
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "03c7ee9f-d7e3-4c7d-a49e-1cd36d165dd6"
          },
          "type": "Scope"
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}