HIE_CDS/Workflows/PipelineProgramSubmitISA-Getdata-8795BE78-0B20-EB11-A813-000D3A7FEDBE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_2":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_sharedcommondataserviceforapps_62e90"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Pipeline_Program_Submit_ISA":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_pipelineprogramme","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_submitisa","subscriptionRequest/filterexpression":"leidos_submitisa eq true"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_data_":{"actions":{"Get_DA_Table":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_delegatedauthority_value']"},"authentication":"@parameters('$authentication')"}},"Get_DA_user_Record":{"runAfter":{"Get_DA_Table":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_DA_Table')?['body/_leidos_userrecord_value']"},"authentication":"@parameters('$authentication')"}},"Get_Entity_URL":{"runAfter":{"Get_Submitted_By_User_Record":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/leidos_pipelineprogrammeid']","EntityType_Value":"leidos_pipelineprogramme"}}},"Get_Submitted_By_User_Record":{"runAfter":{"Get_DA_user_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_leidos_approvalsubmittedby_value']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Scope"},"Update_Pipeline_Programme_to_Submitted":{"runAfter":{"Get_data_":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_pipelineprogrammes","recordId":"@triggerOutputs()?['body/leidos_pipelineprogrammeid']","item/leidos_isaapprovalrequestedon":"@utcNow()","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}