HIE_CDS/Workflows/PipelineProject-Flow-SubmitISAforapproval-464540D8-38A6-EA11-A812-000D3A7F1BBB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnPipleine"},"api":{"name":"shared_commondataserviceforapps"}},"shared_approvals":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_Approvals"},"api":{"name":"shared_approvals"}},"shared_office365":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnOffice365Outlook"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"On_Submit_ISA_to_True":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_pipelineproject","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_submitisa,leidos_submitnfiisaforapproval","subscriptionRequest/filterexpression":"leidos_submitnfiisaforapproval eq true or leidos_submitisa eq true"},"authentication":"@parameters('$authentication')"}}},"actions":{"Set_Submitted_on_and_Status_Reason":{"runAfter":{"DA_Email":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_pipelineprojects","recordId":"@triggerOutputs()?['body/leidos_pipelineprojectid']","item/leidos_isaapprovalrequestedon":"@utcNow()","item/statecode":1,"item/statuscode":445260004},"authentication":"@parameters('$authentication')"}},"Start_and_wait_for_an_approval":{"runAfter":{"Get_Data":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Approve Pipeline Project","Reject Pipeline Project","Defer Pipeline Project"],"WebhookApprovalCreationInput/title":"Request for Pipeline Decision for @{outputs('Get_Account_')?['body/name']}   ","WebhookApprovalCreationInput/assignedTo":"@{variables('Delegated Authority Email')};","WebhookApprovalCreationInput/details":"### ISA Approval request for Pipeline Decision for @{triggerOutputs()?['body/leidos_name']}  ###\n- Client Name : @{outputs('Get_Account_')?['body/name']}\n- Project name : @{triggerOutputs()?['body/leidos_name']}\n- ISA Document :  [Document Link ](@{triggerOutputs()?['body/leidos_initialstrategicassessmentlink']})\n- Recommendation: @{if(triggerOutputs()?['body/leidos_recommendation'],'Approve','Reject')}\n","WebhookApprovalCreationInput/itemLink":"@outputs('Get_Record_URL')?['Body']?['entityurl']","WebhookApprovalCreationInput/itemLinkDescription":"@triggerOutputs()?['body/leidos_name']","WebhookApprovalCreationInput/requestor":"@outputs('Get_Submitted_By')?['body/internalemailaddress']","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Get_Pipeline_Owner":{"runAfter":{"Pipeline_Project_-_Child_Flow_-_Process_Approval_Decision":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Send_result_email_to_Account_Manager":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Send_an_email_(V2)_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_Pipeline_Owner')?['body/internalemailaddress']","emailMessage/Subject":"Approval Request for Pipleline for @{triggerOutputs()?['body/leidos_name']}","emailMessage/Body":"<p>Delegated Authority Name : &nbsp;@{items('Send_result_email_to_Account_Manager')?['responder/displayName']} &nbsp;<br>\n<br>\nDelegated Authority Decision: &nbsp;&nbsp;&nbsp;@{outputs('Start_and_wait_for_an_approval')?['body/outcome']} &nbsp;<br>\n<br>\nDelegated Authority Comments: @{items('Send_result_email_to_Account_Manager')?['comments']} &nbsp;<br>\n<br>\nDelegated Authority Decision Date : &nbsp;@{formatDateTime(utcNow(), 'dd/MM/yyyy')} &nbsp;<br>\n<br>\nRecord Link: <a href=\"@{outputs('Get_Record_URL')?['Body']?['entityurl']}\">@{triggerOutputs()?['body/leidos_name']}</a>\n</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Pipeline_Owner":["Succeeded"]},"type":"Foreach"},"Pipeline_Project_-_Child_Flow_-_Process_Approval_Decision":{"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"5e83fa4c-67aa-ea11-a812-000d3a7f1bbb"},"body":{"ApprovalOutcome_Inputs":"@outputs('Start_and_wait_for_an_approval')?['body/outcome']","PipelineID_Inputs":"@triggerOutputs()?['body/leidos_pipelineprojectid']"}}},"Create_Task_for_Record":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Create_Task_to_capture_Response":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"tasks","item/subject":"Request for Pipeline decision:  Request Response","item/description":"Request Details - @{outputs('Start_and_wait_for_an_approval')?['body/details']}  \n\nRequested On - @{items('Create_Task_for_Record')?['requestDate']}\n\nRequest Delegated Authority - @{items('Create_Task_for_Record')?['responder/displayName']}  \n\nDelegated Authority Outcome - @{items('Create_Task_for_Record')?['approverResponse']}\n\nDelegated Authority Comments - @{items('Create_Task_for_Record')?['comments']}  \n\nDelegated Authority Decision Date: @{formatDateTime(utcNow(), 'dd/MM/yyyy')}\n\n","item/regardingobjectid_leidos_pipelineproject_task@odata.bind":"/leidos_pipelineprojects(@{triggerOutputs()?['body/leidos_pipelineprojectid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Send_result_email_to_Account_Manager":["Succeeded"]},"type":"Foreach"},"DA_Email":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Delegated Authority Email","type":"string"}]}},"Get_Data":{"actions":{"Get_Account_":{"runAfter":{"Condition":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_leidos_client_value']"},"authentication":"@parameters('$authentication')"}},"Get_Submitted_By":{"runAfter":{"Get_Account_":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_leidos_approvalsubmittedby_value']"},"authentication":"@parameters('$authentication')"}},"Get_Record_URL":{"runAfter":{"Get_Submitted_By":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/leidos_pipelineprojectid']","EntityType_Value":"leidos_pipelineproject"}}},"Condition":{"actions":{"Get_Delegated_Authority_User_Programme_manager_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_programmemanager_value']"},"authentication":"@parameters('$authentication')"}},"Delegated_Authority_PM_2":{"runAfter":{"Get_Delegated_Authority_User_Programme_manager_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Delegated_Authority_User_Programme_manager_2')?['body/_leidos_userrecord_value']"},"authentication":"@parameters('$authentication')"}},"PM_Email":{"runAfter":{"Delegated_Authority_PM_2":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Delegated Authority Email","value":"@outputs('Delegated_Authority_PM_2')?['body/internalemailaddress']"}}},"runAfter":{},"else":{"actions":{"Get_Delegated_Authority_User_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_delegatedauthority_value']"},"authentication":"@parameters('$authentication')"}},"Get_a_record":{"runAfter":{"Get_Delegated_Authority_User_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Delegated_Authority_User_2')?['body/_leidos_userrecord_value']"},"authentication":"@parameters('$authentication')"}},"Set_variable":{"runAfter":{"Get_a_record":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Delegated Authority Email","value":"@outputs('Get_a_record')?['body/internalemailaddress']"}}}},"expression":{"equals":["@triggerOutputs()?['body/leidos_submitnfiisaforapproval']",true]},"type":"If"}},"runAfter":{"DA_Email":["Succeeded"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}