HIE_CDS/Workflows/Pipeline-ProceedtoApplication-CreateanewApplicatio-AA32C9B2-1EC1-EA11-A812-000D3A7F1BBB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Pipeline_-_Proceed_to_Application":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_pipelineproject","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_preapplicationroute","subscriptionRequest/filterexpression":"leidos_preapplicationroute eq 445260000","subscriptionRequest/runas":1},"authentication":"@parameters('$authentication')"}}},"actions":{"Update_Pipeline_to_closed":{"runAfter":{"Create_Base_Project":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_pipelineprojects","recordId":"@triggerOutputs()?['body/leidos_pipelineprojectid']","item/leidos_isaapprovedon":"@utcNow()","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}},"Create_Base_Project":{"runAfter":{"Get_Account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","item/leidos_name":"@triggerOutputs()?['body/leidos_name']","item/leidos_SIC1@odata.bind":"/leidos_siccodes(@{outputs('Get_Account')?['body/_leidos_sic1_value']})","item/leidos_SIC2@odata.bind":"/leidos_siccodes(@{outputs('Get_Account')?['body/_leidos_sic2_value']})","item/leidos_anticipatedhiefunding":"@triggerOutputs()?['body/leidos_anticipatedprojectfunding']","item/leidos_ParentAccount@odata.bind":"/accounts(@{outputs('Get_Account')?['body/accountid']})","item/leidos_PreApplicationProcess@odata.bind":"/leidos_pipelineprojects(@{triggerOutputs()?['body/leidos_pipelineprojectid']})","item/leidos_projectstartdate":"@triggerOutputs()?['body/leidos_anticipatedprojectstartdate']"},"authentication":"@parameters('$authentication')"}},"Get_Account":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_leidos_client_value']"},"authentication":"@parameters('$authentication')"},"description":"Get Account to access SIC Codes"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}