HIE_CDS/Workflows/PortalMessage-Flow-OnCreateofIncomingemailAccountM-830206AF-97E3-EA11-A813-000D3A7FEDBE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_Portal_Message_is_revived_from_Portal_to_MyHIE":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"leidos_portalmessage","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"_leidos_contact_value ne null and leidos_origin eq 445260000"},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Project Officer Name","type":"string"}]}},"Get_Data_for_Process":{"actions":{"Get_Portal_Message":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_portalmessages","recordId":"@triggerOutputs()?['body/activityid']"},"authentication":"@parameters('$authentication')"}},"Get_Contact":{"runAfter":{"Get_Portal_Message":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('Get_Portal_Message')?['body/_leidos_contact_value']"},"authentication":"@parameters('$authentication')"}},"Get_Account":{"runAfter":{"Get_Contact":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Contact')?['body/_parentcustomerid_value']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Initialize_variable":["Succeeded"]},"type":"Scope"},"Check_for_Project_Officer":{"actions":{"Set_variable_to_Project_Officer":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Project Officer Name","value":"@outputs('Get_Account')?['body/_leidos_projectofficerallocation_value']"}}},"runAfter":{"Get_Data_for_Process":["Succeeded"]},"else":{"actions":{"Check_is_Owner_Individual_or_a_TEAM":{"actions":{"Get_Team":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"teams","recordId":"@outputs('Get_Account')?['body/_owningteam_value']"},"authentication":"@parameters('$authentication')"}},"Get_Primary_Contact_For_team":{"runAfter":{"Get_Team":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Team')?['body/_leidos_teamprimarycontact_value']"},"authentication":"@parameters('$authentication')"}},"Set_variable_to_Team_Primary_Contact":{"runAfter":{"Get_Primary_Contact_For_team":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Project Officer Name","value":"@outputs('Get_Primary_Contact_For_team')?['body/systemuserid']"}}},"runAfter":{},"else":{"actions":{"Get_Owner_(user)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Account')?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Set_variable_to_individual_Owner":{"runAfter":{"Get_Owner_(user)":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Project Officer Name","value":"@outputs('Get_Owner_(user)')?['body/systemuserid']"}}}},"expression":{"equals":["@outputs('Get_Account')?['body/_ownerid_value@Microsoft.Dynamics.CRM.lookuplogicalname']","team"]},"type":"If"}}},"expression":{"not":{"equals":["@outputs('Get_Account')?['body/_leidos_projectofficerallocation_value']","@null"]}},"type":"If"},"Create_an_Email_for_AM":{"runAfter":{"Get_HIE_Contact":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","item/activitypointer_activity_parties":[{"participationtypemask":2,"partyid@odata.bind":"/systemusers(@{outputs('Get_HIE_Contact')?['body/systemuserid']})"}],"item/description":"@{outputs('Get_Portal_Message')?['body/description']}\n\nContact Email Address: @{outputs('Get_Contact')?['body/emailaddress1']}","item/regardingobjectid_account_email@odata.bind":"/accounts(@{outputs('Get_Account')?['body/accountid']})","item/subject":"Portal Message Recived from @{outputs('Get_Contact')?['body/fullname']}"},"authentication":"@parameters('$authentication')"}},"Get_HIE_Contact":{"runAfter":{"Check_for_Project_Officer":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@variables('Project Officer Name')"},"authentication":"@parameters('$authentication')"}},"Perform_a_bound_action":{"runAfter":{"Create_an_Email_for_AM":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"PerformBoundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","actionName":"Microsoft.Dynamics.CRM.SendEmail","recordId":"@outputs('Create_an_Email_for_AM')?['body/activityid']","item/IssueSend":false},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}