HIE_CDS/Workflows/ProgrammeAmendment-Flow-SubmitProgrammeApprovaltoD-7CFA367D-69D2-EA11-A813-000D3A7FEDBE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Submit_Programme_Amendment_for_approval":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_programme_amendment","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_submitprogrammeamendmentforapproval","subscriptionRequest/filterexpression":"leidos_submitprogrammeamendmentforapproval eq true"},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_DA_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Delegated Authority","type":"string","value":"''"}]}},"Update_Programme_record_status_Inactive_-_Awaiting_Amendment_Approval":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_programmes","recordId":"@triggerOutputs()?['body/_leidos_programme_value']","item/statecode":1,"item/statuscode":445260003},"authentication":"@parameters('$authentication')"}},"Switch_Programme_Amendment_Path":{"runAfter":{"Initialize_DA_variable":["Succeeded"]},"cases":{"Case":{"case":445260000,"actions":{}}},"default":{"actions":{}},"expression":"@triggerOutputs()?['body/leidos_programmeamendmentpath']","type":"Switch"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}