HIE_CDS/Workflows/ProgrammeAmendment-OncreateUpdateProgrammeStatus-36D4DC34-5EBF-EA11-A812-000D3A7FEDBE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnProgrammeAmendment"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"On_Programme_Amendment_on_Create":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"leidos_programme_amendment","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Amendment_Type_Switch":{"runAfter":{},"cases":{"Cost_Type":{"case":445260000,"actions":{"Update_Programme_record_CT":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_programmes","recordId":"@triggerOutputs()?['body/_leidos_programme_value']","item/statecode":1,"item/statuscode":445260007},"authentication":"@parameters('$authentication')"}},"List_Programme's_Costs_CT":{"runAfter":{"Update_Programme_record_CT":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectcosts","$select":"leidos_projectcostid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_projectcost\">\n    <attribute name=\"leidos_projectcostid\" />\n    <attribute name=\"leidos_costitem\" />\n    <order attribute=\"leidos_costitem\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentprogramme\" operator=\"eq\" value=\"@{triggerOutputs()?['body/_leidos_programme_value']}\"/>\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"List_Programme's_Spend_Profiles_CT":{"runAfter":{"Loop_through_programme's_cost_-_Status_to_In_Amendment_-_Finance_CT":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_anticipatedspendprofiles","$select":"leidos_anticipatedspendprofileid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_anticipatedspendprofile\">\n    <attribute name=\"leidos_parentproject\" />\n    <attribute name=\"leidos_spendprofilereference\" />\n    <attribute name=\"leidos_anticipatedspendprofileid\" />\n    <order attribute=\"leidos_parentproject\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentprogramme\" operator=\"eq\" value=\"@{triggerOutputs()?['body/_leidos_programme_value']}\"/>\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Loop_through_programme's_cost_-_Status_to_In_Amendment_-_Finance_CT":{"foreach":"@outputs('List_Programme''s_Costs_CT')?['body/value']","actions":{"Update_Programme's_costs_CT":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectcosts","recordId":"@items('Loop_through_programme''s_cost_-_Status_to_In_Amendment_-_Finance_CT')?['leidos_projectcostid']","item/statecode":0,"item/statuscode":445260002},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Programme's_Costs_CT":["Succeeded"]},"type":"Foreach"},"Loop_programme's_spend_profiles_-_Status_to_In_Amendment_-_Finance_CT":{"foreach":"@outputs('List_Programme''s_Spend_Profiles_CT')?['body/value']","actions":{"Update_Programme's_spend_profile_records_CT":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_anticipatedspendprofiles","recordId":"@items('Loop_programme''s_spend_profiles_-_Status_to_In_Amendment_-_Finance_CT')?['leidos_anticipatedspendprofileid']","item/statecode":0,"item/statuscode":445260002},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Programme's_Spend_Profiles_CT":["Succeeded"]},"type":"Foreach"},"List_Cost_Funding_CT":{"runAfter":{"Update_Programme_record_CT":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectfundings","$select":"leidos_projectfundingid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_projectfunding\">\n    <attribute name=\"leidos_name\" />\n    <attribute name=\"leidos_projectfundingid\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"leidos_programme\" operator=\"eq\"  value=\"@{triggerOutputs()?['body/_leidos_programme_value']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Loop_through_Cost_Funding_-_Status_to_Record_locked_CT":{"foreach":"@outputs('List_Cost_Funding_CT')?['body/value']","actions":{"Update_Cost_Funding_CT":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectfundings","recordId":"@items('Loop_through_Cost_Funding_-_Status_to_Record_locked_CT')?['leidos_projectfundingid']","item/statecode":1,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Cost_Funding_CT":["Succeeded"]},"type":"Foreach"},"List_Strategic_Priorities_CT":{"runAfter":{"Update_Programme_record_CT":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectstrategicpriorities","$select":"leidos_projectstrategicpriorityid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_projectstrategicpriority\">\n    <attribute name=\"leidos_projectstrategicpriorityid\" />\n    <attribute name=\"leidos_name\" />\n    <attribute name=\"leidos_parentproject\" />\n    <attribute name=\"leidos_strategicpriority\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentprogramme\" operator=\"eq\"  value=\"@{triggerOutputs()?['body/_leidos_programme_value']}\" />\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Loop_through_Strategic_Priorities_-_Status_to_Record_Locked_CT":{"foreach":"@outputs('List_Strategic_Priorities_CT')?['body/value']","actions":{"Update_Project_Strategic_Priorities_CT":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectstrategicpriorities","recordId":"@items('Loop_through_Strategic_Priorities_-_Status_to_Record_Locked_CT')?['leidos_projectstrategicpriorityid']","item/statecode":1,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Strategic_Priorities_CT":["Succeeded"]},"type":"Foreach"},"List_Measures_CT":{"runAfter":{"Loop_through_Strategic_Priorities_-_Status_to_Record_Locked_CT":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectmeasures","$select":"leidos_projectmeasureid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_projectmeasure\">\n    <attribute name=\"leidos_name\" />\n    <attribute name=\"leidos_projectmeasureid\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"leidos_programme\" operator=\"eq\"  value=\"@{triggerOutputs()?['body/_leidos_programme_value']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Loop_through_Measures_-_Status_to_project_Active_CT":{"foreach":"@outputs('List_Measures_CT')?['body/value']","actions":{"Update_Measure_CT":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectmeasures","recordId":"@items('Loop_through_Measures_-_Status_to_project_Active_CT')?['leidos_projectmeasureid']","item/statecode":1,"item/statuscode":445260003},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Measures_CT":["Succeeded"]},"type":"Foreach"}}},"Programme":{"case":445260001,"actions":{"Update_Programme_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_programmes","recordId":"@triggerOutputs()?['body/_leidos_programme_value']","item/statecode":0,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}}}},"Budget_sub-type":{"case":445260002,"actions":{"Update_Programme_Record_TS":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_programmes","recordId":"@triggerOutputs()?['body/_leidos_programme_value']","item/statecode":1,"item/statuscode":445260007},"authentication":"@parameters('$authentication')"}},"List_Programme's_Costs_TS":{"runAfter":{"Update_Programme_Record_TS":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectcosts","$select":"leidos_projectcostid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_projectcost\">\n    <attribute name=\"leidos_projectcostid\" />\n    <attribute name=\"leidos_costitem\" />\n    <order attribute=\"leidos_costitem\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentprogramme\" operator=\"eq\" value=\"@{triggerOutputs()?['body/_leidos_programme_value']}\"/>\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"List_Cost_Funding_TS":{"runAfter":{"Update_Programme_Record_TS":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectfundings","$select":"leidos_projectfundingid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_projectfunding\">\n    <attribute name=\"leidos_name\" />\n    <attribute name=\"leidos_projectfundingid\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"leidos_programme\" operator=\"eq\"  value=\"@{triggerOutputs()?['body/_leidos_programme_value']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"List_Strategic_Priorities_TS":{"runAfter":{"Update_Programme_Record_TS":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectstrategicpriorities","$select":"leidos_projectstrategicpriorityid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_projectstrategicpriority\">\n    <attribute name=\"leidos_projectstrategicpriorityid\" />\n    <attribute name=\"leidos_name\" />\n    <attribute name=\"leidos_parentproject\" />\n    <attribute name=\"leidos_strategicpriority\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentprogramme\" operator=\"eq\"  value=\"@{triggerOutputs()?['body/_leidos_programme_value']}\" />\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Loop_through_programme's_cost_-_Status_to_In_Amendment_-_Finance_TS":{"foreach":"@outputs('List_Programme''s_Costs_TS')?['body/value']","actions":{"Update_Programme's_costs_TS":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectcosts","recordId":"@items('Loop_through_programme''s_cost_-_Status_to_In_Amendment_-_Finance_TS')?['leidos_projectcostid']","item/statecode":1,"item/statuscode":445260001},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Programme's_Costs_TS":["Succeeded"]},"type":"Foreach"},"List_Programme's_Spend_Profiles_TS":{"runAfter":{"Loop_through_programme's_cost_-_Status_to_In_Amendment_-_Finance_TS":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_anticipatedspendprofiles","$select":"leidos_anticipatedspendprofileid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_anticipatedspendprofile\">\n    <attribute name=\"leidos_parentproject\" />\n    <attribute name=\"leidos_spendprofilereference\" />\n    <attribute name=\"leidos_anticipatedspendprofileid\" />\n    <order attribute=\"leidos_parentproject\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentprogramme\" operator=\"eq\" value=\"@{triggerOutputs()?['body/_leidos_programme_value']}\"/>\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Loop_programme's_spend_profiles_-_Status_to_In_Amendment_-_Finance_TS":{"foreach":"@outputs('List_Programme''s_Spend_Profiles_TS')?['body/value']","actions":{"Update_Programme's_spend_profile_records_TS":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_anticipatedspendprofiles","recordId":"@items('Loop_programme''s_spend_profiles_-_Status_to_In_Amendment_-_Finance_TS')?['leidos_anticipatedspendprofileid']","item/statecode":1,"item/statuscode":445260001},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Programme's_Spend_Profiles_TS":["Succeeded"]},"type":"Foreach"},"Loop_through_Strategic_Priorities_-_Status_to_Record_Locked_TS":{"foreach":"@outputs('List_Strategic_Priorities_TS')?['body/value']","actions":{"Update_Project_Strategic_Priorities_TS":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectstrategicpriorities","recordId":"@items('Loop_through_Strategic_Priorities_-_Status_to_Record_Locked_TS')?['leidos_projectstrategicpriorityid']","item/statecode":1,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Strategic_Priorities_TS":["Succeeded"]},"type":"Foreach"},"List_Measures_TS":{"runAfter":{"Loop_through_Strategic_Priorities_-_Status_to_Record_Locked_TS":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectmeasures","$select":"leidos_projectmeasureid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_projectmeasure\">\n    <attribute name=\"leidos_name\" />\n    <attribute name=\"leidos_projectmeasureid\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"leidos_programme\" operator=\"eq\"  value=\"@{triggerOutputs()?['body/_leidos_programme_value']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Loop_through_Measures_-_Status_to_project_Active_TS":{"foreach":"@outputs('List_Measures_TS')?['body/value']","actions":{"Update_Measure_TS":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectmeasures","recordId":"@items('Loop_through_Measures_-_Status_to_project_Active_TS')?['leidos_projectmeasureid']","item/statecode":1,"item/statuscode":445260003},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Measures_TS":["Succeeded"]},"type":"Foreach"},"Loop_through_Cost_Funding_-_Status_to_Record_locked_TS":{"foreach":"@outputs('List_Cost_Funding_TS')?['body/value']","actions":{"Update_Cost_Funding_TS":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectfundings","recordId":"@items('Loop_through_Cost_Funding_-_Status_to_Record_locked_TS')?['leidos_projectfundingid']","item/statecode":1,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Cost_Funding_TS":["Succeeded"]},"type":"Foreach"}}}},"default":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":"@triggerOutputs()?['body/leidos_amendmenttype']","type":"Switch"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}