HIE_CDS/Workflows/ProgrammeAmendment-OncreateUpdateProgrammeStatus-36D4DC34-5EBF-EA11-A812-000D3A7FEDBE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnProgrammeAmendment"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"On_Programme_Amendment_on_Create":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"leidos_programme_amendment","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Switch":{"runAfter":{},"cases":{"Cost_Type":{"case":445260000,"actions":{"Update_Programme_record_CT":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_programmes","recordId":"@triggerOutputs()?['body/_leidos_programme_value']","item/statecode":1,"item/statuscode":445260007},"authentication":"@parameters('$authentication')"}},"List_Programme's_Costs_CT":{"runAfter":{"Update_Programme_record_CT":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectcosts","$select":"leidos_projectcostid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_projectcost\">\n    <attribute name=\"leidos_projectcostid\" />\n    <attribute name=\"leidos_costitem\" />\n    <order attribute=\"leidos_costitem\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentprogramme\" operator=\"eq\" value=\"@{triggerOutputs()?['body/_leidos_programme_value']}\"/>\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Loop_through_programme's_cost_and_update_status_to_In_Amendment_-_Finance_CT":{"foreach":"@outputs('List_Programme''s_Costs_CT')?['body/value']","actions":{"Update_Programme's_costs_CT":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectcosts","recordId":"@items('Loop_through_programme''s_cost_and_update_status_to_In_Amendment_-_Finance_CT')?['leidos_projectcostid']","item/statecode":0,"item/statuscode":445260002},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Programme's_Costs_CT":["Succeeded"]},"type":"Foreach"},"List_Programme's_Spend_Profiles_CT":{"runAfter":{"Loop_through_programme's_cost_and_update_status_to_In_Amendment_-_Finance_CT":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_anticipatedspendprofiles","$select":"leidos_anticipatedspendprofileid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_anticipatedspendprofile\">\n    <attribute name=\"leidos_parentproject\" />\n    <attribute name=\"leidos_spendprofilereference\" />\n    <attribute name=\"leidos_anticipatedspendprofileid\" />\n    <order attribute=\"leidos_parentproject\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentprogramme\" operator=\"eq\" value=\"@{triggerOutputs()?['body/_leidos_programme_value']}\"/>\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Loop_programme's_spend_profiles_and_update_status_to_In_Amendment_-_Finance_CT":{"foreach":"@outputs('List_Programme''s_Spend_Profiles_CT')?['body/value']","actions":{"Update_Programme's_spend_profile_records_CT":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_anticipatedspendprofiles","recordId":"@items('Loop_programme''s_spend_profiles_and_update_status_to_In_Amendment_-_Finance_CT')?['leidos_anticipatedspendprofileid']","item/statecode":0,"item/statuscode":445260002},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Programme's_Spend_Profiles_CT":["Succeeded"]},"type":"Foreach"}}},"Programme":{"case":445260001,"actions":{"Update_Programme_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_programmes","recordId":"@triggerOutputs()?['body/_leidos_programme_value']","item/statecode":0,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}}}},"Top-slice":{"case":445260002,"actions":{"Update_Programme_Record_TS":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_programmes","recordId":"@triggerOutputs()?['body/_leidos_programme_value']","item/statecode":0,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":"@triggerOutputs()?['body/leidos_amendmenttype']","type":"Switch"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}