HIE_CDS/Workflows/ProgrammeAmendment-Flow-SubmitProgrammeApprovaltoD-7CFA367D-69D2-EA11-A813-000D3A7FEDBE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Submit_Programme_Amendment_for_approval":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_programme_amendment","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_submitprogrammeamendmentforapproval","subscriptionRequest/filterexpression":"leidos_submitprogrammeamendmentforapproval eq true"},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_DA_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Delegated Authority","type":"string","value":"''"}]}},"Update_Programme_record_status_Inactive_-_Awaiting_Amendment_Approval":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_programmes","recordId":"@triggerOutputs()?['body/_leidos_programme_value']","item/statecode":1,"item/statuscode":445260003},"authentication":"@parameters('$authentication')"}},"Switch_Programme_Amendment_Path":{"runAfter":{"Initialize_DA_variable":["Succeeded"]},"cases":{"Grade_E_Staff":{"case":445260000,"actions":{"Get_Grade_E_Staff":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_gradeestaff_value']"},"authentication":"@parameters('$authentication')"}},"Set_DA_variable_to_Grade_E_Staff":{"runAfter":{"Get_Grade_E_Staff":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Delegated Authority","value":"@outputs('Get_Grade_E_Staff')?['body/_leidos_userrecord_value']"}}}},"Grade_F_Staff":{"case":445260006,"actions":{"Get_Grade_F_staff":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_gradefstaff_value']"},"authentication":"@parameters('$authentication')"}},"Set_DA_variable_to_Grade_F_Staff":{"runAfter":{"Get_Grade_F_staff":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Delegated Authority","value":"@outputs('Get_Grade_F_staff')?['body/_leidos_userrecord_value']"}}}},"Executive_Grade_Staff":{"case":445260001,"actions":{"Get_Executive_Grade_Staff":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_executivegradestaff_value']"},"authentication":"@parameters('$authentication')"}},"Set_DA_variable_to_Executive_Grade_Staff":{"runAfter":{"Get_Executive_Grade_Staff":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Delegated Authority","value":"@outputs('Get_Executive_Grade_Staff')?['body/_leidos_userrecord_value']"}}}},"Leadership_Team":{"case":445260003,"actions":{"Get_Leadership_Team":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_leadershipteam_value']"},"authentication":"@parameters('$authentication')"}},"Set_DA_variable_to_Leadership_Team":{"runAfter":{"Get_Leadership_Team":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Delegated Authority","value":"@outputs('Get_Leadership_Team')?['body/_leidos_userrecord_value']"}}}},"HIE_Chief_Executive":{"case":445260004,"actions":{"Get_Chief_Executive":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_hiechiefexecutive_value']"},"authentication":"@parameters('$authentication')"}},"Set_DA_variable_to_Chief_Executive":{"runAfter":{"Get_Chief_Executive":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Delegated Authority","value":"@outputs('Get_Chief_Executive')?['body/_leidos_userrecord_value']"}}}},"HIE_Board":{"case":445260005,"actions":{"Get_HIE_Board":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_hieboard_value']"},"authentication":"@parameters('$authentication')"}},"Set_DA_variable_to_HIE_Board":{"runAfter":{"Get_HIE_Board":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Delegated Authority","value":"@outputs('Get_HIE_Board')?['body/_leidos_userrecord_value']"}}}}},"default":{"actions":{}},"expression":"@triggerOutputs()?['body/leidos_programmeamendmentpath']","type":"Switch"},"Update_Programme_Amendment_with_Submit_details":{"runAfter":{"Update_Programme_record_status_Inactive_-_Awaiting_Amendment_Approval":["Succeeded"],"Switch_Programme_Amendment_Path":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_programme_amendments","recordId":"@triggerOutputs()?['body/leidos_programme_amendmentid']","item/leidos_amendmentapprovalrequestedon":"@utcNow()","item/statecode":1,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}