HIE_CDS/Workflows/ProgrammeAmendment-Flow-SubmitProgrammeApprovaltoD-7CFA367D-69D2-EA11-A813-000D3A7FEDBE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_approvals":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_approvals"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Submit_Programme_Amendment_for_approval":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_programme_amendment","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_submitprogrammeamendmentforapproval","subscriptionRequest/filterexpression":"leidos_submitprogrammeamendmentforapproval eq true"},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_DA_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Delegated Authority","type":"string","value":"''"}]}},"Update_Programme_record_status_Inactive_-_Awaiting_Amendment_Approval":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_programmes","recordId":"@triggerOutputs()?['body/_leidos_programme_value']","item/statecode":1,"item/statuscode":445260003},"authentication":"@parameters('$authentication')"}},"Switch_Programme_Amendment_Path":{"runAfter":{"Initialize_DA_variable":["Succeeded"]},"cases":{"Grade_E_Staff":{"case":445260000,"actions":{"Get_Grade_E_Staff":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_gradeestaff_value']"},"authentication":"@parameters('$authentication')"}},"Set_DA_variable_to_Grade_E_Staff":{"runAfter":{"Get_Grade_E_Staff":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Delegated Authority","value":"@outputs('Get_Grade_E_Staff')?['body/_leidos_userrecord_value']"}}}},"Grade_F_Staff":{"case":445260006,"actions":{"Get_Grade_F_staff":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_gradefstaff_value']"},"authentication":"@parameters('$authentication')"}},"Set_DA_variable_to_Grade_F_Staff":{"runAfter":{"Get_Grade_F_staff":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Delegated Authority","value":"@outputs('Get_Grade_F_staff')?['body/_leidos_userrecord_value']"}}}},"Executive_Grade_Staff":{"case":445260001,"actions":{"Get_Executive_Grade_Staff":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_executivegradestaff_value']"},"authentication":"@parameters('$authentication')"}},"Set_DA_variable_to_Executive_Grade_Staff":{"runAfter":{"Get_Executive_Grade_Staff":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Delegated Authority","value":"@outputs('Get_Executive_Grade_Staff')?['body/_leidos_userrecord_value']"}}}},"Leadership_Team":{"case":445260003,"actions":{"Get_Leadership_Team":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_leadershipteam_value']"},"authentication":"@parameters('$authentication')"}},"Set_DA_variable_to_Leadership_Team":{"runAfter":{"Get_Leadership_Team":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Delegated Authority","value":"@outputs('Get_Leadership_Team')?['body/_leidos_userrecord_value']"}}}},"HIE_Chief_Executive":{"case":445260004,"actions":{"Get_Chief_Executive":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_hiechiefexecutive_value']"},"authentication":"@parameters('$authentication')"}},"Set_DA_variable_to_Chief_Executive":{"runAfter":{"Get_Chief_Executive":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Delegated Authority","value":"@outputs('Get_Chief_Executive')?['body/_leidos_userrecord_value']"}}}},"HIE_Board":{"case":445260005,"actions":{"Get_HIE_Board":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_hieboard_value']"},"authentication":"@parameters('$authentication')"}},"Set_DA_variable_to_HIE_Board":{"runAfter":{"Get_HIE_Board":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Delegated Authority","value":"@outputs('Get_HIE_Board')?['body/_leidos_userrecord_value']"}}}}},"default":{"actions":{}},"expression":"@triggerOutputs()?['body/leidos_programmeamendmentpath']","type":"Switch"},"Update_Programme_Amendment_with_Submit_details":{"runAfter":{"Switch_Programme_Amendment_Path":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_programme_amendments","recordId":"@triggerOutputs()?['body/leidos_programme_amendmentid']","item/leidos_amendmentapprovalrequestedon":"@utcNow()","item/leidos_ProgrammeAmendmentDelegatedAuthority@odata.bind":"/systemusers(@{variables('Delegated Authority')})","item/statecode":1,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}},"Get_Delegated_Authority":{"runAfter":{"Update_Programme_Amendment_with_Submit_details":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@variables('Delegated Authority')"},"authentication":"@parameters('$authentication')"}},"Get_Submitted_By_Record":{"runAfter":{"Get_Delegated_Authority":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Update_Programme_Amendment_with_Submit_details')?['body/_leidos_submittedby_value']"},"authentication":"@parameters('$authentication')"}},"Run_a_Child_Flow_-_Get_PA_URL":{"runAfter":{"Get_Submitted_By_Record":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/leidos_programme_amendmentid']","EntityType_Value":"leidos_programmeamendment"}}},"Start_and_wait_for_an_approval":{"runAfter":{"Run_a_Child_Flow_-_Get_PA_URL":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Approve Programme Amendment","Reject Programme Amendment","Defer Programme Amendment"],"WebhookApprovalCreationInput/title":"Request for Programme Amendment Decision @{triggerOutputs()?['body/leidos_name']}","WebhookApprovalCreationInput/assignedTo":"@outputs('Get_Delegated_Authority')?['body/internalemailaddress']","WebhookApprovalCreationInput/details":"### The following has been submitted for Programme Amendment Approval ###\n\nProgramme Manager recommendation - @{if(triggerOutputs()?['body/leidos_recommendation'], 'Re-Approve', 'Decline')}\nProject Amendment record in myHIE: [@{triggerOutputs()?['body/leidos_name']}](@{outputs('Run_a_Child_Flow_-_Get_PA_URL')?['Body']?['entityurl']})","WebhookApprovalCreationInput/itemLink":"@triggerOutputs()?['body/leidos_amendmentdocumentlink']","WebhookApprovalCreationInput/itemLinkDescription":"Programme Amendment Document","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Switch":{"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"cases":{"Approve_Programme_Amendment":{"case":"Approve Programme Amendment","actions":{"Apply_to_each":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Update_Programme_Amendment_record_to_Inactive_-_Approved":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_programme_amendments","recordId":"@triggerOutputs()?['body/leidos_programme_amendmentid']","item/leidos_AmendmentApprovedBy@odata.bind":"/systemusers(@{variables('Delegated Authority')})","item/leidos_amendmentapprovedon":"@utcNow()","item/leidos_amendmentdecisioncomments":"@items('Apply_to_each')?['comments']","item/leidos_amendmentdecisionoutcome":445260000,"item/statecode":1,"item/statuscode":445260001},"authentication":"@parameters('$authentication')"}},"Update_Programme_record_to_Active_-_Approved":{"runAfter":{"Update_Programme_Amendment_record_to_Inactive_-_Approved":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_programmes","recordId":"@triggerOutputs()?['body/_leidos_programme_value']","item/statecode":0,"item/statuscode":445260004},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}}},"Reject_Programme_Amendment":{"case":"Reject Programme Amendment","actions":{"Apply_to_each_2":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Update_Programme_Amendment_record_to_Decline":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_programme_amendments","recordId":"@triggerOutputs()?['body/leidos_programme_amendmentid']","item/leidos_amendmentdecisioncomments":"@items('Apply_to_each_2')?['comments']","item/leidos_amendmentdecisionoutcome":445260001,"item/leidos_amendmentscomplete":false,"item/statecode":0,"item/statuscode":445260002,"item/leidos_submitprogrammeamendmentforapproval":false},"authentication":"@parameters('$authentication')"}},"Update_Programme_record_to_Active_-_In-amendment_(decline)":{"runAfter":{"Update_Programme_Amendment_record_to_Decline":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_programmes","recordId":"@triggerOutputs()?['body/_leidos_programme_value']","item/statecode":0,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}}},"Defer__Programme_Amendment":{"case":"Defer Programme Amendment","actions":{"Apply_to_each_3":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Update_Programme_Amendment_record_to_Defer":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_programme_amendments","recordId":"@triggerOutputs()?['body/leidos_programme_amendmentid']","item/leidos_amendmentdecisioncomments":"@items('Apply_to_each_3')?['comments']","item/leidos_amendmentdecisionoutcome":445260002,"item/leidos_amendmentscomplete":false,"item/statecode":0,"item/statuscode":445260002,"item/leidos_submitprogrammeamendmentforapproval":false},"authentication":"@parameters('$authentication')"}},"Update_Programme_record_to_Active_-_in-amendment_(defer)":{"runAfter":{"Update_Programme_Amendment_record_to_Defer":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_programmes","recordId":"@triggerOutputs()?['body/_leidos_programme_value']","item/statecode":0,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}}}},"default":{"actions":{}},"expression":"@outputs('Start_and_wait_for_an_approval')?['body/outcome']","type":"Switch"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}