HIE_CDS/Workflows/Programme-Flow-MovetoCleartoPay-7851CF4E-C4CD-EB11-BACC-000D3AD59831.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnProgramme"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Move_to_Clear_to_Pay":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_programme","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_movetocleartopay","subscriptionRequest/filterexpression":"(leidos_movetocleartopay eq true)"},"authentication":"@parameters('$authentication')"}}},"actions":{"Is_Programme_Approved":{"actions":{"Set_Status_Reason_to_CTP":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_programmes","recordId":"@triggerOutputs()?['body/leidos_programmeid']","item/statecode":0,"item/statuscode":445260009},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Condition":{"actions":{},"runAfter":{},"else":{"actions":{"Reset_Flag":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_programmes","recordId":"@triggerOutputs()?['body/leidos_programmeid']","item/leidos_movetocleartopay":false},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@triggerOutputs()?['body/statuscode']",445260009]},"type":"If"}}},"expression":{"equals":["@triggerOutputs()?['body/statuscode']",445260004]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}