HIE_CDS/Workflows/Programme-Flow-MovetoProgrammeClosed-B330CC58-E3CD-EB11-BACC-000D3AD59935.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnProgramme"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Move_to_Programme_Closed":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_programme","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_movetoprogrammeclosed","subscriptionRequest/filterexpression":"(leidos_movetoprogrammeclosed eq true)","subscriptionRequest/runas":3},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{"Set_SR_to_Programme_Closed":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_programmes","recordId":"@triggerOutputs()?['body/leidos_programmeid']","item/statecode":0,"item/statuscode":445260010},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Reset":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_programmes","recordId":"@triggerOutputs()?['body/leidos_programmeid']","item/leidos_movetoprogrammeclosed":false},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@triggerOutputs()?['body/statuscode']",445260009]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}