HIE_CDS/Workflows/Project-Flow-NFIProjectCompleteUpdateProject-24C783DF-3019-EB11-A813-000D3A7FEDBE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnProject"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Project_NFI_Project_Complete":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_project","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_nfiprojectcomplete","subscriptionRequest/filterexpression":"leidos_nfiprojectcomplete eq true"},"authentication":"@parameters('$authentication')"}}},"actions":{"Update_Project":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/leidos_projectid']","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}},"List_NFI_State_Aid":{"runAfter":{"Update_Project":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_nfistateaids","$select":"leidos_nfistateaidid","$filter":"_leidos_parentproject_value eq @{outputs('Update_Project')?['body/leidos_projectid']}"},"authentication":"@parameters('$authentication')"}},"Update_all_State_Aid":{"foreach":"@outputs('List_NFI_State_Aid')?['body/value']","actions":{"Update_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_nfistateaids","recordId":"@items('Update_all_State_Aid')?['leidos_nfistateaidid']","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_NFI_State_Aid":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}