HIE_CDS/Workflows/ProjectAmendment-Flow-SubmitProjectApprovaltoDeleg-8CCADA80-EEC5-EA11-A812-000D3A7FEDBE.json
{"properties":{"connectionReferences":{"shared_approvals":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ApprovalConnectionReference"},"api":{"name":"shared_approvals"}},"shared_commondataserviceforapps_2":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnProjectAmendment"},"api":{"name":"shared_commondataserviceforapps"}},"shared_approvals_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ApprovalConnectionReference"},"api":{"name":"shared_approvals"}},"shared_commondataserviceforapps_3":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnSpendProfile"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnOutlook2"},"api":{"name":"shared_office365"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnProject"},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataserviceforapps_4":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnTask"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Submit_Project_Amendment_for_Approval":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_projectamendment","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_submitprojectamendmentforapproval","subscriptionRequest/filterexpression":"leidos_submitprojectamendmentforapproval eq true"},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_DA_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Delegated Authority","type":"string","value":"@triggerOutputs()?['body/_leidos_projectamendmentdelegatedauthority_value']"}]}},"Amendment_Type_Switch":{"runAfter":{"Get_Data_for_Process":["Succeeded"]},"cases":{"Budget_sub-type":{"case":445260002,"actions":{"Start_and_wait_for_an_approval_-_Top_Slice":{"runAfter":{},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Approve Budget sub-type Amendment","Reject Budget sub-type Amendment"],"WebhookApprovalCreationInput/title":"Request for budget sub-type project amendment decision @{triggerOutputs()?['body/leidos_name']}","WebhookApprovalCreationInput/assignedTo":"@outputs('Get_Delegated_Authority_Record')?['body/internalemailaddress']","WebhookApprovalCreationInput/details":"### The following has been submitted for budget sub-type Project Amendment Approval ###\n\nAccount Manager recommendation - @{if(triggerOutputs()?['body/leidos_recommendation'],'Re-Approve','Decline')}\nProject's budget sub-type: @{outputs('Get_Project_record_values')?['body/leidos_budgetsubtype@OData.Community.Display.V1.FormattedValue']}\nBudget sub-type to be changed to: @{triggerOutputs()?['body/_leidos_budgetsubtype_label']}\nProject Amendment record in myHIE: [@{triggerOutputs()?['body/leidos_name']}](@{outputs('Run_a_Child_Flow_-_Get_PA_URL')?['Body']?['entityurl']})\n\n####  If the Date of decision was prior to today, please include the Date of Decision within the Notes field below ####","WebhookApprovalCreationInput/itemLink":"@triggerOutputs()?['body/leidos_amendmentdocumentlink']","WebhookApprovalCreationInput/itemLinkDescription":"Project Amendment Document","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"TS_Outcome_Switch":{"runAfter":{"Start_and_wait_for_an_approval_-_Top_Slice":["Succeeded"]},"cases":{"Approve_Project_Amendment_TS":{"case":"Approve Budget sub-type Amendment","actions":{"Apply_to_each_Approve_TS":{"foreach":"@outputs('Start_and_wait_for_an_approval_-_Top_Slice')?['body/responses']","actions":{"Update_Project_Amendment_record_to_Approved_TS":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectamendments","recordId":"@triggerOutputs()?['body/leidos_projectamendmentid']","item/leidos_projectamendmentapprovedon":"@utcNow()","item/leidos_ProjectAmendmentApprovedBy@odata.bind":"/systemusers(@{variables('Delegated Authority')})","item/leidos_projectamendmentdecisioncomments":"@items('Apply_to_each_Approve_TS')?['comments']","item/leidos_projectamendmentdecisionoutcome":445260000,"item/statecode":1,"item/statuscode":445260002},"authentication":"@parameters('$authentication')"}},"Update_Project_record_to_Approved_TS":{"runAfter":{"Update_Project_Amendment_record_to_Approved_TS":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']","item/leidos_budgetsubtype":"@triggerOutputs()?['body/leidos_budgetsubtype']","item/statecode":0,"item/statuscode":445260001},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}}},"Reject_Project_Amendment_TS":{"case":"Reject Budget sub-type Amendment","actions":{"Apply_to_each_Reject_TS":{"foreach":"@outputs('Start_and_wait_for_an_approval_-_Top_Slice')?['body/responses']","actions":{"Update_Project_Amendment_record_to_Reject_TS":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectamendments","recordId":"@triggerOutputs()?['body/leidos_projectamendmentid']","item/leidos_projectamendmentapprovedon":"@utcNow()","item/leidos_ProjectAmendmentApprovedBy@odata.bind":"/systemusers(@{variables('Delegated Authority')})","item/leidos_projectamendmentdecisioncomments":"@items('Apply_to_each_Reject_TS')?['comments']","item/leidos_projectamendmentdecisionoutcome":445260001,"item/statecode":1,"item/statuscode":445260003},"authentication":"@parameters('$authentication')"}},"Update_Project_to_Project_Approved":{"runAfter":{"Update_Project_Amendment_record_to_Reject_TS":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']","item/statecode":1,"item/statuscode":445260009},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}}}},"default":{"actions":{}},"expression":"@outputs('Start_and_wait_for_an_approval_-_Top_Slice')?['body/outcome']","type":"Switch"},"Top_Slice_Task":{"foreach":"@outputs('Start_and_wait_for_an_approval_-_Top_Slice')?['body/responses']","actions":{"Create_task_in_Project_Top_Slice":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"tasks","item/subject":"Project Amendment @{triggerOutputs()?['body/leidos_projectamendmentreference']} Outcome : @{outputs('Start_and_wait_for_an_approval_-_Top_Slice')?['body/outcome']}","item/description":"Top Slice Project Amendment \n\nDelegated Authority:  @{items('Top_Slice_Task')?['responder/displayName']}\nOutcome:  @{outputs('Start_and_wait_for_an_approval_-_Top_Slice')?['body/outcome']}\nComments: @{items('Top_Slice_Task')?['comments']}\nRecord Link:   @{outputs('Run_a_Child_Flow_-_Get_PA_URL')?['Body']?['entityurl']}\n\nPlease update the Date of Decision for Approved Amendments","item/regardingobjectid_leidos_project_task@odata.bind":"/leidos_projects(@{outputs('Get_Project_record_values')?['body/leidos_projectid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"TS_Outcome_Switch":["Succeeded"]},"type":"Foreach"}}},"Project":{"case":445260001,"actions":{"Start_and_wait_for_an_approval_-_Project":{"runAfter":{},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals_1","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Approve Project Amendment","Reject Project Amendment","Defer Project Amendment"],"WebhookApprovalCreationInput/title":"Request for project Amendment Decision @{triggerOutputs()?['body/leidos_name']}","WebhookApprovalCreationInput/assignedTo":"@outputs('Get_Delegated_Authority_Record')?['body/internalemailaddress']","WebhookApprovalCreationInput/details":"### The following has been submitted for Project Amendment Approval ###\n\nAccount Manager recommendation - @{if(triggerOutputs()?['body/leidos_recommendation'],'Re-Approve','Decline')}\n\nProject Amendment record in myHIE: [@{triggerOutputs()?['body/leidos_name']}](@{outputs('Run_a_Child_Flow_-_Get_PA_URL')?['Body']?['entityurl']})\n\n####  If the Date of decision was prior to today, please include the Date of Decision within the Notes field below ####","WebhookApprovalCreationInput/itemLink":"@triggerOutputs()?['body/leidos_amendmentdocumentlink']","WebhookApprovalCreationInput/itemLinkDescription":"Project Amendment Document","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Project_Outcome_Switch":{"runAfter":{"Start_and_wait_for_an_approval_-_Project":["Succeeded"]},"cases":{"Approve_Project_Amendment":{"case":"Approve Project Amendment","actions":{"Apply_to_each_Approve_Project":{"foreach":"@outputs('Start_and_wait_for_an_approval_-_Project')?['body/responses']","actions":{"Update_Project_Amendment_record_Approved":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectamendments","recordId":"@triggerOutputs()?['body/leidos_projectamendmentid']","item/leidos_projectamendmentapprovedon":"@utcNow()","item/leidos_ProjectAmendmentApprovedBy@odata.bind":"/systemusers(@{variables('Delegated Authority')})","item/leidos_projectamendmentdecisioncomments":"@items('Apply_to_each_Approve_Project')?['comments']","item/leidos_projectamendmentdecisionoutcome":445260000,"item/statecode":1,"item/statuscode":445260002},"authentication":"@parameters('$authentication')"}},"Update_Project_record_approved":{"runAfter":{"Update_Project_Amendment_record_Approved":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']","item/statecode":0,"item/statuscode":445260001},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}}},"Reject_Project_Amendment":{"case":"Reject Project Amendment","actions":{"Apply_to_each_Reject_Project":{"foreach":"@outputs('Start_and_wait_for_an_approval_-_Project')?['body/responses']","actions":{"Update_Project_Amendment_record_Reject":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectamendments","recordId":"@triggerOutputs()?['body/leidos_projectamendmentid']","item/leidos_amendmentscomplete":false,"item/leidos_projectamendmentapprovedon":"@utcNow()","item/leidos_ProjectAmendmentApprovedBy@odata.bind":"/systemusers(@{variables('Delegated Authority')})","item/leidos_projectamendmentdecisioncomments":"response @{items('Apply_to_each_Reject_Project')?['comments']}","item/leidos_projectamendmentdecisionoutcome":445260001,"item/leidos_recommendation":false,"item/statecode":0,"item/statuscode":445260000,"item/leidos_submitprojectamendmentforapproval":false,"item/leidos_validateproject":false},"authentication":"@parameters('$authentication')"}},"Update_project_record_to_in_amendment_Reject":{"runAfter":{"Update_Project_Amendment_record_Reject":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']","item/statecode":0,"item/statuscode":445260007},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}}},"Defer_Project_Amendment":{"case":"Defer Project Amendment","actions":{"Apply_to_each_Defer_Project":{"foreach":"@outputs('Start_and_wait_for_an_approval_-_Project')?['body/responses']","actions":{"Update_Project_Amendment_record_Defer":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectamendments","recordId":"@triggerOutputs()?['body/leidos_projectamendmentid']","item/leidos_amendmentscomplete":false,"item/leidos_projectamendmentapprovedon":"@utcNow()","item/leidos_ProjectAmendmentApprovedBy@odata.bind":"/systemusers(@{variables('Delegated Authority')})","item/leidos_projectamendmentdecisioncomments":"@items('Apply_to_each_Defer_Project')?['comments']","item/leidos_projectamendmentdecisionoutcome":445260002,"item/leidos_recommendation":false,"item/statecode":0,"item/statuscode":445260000,"item/leidos_submitprojectamendmentforapproval":false,"item/leidos_validateproject":false},"authentication":"@parameters('$authentication')"}},"Update_project_record_to_in_amendment_Defer":{"runAfter":{"Update_Project_Amendment_record_Defer":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']","item/statecode":0,"item/statuscode":445260007},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}}}},"default":{"actions":{}},"expression":"@outputs('Start_and_wait_for_an_approval_-_Project')?['body/outcome']","type":"Switch"},"Project_Task":{"foreach":"@outputs('Start_and_wait_for_an_approval_-_Project')?['body/responses']","actions":{"Create_Project_Task_in_Project_Timeline":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"tasks","item/subject":"Project Amendment @{triggerOutputs()?['body/leidos_projectamendmentreference']} : Outcome: @{outputs('Start_and_wait_for_an_approval_-_Project')?['body/outcome']}","item/description":"Project Amendment\n\nDelegated Authority:  @{items('Project_Task')?['responder/displayName']}\nOutcome: @{outputs('Start_and_wait_for_an_approval_-_Project')?['body/outcome']}\nComments:  @{items('Project_Task')?['comments']}\nRecord Link:  @{outputs('Run_a_Child_Flow_-_Get_PA_URL')?['Body']?['entityurl']}\n\nPlease update the Date of Decision for Approved Amendments","item/regardingobjectid_leidos_project_task@odata.bind":"/leidos_projects(@{outputs('Get_Project_record_values')?['body/leidos_projectid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Project_Outcome_Switch":["Succeeded"]},"type":"Foreach"}}},"Cost_Type":{"case":445260000,"actions":{"Start_and_wait_for_an_approval_-_Cost_Type":{"runAfter":{},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals_1","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Approve Cost Type Amendment","Reject Cost Type Amendment","Defer Cost Type Amendment"],"WebhookApprovalCreationInput/title":"Request for cost type project amendment decision @{triggerOutputs()?['body/leidos_name']}","WebhookApprovalCreationInput/assignedTo":"@outputs('Get_Delegated_Authority_Record')?['body/internalemailaddress']","WebhookApprovalCreationInput/details":"### The following has been submitted for cost type Project Amendment Approval ###\n\nAccount Manager recommendation - @{if(triggerOutputs()?['body/leidos_recommendation'],'Re-Approve','Decline')}\n\nProject Amendment record in myHIE: [@{triggerOutputs()?['body/leidos_name']}](@{outputs('Run_a_Child_Flow_-_Get_PA_URL')?['Body']?['entityurl']})\n\n####  If the Date of decision was prior to today, please include the Date of Decision within the Notes field below ####","WebhookApprovalCreationInput/itemLink":"@triggerOutputs()?['body/leidos_amendmentdocumentlink']","WebhookApprovalCreationInput/itemLinkDescription":"Project Amendment Document","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Cost_Type_Switch":{"runAfter":{"Start_and_wait_for_an_approval_-_Cost_Type":["Succeeded"]},"cases":{"Reject_Cost_Type_Amendment":{"case":"Reject Cost Type Amendment","actions":{"Apply_to_each_Reject_CT":{"foreach":"@outputs('Start_and_wait_for_an_approval_-_Cost_Type')?['body/responses']","actions":{"Update_project_amendment_record_Reject_-_CT":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectamendments","recordId":"@triggerOutputs()?['body/leidos_projectamendmentid']","item/leidos_amendmentscomplete":false,"item/leidos_projectamendmentapprovedon":"@utcNow()","item/leidos_ProjectAmendmentApprovedBy@odata.bind":"/systemusers(@{variables('Delegated Authority')})","item/leidos_projectamendmentdecisioncomments":"@items('Apply_to_each_Reject_CT')?['comments']","item/leidos_projectamendmentdecisionoutcome":445260001,"item/leidos_recommendation":false,"item/statecode":0,"item/statuscode":445260000,"item/leidos_submitprojectamendmentforapproval":false,"item/leidos_validateproject":false},"authentication":"@parameters('$authentication')"}},"Update_project_-_In_Amendment_Finance_-_Reject_CT":{"runAfter":{"Update_project_amendment_record_Reject_-_CT":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']","item/statuscode":445260011},"authentication":"@parameters('$authentication')"}},"Loop_thru_Cost_-_Reject_CT":{"foreach":"@outputs('List_Costs_-_Rejected')?['body/value']","actions":{"Update_Costs_-_Reject_CT":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectcosts","recordId":"@items('Loop_thru_Cost_-_Reject_CT')?['leidos_projectcostid']","item/statecode":0,"item/statuscode":445260002},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Costs_-_Rejected":["Succeeded"]},"type":"Foreach"},"List_Costs_-_Rejected":{"runAfter":{"Update_project_-_In_Amendment_Finance_-_Reject_CT":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectcosts","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_projectcost\">\n    <attribute name=\"leidos_projectcostid\" />\n    <attribute name=\"leidos_costitem\" />\n    <order attribute=\"leidos_costitem\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentproject\" operator=\"eq\" value=\"@{triggerOutputs()?['body/_leidos_project_value']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"List_Spend_Profile_-_Reject_CT":{"runAfter":{"Loop_thru_Cost_-_Reject_CT":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_anticipatedspendprofiles","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_anticipatedspendprofile\">\n    <attribute name=\"leidos_anticipatedspendprofileid\" />\n    <attribute name=\"leidos_name\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentproject\" operator=\"eq\" value=\"@{triggerOutputs()?['body/_leidos_project_value']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Loop_thru_Spend_Profile_-_Reject_CT":{"foreach":"@outputs('List_Spend_Profile_-_Reject_CT')?['body/value']","actions":{"Update_Spend_Profile_-_Reject_CT":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_anticipatedspendprofiles","recordId":"@items('Loop_thru_Spend_Profile_-_Reject_CT')?['leidos_anticipatedspendprofileid']","item/statecode":0,"item/statuscode":445260002},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Spend_Profile_-_Reject_CT":["Succeeded"]},"type":"Foreach"}},"runAfter":{},"type":"Foreach"}}},"Defer__Cost_Type_Amendment":{"case":"Defer Cost Type Amendment","actions":{"Apply_to_each_Defer_CT":{"foreach":"@outputs('Start_and_wait_for_an_approval_-_Cost_Type')?['body/responses']","actions":{"Update_project_amendment_record_Defer_-_CT":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectamendments","recordId":"@triggerOutputs()?['body/leidos_projectamendmentid']","item/leidos_amendmentscomplete":false,"item/leidos_projectamendmentapprovedon":"@utcNow()","item/leidos_ProjectAmendmentApprovedBy@odata.bind":"/systemusers(@{variables('Delegated Authority')})","item/leidos_projectamendmentdecisioncomments":"@items('Apply_to_each_Defer_CT')?['comments']","item/leidos_projectamendmentdecisionoutcome":445260002,"item/leidos_recommendation":false,"item/statecode":0,"item/statuscode":445260000,"item/leidos_submitprojectamendmentforapproval":false,"item/leidos_validateproject":false},"authentication":"@parameters('$authentication')"}},"Update_project_-_In_active-In_Amendment_Finance_-_Defer_CT":{"runAfter":{"Update_project_amendment_record_Defer_-_CT":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']","item/statuscode":445260011},"authentication":"@parameters('$authentication')"}},"List_Costs_-_Defer_CT":{"runAfter":{"Update_project_-_In_active-In_Amendment_Finance_-_Defer_CT":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectcosts","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_projectcost\">\n    <attribute name=\"leidos_projectcostid\" />\n    <attribute name=\"leidos_costitem\" />\n    <order attribute=\"leidos_costitem\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentproject\" operator=\"eq\" value=\"@{triggerOutputs()?['body/_leidos_project_value']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"List_Spend_Profile_-_Defer_CT":{"runAfter":{"Loop_thru_Costs_-_Defer_CT":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_anticipatedspendprofiles","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_anticipatedspendprofile\">\n    <attribute name=\"leidos_anticipatedspendprofileid\" />\n    <attribute name=\"leidos_name\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentproject\" operator=\"eq\" value=\"@{triggerOutputs()?['body/_leidos_project_value']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Loop_thru_Costs_-_Defer_CT":{"foreach":"@outputs('List_Costs_-_Defer_CT')?['body/value']","actions":{"Update_Costs_-_Defer_CT":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectcosts","recordId":"@items('Loop_thru_Costs_-_Defer_CT')?['leidos_projectcostid']","item/statecode":0,"item/statuscode":445260002},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Costs_-_Defer_CT":["Succeeded"]},"type":"Foreach"},"Loop_thru_Spend_Profile_-_Defer_CT":{"foreach":"@outputs('List_Spend_Profile_-_Defer_CT')?['body/value']","actions":{"Update_Spend_Profile_-_Defer_CT":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_anticipatedspendprofiles","recordId":"@items('Loop_thru_Spend_Profile_-_Defer_CT')?['leidos_anticipatedspendprofileid']","item/statecode":0,"item/statuscode":445260002},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Spend_Profile_-_Defer_CT":["Succeeded"]},"type":"Foreach"}},"runAfter":{},"type":"Foreach"}}},"Approve_Cost_Type_Amendment":{"case":"Approve Cost Type Amendment","actions":{"Apply_to_each_Approve_CT":{"foreach":"@outputs('Start_and_wait_for_an_approval_-_Cost_Type')?['body/responses']","actions":{"Update_project_amendment_record_Approved_-_CT":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectamendments","recordId":"@triggerOutputs()?['body/leidos_projectamendmentid']","item/leidos_projectamendmentapprovedon":"@utcNow()","item/leidos_ProjectAmendmentApprovedBy@odata.bind":"/systemusers(@{variables('Delegated Authority')})","item/leidos_projectamendmentdecisioncomments":"@items('Apply_to_each_Approve_CT')?['comments']","item/leidos_projectamendmentdecisionoutcome":445260000,"item/statecode":1,"item/statuscode":445260002},"authentication":"@parameters('$authentication')"}},"Update_Project_record_Approved_-_CT":{"runAfter":{"Update_project_amendment_record_Approved_-_CT":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']","item/statecode":0,"item/statuscode":445260001},"authentication":"@parameters('$authentication')"},"description":"By making the Project inactive the child Cost and Spend Profile records are updated to correct status as per flow 'Project - Flow Change of State to Inactive - Set Child to that State''"},"List_Costs_-_Approve_CT":{"runAfter":{"Update_Project_record_Approved_-_CT":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectcosts","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_projectcost\">\n    <attribute name=\"leidos_projectcostid\" />\n    <attribute name=\"leidos_costitem\" />\n    <order attribute=\"leidos_costitem\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentproject\" operator=\"eq\" value=\"@{triggerOutputs()?['body/_leidos_project_value']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"List_Spend_Profile_-_Approve_CT":{"runAfter":{"Loop_thru_Costs_-_Approve_CT":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_anticipatedspendprofiles","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_anticipatedspendprofile\">\n    <attribute name=\"leidos_anticipatedspendprofileid\" />\n    <attribute name=\"leidos_name\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentproject\" operator=\"eq\" value=\"@{triggerOutputs()?['body/_leidos_project_value']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Loop_thru_Costs_-_Approve_CT":{"foreach":"@outputs('List_Costs_-_Approve_CT')?['body/value']","actions":{"Update_Costs_-_Approve_CT":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectcosts","recordId":"@items('Loop_thru_Costs_-_Approve_CT')?['leidos_projectcostid']","item/statecode":1,"item/statuscode":445260001},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Costs_-_Approve_CT":["Succeeded"]},"type":"Foreach"},"Loop_thru_Spend_Profile_-_Approve_CT":{"foreach":"@outputs('List_Spend_Profile_-_Approve_CT')?['body/value']","actions":{"Update_Spend_Profile_-_Approve_CT":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_anticipatedspendprofiles","recordId":"@items('Loop_thru_Spend_Profile_-_Approve_CT')?['leidos_anticipatedspendprofileid']","item/statecode":0,"item/statuscode":1},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Spend_Profile_-_Approve_CT":["Succeeded"]},"type":"Foreach"}},"runAfter":{},"type":"Foreach"}}}},"default":{"actions":{}},"expression":"@outputs('Start_and_wait_for_an_approval_-_Cost_Type')?['body/outcome']","type":"Switch"},"Cost_Task":{"foreach":"@outputs('Start_and_wait_for_an_approval_-_Cost_Type')?['body/responses']","actions":{"Create_a_Task_for_Cost_in_Project_Timeline":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"tasks","item/subject":"Project Amendment: @{triggerOutputs()?['body/leidos_projectamendmentreference']} Outcome: @{outputs('Start_and_wait_for_an_approval_-_Cost_Type')?['body/outcome']}","item/description":"Project Amendment type Cost\n\nDelegated Authority:  @{items('Cost_Task')?['responder/displayName']}\nOutcome:  @{outputs('Start_and_wait_for_an_approval_-_Cost_Type')?['body/outcome']}\nComments:  @{items('Cost_Task')?['comments']}\nRecord Link:   @{outputs('Run_a_Child_Flow_-_Get_PA_URL')?['Body']?['entityurl']}\n\nPlease update the Date of Decision for Approved Amendments","item/regardingobjectid_leidos_project_task@odata.bind":"/leidos_projects(@{outputs('Get_Project_record_values')?['body/leidos_projectid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Cost_Type_Switch":["Succeeded"]},"type":"Foreach"}}},"Revert_to_Clear_to_pay":{"case":445260003,"actions":{"Start_and_wait_for_an_approval_-_Revert_to_clear_to_pay":{"runAfter":{},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Approve Status change to Clear to pay","Reject Status change to Clear to pay"],"WebhookApprovalCreationInput/title":"Request for cost type project amendment decision @{triggerOutputs()?['body/leidos_name']}","WebhookApprovalCreationInput/assignedTo":"@{outputs('Get_Delegated_Authority_Record')?['body/internalemailaddress']};","WebhookApprovalCreationInput/details":"### The following has been submitted for Project Amendment Approval to revert Project status to Clear to pay ###\n\nAccount Manager recommendation - @{if(triggerOutputs()?['body/leidos_recommendation'],'Re-Approve','Decline')}\n\nProject Amendment record in myHIE: [@{triggerOutputs()?['body/leidos_name']}](@{outputs('Run_a_Child_Flow_-_Get_PA_URL')?['Body']?['entityurl']})\n","WebhookApprovalCreationInput/itemLink":"@triggerOutputs()?['body/leidos_amendmentdocumentlink']","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Revert_to_Clear_to_pay_Switch":{"runAfter":{"Start_and_wait_for_an_approval_-_Revert_to_clear_to_pay":["Succeeded"]},"cases":{"Approve_Clear_to_pay":{"case":"Approve Status change to Clear to pay","actions":{"Approve_revert_to_clear_to_play":{"foreach":"@outputs('Start_and_wait_for_an_approval_-_Revert_to_clear_to_pay')?['body/responses']","actions":{"Loop_thru_Spend_Profile":{"foreach":"@outputs('List_Spend_Profile')?['body/value']","actions":{"List_Spend_Profile_Details":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_3","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_spendprofiledetails","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_spendprofiledetail\">\n    <attribute name=\"leidos_spendprofiledetailid\" />\n    <attribute name=\"leidos_name\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentspendprofile\" operator=\"eq\" value=\"@{items('Loop_thru_Spend_Profile')?['leidos_anticipatedspendprofileid']}\" />\n      <condition attribute=\"statuscode\" operator=\"eq\" value=\"1\" />\n      <condition attribute=\"leidos_nonspendamount\" operator=\"gt\" value=\"0\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Loop_thru_Spend_Profile_Detail":{"foreach":"@outputs('List_Spend_Profile_Details')?['body/value']","actions":{"Update_Spend_Profile_Detail":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_3","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_spendprofiledetails","recordId":"@items('Loop_thru_Spend_Profile_Detail')?['leidos_spendprofiledetailid']","item/leidos_nonspendamount":0},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Spend_Profile_Details":["Succeeded"]},"type":"Foreach"}},"runAfter":{"List_Spend_Profile":["Succeeded"]},"type":"Foreach"},"List_Spend_Profile":{"runAfter":{"Update_Project_status_to_Clear_to_Pay":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_3","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_anticipatedspendprofiles","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_anticipatedspendprofile\">\n    <attribute name=\"leidos_parentproject\" />\n    <attribute name=\"leidos_anticipatedspendprofileid\" />\n    <order attribute=\"leidos_parentproject\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentproject\" operator=\"eq\" value=\"@{triggerOutputs()?['body/_leidos_project_value']}\" />\n      <condition attribute=\"statuscode\" operator=\"in\">\n        <value>1</value>\n        <value>445260000</value>\n      </condition>\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Send_Clear_to_pay_approved_email_(V2)":{"runAfter":{"Loop_thru_Spend_Profile":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@{variables('Project Owner Email')}; @{variables('Submitters Email')}","emailMessage/Subject":"Project status change to Clear to Pay - Approved","emailMessage/Body":"<p>The request to revert Project @{outputs('Get_Project_record_values')?['body/leidos_projectreference']} - @{outputs('Get_Project_record_values')?['body/leidos_name']} to status Clear to pay has been approved and actioned.<br>\n<br>\nComments: @{items('Approve_revert_to_clear_to_play')?['comments']}<br>\n<br>\nPlease reprofile spend profiles for the project and update the Date of Decision in the Project Amendment record.<br>\n</p>"},"authentication":"@parameters('$authentication')"}},"Update_Project_Amendment_record_to_Approved":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectamendments","recordId":"@triggerOutputs()?['body/leidos_projectamendmentid']","item/leidos_projectamendmentapprovedon":"@utcNow()","item/leidos_ProjectAmendmentApprovedBy@odata.bind":"/systemusers(@{variables('Delegated Authority')})","item/leidos_projectamendmentdecisioncomments":"@items('Approve_revert_to_clear_to_play')?['comments']","item/leidos_projectamendmentdecisionoutcome":445260000,"item/statecode":1,"item/statuscode":445260002},"authentication":"@parameters('$authentication')"}},"Update_Project_status_to_Clear_to_Pay":{"runAfter":{"Update_Project_Amendment_record_to_Approved":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']","item/leidos_actualspendmatched":false,"item/statecode":1,"item/statuscode":445260013},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}}},"Reject_Clear_to_pay":{"case":"Reject Status change to Clear to pay","actions":{"Reject_revert_to_clear_to_pay":{"foreach":"@outputs('Start_and_wait_for_an_approval_-_Revert_to_clear_to_pay')?['body/responses']","actions":{"Send_Clear_to_pay_rejected_email_(V2)_2":{"runAfter":{"Update_Project_status_to_Claims_complete":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@{variables('Project Owner Email')}; @{variables('Submitters Email')}","emailMessage/Subject":"Project status change to Clear to Pay - Rejected","emailMessage/Body":"<p>The request to revert Project @{outputs('Get_Project_record_values')?['body/leidos_projectreference']} - @{outputs('Get_Project_record_values')?['body/leidos_name']} to status Clear to pay has been rejected. <br>\nThe Project's status has been reverted to Claims Complete.<br>\n<br>\nComments: @{items('Reject_revert_to_clear_to_pay')?['comments']}<br>\n<br>\n</p>"},"authentication":"@parameters('$authentication')"}},"Update_Project_Amendment_record_to_Rejected":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectamendments","recordId":"@triggerOutputs()?['body/leidos_projectamendmentid']","item/leidos_projectamendmentapprovedon":"@utcNow()","item/leidos_ProjectAmendmentApprovedBy@odata.bind":"/systemusers(@{variables('Delegated Authority')})","item/leidos_projectamendmentdecisioncomments":"@items('Reject_revert_to_clear_to_pay')?['comments']","item/leidos_projectamendmentdecisionoutcome":445260001,"item/statecode":1,"item/statuscode":445260003},"authentication":"@parameters('$authentication')"}},"Update_Project_status_to_Claims_complete":{"runAfter":{"Update_Project_Amendment_record_to_Rejected":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']","item/statecode":1,"item/statuscode":445260002},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}}}},"default":{"actions":{}},"expression":"@outputs('Start_and_wait_for_an_approval_-_Revert_to_clear_to_pay')?['body/outcome']","type":"Switch"},"Revert_Clear_to_pay_task":{"foreach":"@outputs('Start_and_wait_for_an_approval_-_Revert_to_clear_to_pay')?['body/responses']","actions":{"Create_a_task_for_Revert_to_Clear_to_pay_in_Project_Timeline":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_4","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"tasks","item/subject":"Project Amendment: @{triggerOutputs()?['body/leidos_projectamendmentreference']} Outcome: @{outputs('Start_and_wait_for_an_approval_-_Revert_to_clear_to_pay')?['body/outcome']}","item/description":"Project Amendment Revert to Clear to pay status\n\nDelegated Authority: @{items('Revert_Clear_to_pay_task')?['responder/displayName']}\nOutcome: @{outputs('Start_and_wait_for_an_approval_-_Revert_to_clear_to_pay')?['body/outcome']}\nComment: @{items('Revert_Clear_to_pay_task')?['comments']}\nRecord Link: @{outputs('Run_a_Child_Flow_-_Get_PA_URL')?['Body']?['entityurl']}\n\nPlease reprofile spend profiles for the Project and update the Date of Decision for Approved Amendments","item/regardingobjectid_leidos_project_task@odata.bind":"/leidos_projects(@{outputs('Get_Project_record_values')?['body/leidos_projectid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Revert_to_Clear_to_pay_Switch":["Succeeded"]},"type":"Foreach"}}}},"default":{"actions":{}},"expression":"@triggerOutputs()?['body/leidos_amendmenttype']","type":"Switch"},"Amendment_Type_set_Project_to_Awaiting_Amendment_Switch":{"runAfter":{"Compose":["Succeeded"]},"cases":{"Budget_sub-type_-_Project_updates":{"case":445260002,"actions":{"Update_Project_to_Inactive_Awaiting_Approval_TS":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']","item/statecode":1,"item/statuscode":445260010},"authentication":"@parameters('$authentication')"}}}},"Project_-_Project_updates":{"case":445260001,"actions":{"Update_Project_to_Inactive_Awaiting_Approval_Project":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']","item/statecode":1,"item/statuscode":445260010},"authentication":"@parameters('$authentication')"}}}},"Cost_Type_-_Project_updates":{"case":445260000,"actions":{"Update_Project_to_Awaiting_amendment_approval_CT":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']","item/statecode":1,"item/statuscode":445260010},"authentication":"@parameters('$authentication')"}},"List_Cost_-_Awaiting_amendment_approval":{"runAfter":{"Update_Project_to_Awaiting_amendment_approval_CT":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectcosts","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_projectcost\">\n    <attribute name=\"leidos_projectcostid\" />\n    <attribute name=\"leidos_costitem\" />\n    <order attribute=\"leidos_costitem\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentproject\" operator=\"eq\" value=\"@{triggerOutputs()?['body/_leidos_project_value']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Loop_thru_Cost_Type_-_Awaiting_amendment_approval":{"foreach":"@outputs('List_Cost_-_Awaiting_amendment_approval')?['body/value']","actions":{"Update_Cost_-_Awaiting_amendment_approval":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectcosts","recordId":"@items('Loop_thru_Cost_Type_-_Awaiting_amendment_approval')?['leidos_projectcostid']","item/statecode":1,"item/statuscode":445260003},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Cost_-_Awaiting_amendment_approval":["Succeeded"]},"type":"Foreach"},"List_Spend_Profile_-_Awaiting_amendment_approval":{"runAfter":{"Loop_thru_Cost_Type_-_Awaiting_amendment_approval":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_anticipatedspendprofiles","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_anticipatedspendprofile\">\n    <attribute name=\"leidos_anticipatedspendprofileid\" />\n    <attribute name=\"leidos_name\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentproject\" operator=\"eq\" value=\"@{triggerOutputs()?['body/_leidos_project_value']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Loop_thru_Spend_Profile_-_Awaiting_amendment_approval":{"foreach":"@outputs('List_Spend_Profile_-_Awaiting_amendment_approval')?['body/value']","actions":{"Update_Spend_Profile_-_Awaiting_amendment_approval":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_anticipatedspendprofiles","recordId":"@items('Loop_thru_Spend_Profile_-_Awaiting_amendment_approval')?['leidos_anticipatedspendprofileid']","item/statecode":1,"item/statuscode":445260003},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Spend_Profile_-_Awaiting_amendment_approval":["Succeeded"]},"type":"Foreach"}}}},"default":{"actions":{}},"expression":"@triggerOutputs()?['body/leidos_amendmenttype']","type":"Switch","description":"Do not set project status when amendment type = Revert to clear to pay"},"Compose":{"runAfter":{},"type":"Compose","inputs":"@triggerOutputs()?['body/leidos_amendmenttype']"},"Get_Data_for_Process":{"actions":{"DA_Switch":{"runAfter":{},"cases":{"Grade_E_Staff":{"case":445260000,"actions":{"Get_Grade_E_Staff":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_gradeestaff_value']"},"authentication":"@parameters('$authentication')"}},"Set_DA_variable_to_Grade_E_Staff":{"runAfter":{"Get_Grade_E_Staff":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Delegated Authority","value":"@outputs('Get_Grade_E_Staff')?['body/_leidos_userrecord_value']"}}}},"Grade_F_Staff":{"case":445260006,"actions":{"Get_Grade_F_Staff":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_gradefstaff_value']"},"authentication":"@parameters('$authentication')"}},"Set_DA_variable_to_Grade_F_Staff":{"runAfter":{"Get_Grade_F_Staff":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Delegated Authority","value":"@outputs('Get_Grade_F_Staff')?['body/_leidos_userrecord_value']"}}}},"Executive_Grade_Staff":{"case":445260001,"actions":{"Get_Executive_Grade_Staff":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_executivegradestaff_value']"},"authentication":"@parameters('$authentication')"}},"Set_DA_variable_to_Executive_Grade_Staff":{"runAfter":{"Get_Executive_Grade_Staff":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Delegated Authority","value":"@outputs('Get_Executive_Grade_Staff')?['body/_leidos_userrecord_value']"}}}},"HIE_Board":{"case":445260005,"actions":{"Get_HIE_Board":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_hieboard_value']"},"authentication":"@parameters('$authentication')"}},"Set_DA_variable_to_HIE_Board":{"runAfter":{"Get_HIE_Board":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Delegated Authority","value":"@outputs('Get_HIE_Board')?['body/_leidos_userrecord_value']"}}}},"Leadership_Team":{"case":445260003,"actions":{"Get_Leadership_Team":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_leadershipteam_value']"},"authentication":"@parameters('$authentication')"}},"Set_DA_variable_to_Leadership_Team":{"runAfter":{"Get_Leadership_Team":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Delegated Authority","value":"@outputs('Get_Leadership_Team')?['body/_leidos_userrecord_value']"}}}},"Chief_Executive":{"case":445260004,"actions":{"Get_Chief_Executive":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_hiechiefexecutive_value']"},"authentication":"@parameters('$authentication')"}},"Set_DA_variable_to_Chief_Executive":{"runAfter":{"Get_Chief_Executive":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Delegated Authority","value":"@outputs('Get_Chief_Executive')?['body/_leidos_userrecord_value']"}}}},"Finance":{"case":445260002,"actions":{"Get_Finance":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_finance_value']"},"authentication":"@parameters('$authentication')"}},"Set_DA_variable_to_Finance":{"runAfter":{"Get_Finance":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Delegated Authority","value":"@outputs('Get_Finance')?['body/_leidos_userrecord_value']"}}}}},"default":{"actions":{}},"expression":"@triggerOutputs()?['body/leidos_projectamendmentpath']","type":"Switch"},"Update_Project_Amendment_with_submit_details":{"runAfter":{"DA_Switch":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectamendments","recordId":"@triggerOutputs()?['body/leidos_projectamendmentid']","item/leidos_projectamendmentapprovalrequestedon":"@utcNow()","item/leidos_ProjectAmendmentDelegatedAuthority@odata.bind":"/systemusers(@{variables('Delegated Authority')})","item/statecode":1,"item/statuscode":445260001},"authentication":"@parameters('$authentication')"}},"Get_Delegated_Authority_Record":{"runAfter":{"Update_Project_Amendment_with_submit_details":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@variables('Delegated Authority')"},"authentication":"@parameters('$authentication')"}},"Get_Submitted_By_Record":{"runAfter":{"Get_Delegated_Authority_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Update_Project_Amendment_with_submit_details')?['body/_leidos_submittedby_value']"},"authentication":"@parameters('$authentication')"}},"Get_Project_record_values":{"runAfter":{"Get_Submitted_By_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']"},"authentication":"@parameters('$authentication')"}},"Run_a_Child_Flow_-_Get_PA_URL":{"runAfter":{"Set_Project_Owner_Email_variable":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/leidos_projectamendmentid']","EntityType_Value":"leidos_projectamendment"}}},"Get_Project_Owner_record":{"runAfter":{"Get_Project_record_values":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Project_record_values')?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Set_Project_Owner_Email_variable":{"runAfter":{"Set_Submitters_Email_variable":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Project Owner Email","value":"@outputs('Get_Project_Owner_record')?['body/internalemailaddress']"}},"Set_Submitters_Email_variable":{"runAfter":{"Get_Project_Owner_record":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Submitters Email","value":"@outputs('Get_Submitted_By_Record')?['body/internalemailaddress']"}}},"runAfter":{"Initialize_Submitters_Email_variable":["Succeeded"]},"type":"Scope"},"Initialize_Project_Owner_Email_variable":{"runAfter":{"Initialize_DA_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Project Owner Email","type":"string"}]}},"Initialize_Submitters_Email_variable":{"runAfter":{"Initialize_Project_Owner_Email_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Submitters Email","type":"string"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}