HIE_CDS/Workflows/ProjectFunding-Flow-CreateUpdatecostsfromClientPor-98F8C171-5B03-EB11-A813-000D3A7FEDBE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_sharedcommondataserviceforapps_5ec64"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"leidos_projectfunding":{"type":"array","items":{"type":"object","properties":{"leidos_projectfundingid":{"type":"string"},"leidos_projectid":{"type":"string"},"leidos_clientfundingamount":{"type":"string"},"leidos_clientfundingsource":{"type":"string"}},"required":["leidos_projectfundingid","leidos_projectid","leidos_clientfundingamount","leidos_clientfundingsource"]}}}}}}},"actions":{"Apply_to_each":{"foreach":"@triggerBody()?['leidos_projectfunding']","actions":{"Condition":{"actions":{"Create_Amount":{"runAfter":{},"type":"Compose","inputs":"@items('Apply_to_each')?['leidos_clientfundingamount']"},"Create_a_new_record":{"runAfter":{"Create_Amount":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectfundings","item/leidos_clientfundingamount":"@outputs('Create_Amount')","item/leidos_ClientFundingSource@odata.bind":"/leidos_funddetails(@{items('Apply_to_each')?['leidos_clientfundingsource']})","item/leidos_ParentProject@odata.bind":"/leidos_projects(@{items('Apply_to_each')?['leidos_projectid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Update_Amount":{"runAfter":{},"type":"Compose","inputs":"@items('Apply_to_each')?['leidos_clientfundingamount']"},"Update_a_record":{"runAfter":{"Update_Amount":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectfundings","recordId":"@items('Apply_to_each')?['leidos_projectfundingid']","item/leidos_clientfundingamount":"@outputs('Update_Amount')","item/leidos_ClientFundingSource@odata.bind":"/leidos_funddetails(@{items('Apply_to_each')?['leidos_clientfundingsource']})"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@items('Apply_to_each')?['leidos_projectfundingid']","new"]},"type":"If"}},"runAfter":{},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}