HIE_CDS/Workflows/ProjectAmendment-Flow-SubmitProjectApprovaltoDeleg-8CCADA80-EEC5-EA11-A812-000D3A7FEDBE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_approvals":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_approvals"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Submit_Project_Amendment_for_Approval":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_projectamendment","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_submitprojectamendmentforapproval","subscriptionRequest/filterexpression":"leidos_submitprojectamendmentforapproval eq true"},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_DA_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Delegated Authority","type":"string","value":"@triggerOutputs()?['body/_leidos_projectamendmentdelegatedauthority_value']"}]}},"DA_Switch":{"runAfter":{"Initialize_DA_variable":["Succeeded"]},"cases":{"Grade_E_Staff":{"case":445260000,"actions":{"Get_Grade_E_Staff":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_gradeestaff_value']"},"authentication":"@parameters('$authentication')"}},"Set_DA_variable_to_Grade_E_Staff":{"runAfter":{"Get_Grade_E_Staff":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Delegated Authority","value":"@outputs('Get_Grade_E_Staff')?['body/_leidos_userrecord_value']"}}}},"Grade_F_Staff":{"case":445260006,"actions":{"Get_Grade_F_Staff":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_gradefstaff_value']"},"authentication":"@parameters('$authentication')"}},"Set_DA_variable_to_Grade_F_Staff":{"runAfter":{"Get_Grade_F_Staff":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Delegated Authority","value":"@outputs('Get_Grade_F_Staff')?['body/_leidos_userrecord_value']"}}}},"Executive_Grade_Staff":{"case":445260001,"actions":{"Get_Executive_Grade_Staff":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_executivegradestaff_value']"},"authentication":"@parameters('$authentication')"}},"Set_DA_variable_to_Executive_Grade_Staff":{"runAfter":{"Get_Executive_Grade_Staff":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Delegated Authority","value":"@outputs('Get_Executive_Grade_Staff')?['body/_leidos_userrecord_value']"}}}},"HIE_Board":{"case":445260005,"actions":{"Get_HIE_Board":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_hieboard_value']"},"authentication":"@parameters('$authentication')"}},"Set_DA_variable_to_HIE_Board":{"runAfter":{"Get_HIE_Board":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Delegated Authority","value":"@outputs('Get_HIE_Board')?['body/_leidos_userrecord_value']"}}}},"Leadership_Team":{"case":445260003,"actions":{"Get_Leadership_Team":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_leadershipteam_value']"},"authentication":"@parameters('$authentication')"}},"Set_DA_variable_to_Leadership_Team":{"runAfter":{"Get_Leadership_Team":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Delegated Authority","value":"@outputs('Get_Leadership_Team')?['body/_leidos_userrecord_value']"}}}},"Chief_Executive":{"case":445260004,"actions":{"Get_Chief_Executive":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_hiechiefexecutive_value']"},"authentication":"@parameters('$authentication')"}},"Set_DA_variable_to_Chief_Executive":{"runAfter":{"Get_Chief_Executive":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Delegated Authority","value":"@outputs('Get_Chief_Executive')?['body/_leidos_userrecord_value']"}}}}},"default":{"actions":{}},"expression":"@triggerOutputs()?['body/leidos_projectamendmentpath']","type":"Switch"},"Update_Project_record_status_to_Inactive_-_awaiting_amendment_approval":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']","item/statecode":1,"item/statuscode":445260010},"authentication":"@parameters('$authentication')"}},"Update_Project_Amendment_with_submit_details":{"runAfter":{"DA_Switch":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectamendments","recordId":"@triggerOutputs()?['body/leidos_projectamendmentid']","item/leidos_projectamendmentapprovalrequestedon":"@utcNow()","item/statecode":1,"item/statuscode":445260001},"authentication":"@parameters('$authentication')"}},"Get_Delegated_Authority_Record":{"runAfter":{"Update_Project_Amendment_with_submit_details":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@variables('Delegated Authority')"},"authentication":"@parameters('$authentication')"}},"Get_Submitted_By_Record":{"runAfter":{"Get_Delegated_Authority_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Update_Project_Amendment_with_submit_details')?['body/_leidos_submittedby_value']"},"authentication":"@parameters('$authentication')"}},"Run_a_Child_Flow_-_Get_PA_URL":{"runAfter":{"Get_Submitted_By_Record":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/leidos_projectamendmentid']","EntityType_Value":"leidos_projectamendment"}}},"Start_and_wait_for_an_approval_-_Approval_for_PA":{"runAfter":{"Run_a_Child_Flow_-_Get_PA_URL":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Approve Project Amendment","Reject Project Amendment","Defer Project Amendment"],"WebhookApprovalCreationInput/title":"Request for project Amendment Decision @{triggerOutputs()?['body/leidos_name']}","WebhookApprovalCreationInput/assignedTo":"@outputs('Get_Delegated_Authority_Record')?['body/internalemailaddress']","WebhookApprovalCreationInput/details":"### The following has been submitted for Project Amendment Approval ###\n\nAccount Manager recommendation - @{if(triggerOutputs()?['body/leidos_recommendation'],'Re-Approve','Decline')}\n\nLink to Project Amendment record in myHIE @{triggerOutputs()?['body/leidos_name']} (@{outputs('Run_a_Child_Flow_-_Get_PA_URL')?['Body']?['entityurl']})","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Switch":{"runAfter":{"Start_and_wait_for_an_approval_-_Approval_for_PA":["Succeeded"]},"cases":{"Approve_Project_Amendments":{"case":"Approve Project Amendment","actions":{"Update_Project_Amendment_record_to_Approved":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectamendments","recordId":"@triggerOutputs()?['body/leidos_projectamendmentid']","item/leidos_ProjectAmendmentApprovedBy@odata.bind":"@systemusers(outputs('Get_Delegated_Authority_Record')?['body/systemuserid'])","item/leidos_projectamendmentapprovedon":"@utcNow()","item/leidos_projectamendmentdecisionoutcome":445260000,"item/statecode":1,"item/statuscode":445260002},"authentication":"@parameters('$authentication')"}},"Update_Project_record_to_Approved":{"runAfter":{"Update_Project_Amendment_record_to_Approved":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']","item/statecode":0,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}}}},"Reject_Project_Amendments":{"case":"Reject Project Amendment","actions":{"Update_Project_Amendment_record_to_Reject":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectamendments","recordId":"@triggerOutputs()?['body/leidos_projectamendmentid']","item/leidos_amendmentscomplete":false,"item/leidos_projectamendmentdecisionoutcome":445260001,"item/statecode":0,"item/statuscode":445260000,"item/leidos_submitprojectamendmentforapproval":false},"authentication":"@parameters('$authentication')"}},"Update_project_record_to_Active-In_Amendment_(Reject)":{"runAfter":{"Update_Project_Amendment_record_to_Reject":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']","item/statecode":0,"item/statuscode":445260007},"authentication":"@parameters('$authentication')"}}}},"Defer_Project_Amendment":{"case":"Defer Project Amendment","actions":{"Update_Project_Amendment_record_to_Defer":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectamendments","recordId":"@triggerOutputs()?['body/leidos_projectamendmentid']","item/leidos_amendmentscomplete":false,"item/leidos_projectamendmentdecisionoutcome":445260002,"item/statecode":0,"item/statuscode":445260000,"item/leidos_submitprojectamendmentforapproval":false},"authentication":"@parameters('$authentication')"}},"Update_Project_record_to_Active-In_Amendment_(defer)":{"runAfter":{"Update_Project_Amendment_record_to_Defer":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']","item/statecode":0,"item/statuscode":445260007},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@outputs('Start_and_wait_for_an_approval_-_Approval_for_PA')?['body/outcome']","type":"Switch"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}