HIE_CDS/Workflows/ProjectAmendment-Flow-SubmitProjectApprovaltoDeleg-8CCADA80-EEC5-EA11-A812-000D3A7FEDBE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Submit_Project_Amendment_for_Approval":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_projectamendment","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_submitprojectamendmentforapproval","subscriptionRequest/filterexpression":"leidos_submitprojectamendmentforapproval eq true"},"authentication":"@parameters('$authentication')"}}},"actions":{"Lock_down_associated_Project":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']","item/statecode":1,"item/statuscode":445260010},"authentication":"@parameters('$authentication')"}},"Initialize_DA_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Delegated Authority","type":"string","value":"@triggerOutputs()?['body/_leidos_projectamendmentdelegatedauthority_value']"}]}},"DA_Switch":{"runAfter":{"Initialize_DA_variable":["Succeeded"]},"cases":{"Grade_E_Staff":{"case":445260000,"actions":{"Get_Grade_E_Staff":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_delegatedauthorityapprovaltables","recordId":"@triggerOutputs()?['body/_leidos_gradeestaff_value']"},"authentication":"@parameters('$authentication')"}},"Set_DA_to_Grade_E_Staff":{"runAfter":{"Get_Grade_E_Staff":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Delegated Authority","value":"@outputs('Get_Grade_E_Staff')?['body/_leidos_userrecord_value']"}}}}},"default":{"actions":{}},"expression":"@triggerOutputs()?['body/_leidos_projectamendmentdelegatedauthority_value']","type":"Switch"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}