HIE_CDS/Workflows/ProjectAmendment-Flow-onCreateUpdateProjectStatus-9FA0F9F2-5BBC-EA11-A812-000D3A7FEDBE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnProjectAmendment"},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataserviceforapps_2":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnProject"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"On_Project_Amendment_on_Create":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"leidos_projectamendment","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"},"description":"project amendment type will determine route and which entities are updated"}},"actions":{"Switch":{"runAfter":{},"cases":{"Budget_sub-type":{"case":445260002,"actions":{"Update_Project_record_TS":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']","item/statecode":1,"item/statuscode":445260011},"authentication":"@parameters('$authentication')"}},"List_Costs_TS":{"runAfter":{"Update_Project_record_TS":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectcosts","$select":"leidos_projectcostid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_projectcost\">\n    <attribute name=\"leidos_projectcostid\" />\n    <attribute name=\"leidos_costitem\" />\n    <order attribute=\"leidos_costitem\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentproject\" operator=\"eq\" value=\"@{triggerOutputs()?['body/_leidos_project_value']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"List_Spend_Profile_TS":{"runAfter":{"Loop_Thru_each_Cost_TS_set_to_Record_locked_TS":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_anticipatedspendprofiles","$select":"leidos_anticipatedspendprofileid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_anticipatedspendprofile\">\n    <attribute name=\"leidos_anticipatedspendprofileid\" />\n    <attribute name=\"leidos_name\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentproject\" operator=\"eq\" value=\"@{triggerOutputs()?['body/_leidos_project_value']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"List_Cost_Funding_TS":{"runAfter":{"Update_Project_record_TS":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectfundings","$select":"leidos_projectfundingid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_projectfunding\">\n    <attribute name=\"leidos_name\" />\n    <attribute name=\"leidos_projectfundingid\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"leidos_parentproject\" operator=\"eq\"  value=\"@{triggerOutputs()?['body/_leidos_project_value']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"List_NFI_State_Aid_TS":{"runAfter":{"Loop_thru_each_Cost_Funding_set_to_Record_Locked_TS":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_nfistateaids","$select":"leidos_nfistateaidid","$filter":"_leidos_parentproject_value eq @{triggerOutputs()?['body/_leidos_project_value']}   "},"authentication":"@parameters('$authentication')"}},"List_Measures_TS":{"runAfter":{"Loop_thru_Project_Strategic_Priorities_set_to_Record_Locked_TS":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectmeasures","$select":"leidos_projectmeasureid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_projectmeasure\">\n    <attribute name=\"leidos_name\" />\n    <attribute name=\"leidos_projectmeasureid\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"leidos_parentproject\" operator=\"eq\"  value=\"@{triggerOutputs()?['body/_leidos_project_value']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Loop_Thru_each_Cost_TS_set_to_Record_locked_TS":{"foreach":"@outputs('List_Costs_TS')?['body/value']","actions":{"Update_Cost_records_TS":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectcosts","recordId":"@items('Loop_Thru_each_Cost_TS_set_to_Record_locked_TS')?['leidos_projectcostid']","item/statecode":1,"item/statuscode":445260001},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Costs_TS":["Succeeded"]},"type":"Foreach"},"Loop_thru_Spend_Profile_set_to_Record_Locked_TS":{"foreach":"@outputs('List_Spend_Profile_TS')?['body/value']","actions":{"Update_Spend_Profile_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_anticipatedspendprofiles","recordId":"@items('Loop_thru_Spend_Profile_set_to_Record_Locked_TS')?['leidos_anticipatedspendprofileid']","item/statecode":1,"item/statuscode":445260001},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Spend_Profile_TS":["Succeeded"]},"type":"Foreach"},"Loop_thru_each_Cost_Funding_set_to_Record_Locked_TS":{"foreach":"@outputs('List_Cost_Funding_TS')?['body/value']","actions":{"Update_Cost_Funding_records_TS":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectfundings","recordId":"@items('Loop_thru_each_Cost_Funding_set_to_Record_Locked_TS')?['leidos_projectfundingid']","item/statecode":1,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Cost_Funding_TS":["Succeeded"]},"type":"Foreach"},"Loop_thru_NFI_SA_set_to_Record_Locked_-_TS":{"foreach":"@outputs('List_NFI_State_Aid_TS')?['body/value']","actions":{"Update_NFI_State_Aid_CT":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_nfistateaids","recordId":"@items('Loop_thru_NFI_SA_set_to_Record_Locked_-_TS')?['leidos_nfistateaidid']","item/statecode":1,"item/statuscode":445260001},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_NFI_State_Aid_TS":["Succeeded"]},"type":"Foreach"},"List_Project_Strategic_Priorities_TS":{"runAfter":{"Update_Project_record_TS":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectstrategicpriorities","$select":"leidos_projectstrategicpriorityid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_projectstrategicpriority\">\n    <attribute name=\"leidos_projectstrategicpriorityid\" />\n    <attribute name=\"leidos_name\" />\n    <attribute name=\"leidos_parentproject\" />\n    <attribute name=\"leidos_strategicpriority\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentproject\" operator=\"eq\"  value=\"@{triggerOutputs()?['body/_leidos_project_value']}\" />\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Loop_thru_Project_Strategic_Priorities_set_to_Record_Locked_TS":{"foreach":"@outputs('List_Project_Strategic_Priorities_TS')?['body/value']","actions":{"Update_Project_Strategic_Priorities_records_TS":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectstrategicpriorities","recordId":"@items('Loop_thru_Project_Strategic_Priorities_set_to_Record_Locked_TS')?['leidos_projectstrategicpriorityid']","item/statecode":1,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Project_Strategic_Priorities_TS":["Succeeded"]},"type":"Foreach"},"Loop_thru_Measures_set_to_Record_locked_TS":{"foreach":"@outputs('List_Measures_TS')?['body/value']","actions":{"Update_Measure_record_TS":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectmeasures","recordId":"@items('Loop_thru_Measures_set_to_Record_locked_TS')?['leidos_projectmeasureid']","item/statecode":1,"item/statuscode":445260003},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Measures_TS":["Succeeded"]},"type":"Foreach"}}},"Project":{"case":445260001,"actions":{"Update_Project_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']","item/statecode":0,"item/statuscode":445260007},"authentication":"@parameters('$authentication')"}}}},"Cost_Type":{"case":445260000,"actions":{"Update_Project_record_CT":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']","item/statecode":1,"item/statuscode":445260011},"authentication":"@parameters('$authentication')"}},"List_Costs_CT":{"runAfter":{"Update_Project_record_CT":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectcosts","$select":"leidos_projectcostid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_projectcost\">\n    <attribute name=\"leidos_projectcostid\" />\n    <attribute name=\"leidos_costitem\" />\n    <order attribute=\"leidos_costitem\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentproject\" operator=\"eq\" value=\"@{triggerOutputs()?['body/_leidos_project_value']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"List_Spend_Profile_CT":{"runAfter":{"Loop_thru_cost_records_and_update_status_to_In_Amendment_-_Finance_CT":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_anticipatedspendprofiles","$select":"leidos_anticipatedspendprofileid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_anticipatedspendprofile\">\n    <attribute name=\"leidos_anticipatedspendprofileid\" />\n    <attribute name=\"leidos_name\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentproject\" operator=\"eq\" value=\"@{triggerOutputs()?['body/_leidos_project_value']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"List_Cost_Funding_CT":{"runAfter":{"Update_Project_record_CT":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectfundings","$select":"leidos_projectfundingid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_projectfunding\">\n    <attribute name=\"leidos_name\" />\n    <attribute name=\"leidos_projectfundingid\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"leidos_parentproject\" operator=\"eq\"  value=\"@{triggerOutputs()?['body/_leidos_project_value']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"List_Measures_CT":{"runAfter":{"Loop_thru_Strategic_Priorities_set_to_Record_Locked_CT":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectmeasures","$select":"leidos_projectmeasureid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_projectmeasure\">\n    <attribute name=\"leidos_name\" />\n    <attribute name=\"leidos_projectmeasureid\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"leidos_parentproject\" operator=\"eq\"  value=\"@{triggerOutputs()?['body/_leidos_project_value']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"List_NFI_State_Aid_CT":{"runAfter":{"Loop_thru_Cost_Funding_set_to_Record_locked_CT":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_nfistateaids","$select":"leidos_nfistateaidid","$filter":"_leidos_parentproject_value eq @{triggerOutputs()?['body/_leidos_project_value']}    "},"authentication":"@parameters('$authentication')"}},"Loop_thru_cost_records_and_update_status_to_In_Amendment_-_Finance_CT":{"foreach":"@outputs('List_Costs_CT')?['body/value']","actions":{"Update_Cost_records_CT":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectcosts","recordId":"@items('Loop_thru_cost_records_and_update_status_to_In_Amendment_-_Finance_CT')?['leidos_projectcostid']","item/statecode":0,"item/statuscode":445260002},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Costs_CT":["Succeeded"]},"type":"Foreach"},"Loop_thru_spend_profile_records_and_update_status_to_In_Amendment_-_Finance_CT":{"foreach":"@outputs('List_Spend_Profile_CT')?['body/value']","actions":{"Update_Spend_profile_records_CT":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_anticipatedspendprofiles","recordId":"@items('Loop_thru_spend_profile_records_and_update_status_to_In_Amendment_-_Finance_CT')?['leidos_anticipatedspendprofileid']","item/statecode":0,"item/statuscode":445260002},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Spend_Profile_CT":["Succeeded"]},"type":"Foreach"},"Loop_thru_Cost_Funding_set_to_Record_locked_CT":{"foreach":"@outputs('List_Cost_Funding_CT')?['body/value']","actions":{"Update_Cost_Funding_CT":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectfundings","recordId":"@items('Loop_thru_Cost_Funding_set_to_Record_locked_CT')?['leidos_projectfundingid']","item/statecode":1,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Cost_Funding_CT":["Succeeded"]},"type":"Foreach"},"Loop_thru_NFI_SA_set_to_Project_Approved_CT":{"foreach":"@outputs('List_NFI_State_Aid_CT')?['body/value']","actions":{"Update_NFI_SA_Records_-_CT":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_nfistateaids","recordId":"@items('Loop_thru_NFI_SA_set_to_Project_Approved_CT')?['leidos_nfistateaidid']","item/statecode":1,"item/statuscode":445260001},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_NFI_State_Aid_CT":["Succeeded"]},"type":"Foreach"},"Loop_thru_Strategic_Priorities_set_to_Record_Locked_CT":{"foreach":"@outputs('List_Project_Strategic_Priorities')?['body/value']","actions":{"Update_Project_Strategic_Priorities_record_CT":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectstrategicpriorities","recordId":"@items('Loop_thru_Strategic_Priorities_set_to_Record_Locked_CT')?['leidos_projectstrategicpriorityid']","item/statecode":1,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Project_Strategic_Priorities":["Succeeded"]},"type":"Foreach"},"List_Project_Strategic_Priorities":{"runAfter":{"Update_Project_record_CT":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectstrategicpriorities","$select":"leidos_projectstrategicpriorityid","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_projectstrategicpriority\">\n    <attribute name=\"leidos_projectstrategicpriorityid\" />\n    <attribute name=\"leidos_name\" />\n    <attribute name=\"leidos_parentproject\" />\n    <attribute name=\"leidos_strategicpriority\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentproject\" operator=\"eq\"  value=\"@{triggerOutputs()?['body/_leidos_project_value']}\" />\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Loop_thru_Measures_set_to_Record_Locked_CT":{"foreach":"@outputs('List_Measures_CT')?['body/value']","actions":{"Update_Measure_CT":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectmeasures","recordId":"@items('Loop_thru_Measures_set_to_Record_Locked_CT')?['leidos_projectmeasureid']","item/statecode":1,"item/statuscode":445260003},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Measures_CT":["Succeeded"]},"type":"Foreach"}}},"Revert_to_Clear_to_pay":{"case":445260003,"actions":{"Update_Project_record_-_Revert_to_Clear_to_pay":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']","item/statecode":1,"item/statuscode":445260017},"authentication":"@parameters('$authentication')"}},"Update_Project_Amendment":{"runAfter":{"Update_Project_record_-_Revert_to_Clear_to_pay":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectamendments","recordId":"@triggerOutputs()?['body/leidos_projectamendmentid']","item/leidos_amendmentscomplete":true},"authentication":"@parameters('$authentication')"},"description":" Set Amendments complete Yes"}}}},"default":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":"@triggerOutputs()?['body/leidos_amendmenttype']","type":"Switch"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}