HIE_CDS/Workflows/ProjectAmendment-Flow-onCreateUpdateProjectStatus-9FA0F9F2-5BBC-EA11-A812-000D3A7FEDBE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"On_Project_Amendment_on_Create":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"leidos_projectamendment","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"},"description":"project amendment type will determine route and which entities are updated"}},"actions":{"Switch":{"runAfter":{},"cases":{"Top_Slice":{"case":445260002,"actions":{"Update_Project_record_TS":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']","item/statecode":1,"item/statuscode":445260011},"authentication":"@parameters('$authentication')"}}}},"Project":{"case":445260001,"actions":{"Update_Project_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']","item/statecode":0,"item/statuscode":445260007},"authentication":"@parameters('$authentication')"}}}},"Cost_Type":{"case":445260000,"actions":{"Update_Project_record_CT":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_project_value']","item/statuscode":445260011},"authentication":"@parameters('$authentication')"}},"Loop_thru_cost_records_and_update_status_to_In_Amendment_-_Finance_":{"foreach":"@outputs('List_Costs')?['body/value']","actions":{"Update_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectcosts","recordId":"@items('Loop_thru_cost_records_and_update_status_to_In_Amendment_-_Finance_')?['leidos_projectcostid']","item/statecode":0,"item/statuscode":445260002},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Costs":["Succeeded"]},"type":"Foreach"},"List_Costs":{"runAfter":{"Update_Project_record_CT":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectcosts","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_projectcost\">\n    <attribute name=\"leidos_projectcostid\" />\n    <attribute name=\"leidos_costitem\" />\n    <order attribute=\"leidos_costitem\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentproject\" operator=\"eq\" value=\"@{triggerOutputs()?['body/_leidos_project_value']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"List_Spend_Profile":{"runAfter":{"Loop_thru_cost_records_and_update_status_to_In_Amendment_-_Finance_":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_anticipatedspendprofiles","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_anticipatedspendprofile\">\n    <attribute name=\"leidos_anticipatedspendprofileid\" />\n    <attribute name=\"leidos_name\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentproject\" operator=\"eq\" value=\"@{triggerOutputs()?['body/_leidos_project_value']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Loop_thru_spend_profile_records_and_update_status_to_In_Amendment_-_Finance":{"foreach":"@outputs('List_Spend_Profile')?['body/value']","actions":{"Update_Spend_profile_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_anticipatedspendprofiles","recordId":"@items('Loop_thru_spend_profile_records_and_update_status_to_In_Amendment_-_Finance')?['leidos_anticipatedspendprofileid']","item/statecode":0,"item/statuscode":445260002},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Spend_Profile":["Succeeded"]},"type":"Foreach"}}}},"default":{"actions":{}},"expression":"@triggerOutputs()?['body/leidos_amendmenttype']","type":"Switch"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}