HIE_CDS/Workflows/Project-Flow-Schedule-RunProcessCalculateProjectTo-4C0BFC4E-2175-EB11-A812-002248414CC3.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"schedule":{"hours":["1"],"minutes":[0]}},"type":"Recurrence"}},"actions":{"List_Projects_-_Clear_to_pay_to_Claims_complete_or_Project_Complete_yesterday":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_project\">\n    <attribute name=\"leidos_projectid\" />\n    <filter type=\"and\">\n      <filter type=\"or\">\n        <condition attribute=\"statuscode\" operator=\"in\">\n          <value>445260010</value>\n          <value>445260002</value>\n          <value>445260013</value>\n          <value>445260007</value>\n          <value>445260017</value>\n          <value>445260001</value>\n           <value>445260011</value>\n        </condition>\n        <filter type=\"and\">\n          <condition attribute=\"statuscode\" operator=\"eq\" value=\"2\" />\n          <condition attribute=\"leidos_projectcompletedate\" operator=\"yesterday\" />\n        </filter>\n      </filter>\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_Project":{"foreach":"@outputs('List_Projects_-_Clear_to_pay_to_Claims_complete_or_Project_Complete_yesterday')?['body/value']","actions":{"Perform_a_bound_action":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"PerformBoundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","actionName":"Microsoft.Dynamics.CRM.leidos_CalculateProjectTotalSpend","recordId":"@items('Apply_to_each_Project')?['leidos_projectid']"},"authentication":"@parameters('$authentication')"},"description":"uses process leidos_CalculateProjectTotalSpend which calls N52 aLH "}},"runAfter":{"List_Projects_-_Clear_to_pay_to_Claims_complete_or_Project_Complete_yesterday":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}