HIE_CDS/Workflows/Project-Flow-OnDateofGrantingCreateStateAid-95156973-EE19-EB11-A813-000D3A7FEDBE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnProject"},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_sharedcommondataserviceforapps_5ec64"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Project_-_On_Date_of_Granting":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_project","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_dateofgranting","subscriptionRequest/filterexpression":"leidos_dateofgranting ne null"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Support_Item_Type":{"runAfter":{"Get_Account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_supportitemtypes","recordId":"@triggerOutputs()?['body/_leidos_supportitemnfi_value']"},"authentication":"@parameters('$authentication')"}},"NFI":{"runAfter":{"Get_Support_Item_Type":["Succeeded"]},"type":"Compose","inputs":"@outputs('Get_Support_Item_Type')?['body/leidos_nfihidefeilds']"},"Is_the_Support_Item_Type_NFI":{"actions":{"List_NFI_State_Aid":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_nfistateaids","$select":"leidos_nfistateaidid","$filter":"_leidos_parentproject_value eq @{triggerOutputs()?['body/leidos_projectid']}"},"authentication":"@parameters('$authentication')"}},"Loop_thru_State_Aid":{"foreach":"@outputs('List_NFI_State_Aid')?['body/value']","actions":{"Get_NFI_State_Aid":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_nfistateaids","recordId":"@items('Loop_thru_State_Aid')?['leidos_nfistateaidid']"},"authentication":"@parameters('$authentication')"}},"Get_State_Aid_Category":{"runAfter":{"Get_NFI_State_Aid":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_stateaidcategories","recordId":"@outputs('Get_NFI_State_Aid')?['body/_leidos_stateaidarticle_value']"},"authentication":"@parameters('$authentication')"}},"Create_State_Aid_Statement":{"runAfter":{"Get_State_Aid_Sub_Category":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_stateaidstatements","item/leidos_Account@odata.bind":"/accounts(@{outputs('Get_Account')?['body/accountid']})","item/leidos_name":"@triggerOutputs()?['body/leidos_name']","item/leidos_StateAidArticle@odata.bind":"/leidos_stateaidcategories(@{outputs('Get_State_Aid_Category')?['body/leidos_stateaidcategoryid']})","item/leidos_StateAidType@odata.bind":"/leidos_stateaidsubcategories(@{outputs('Get_State_Aid_Sub_Category')?['body/leidos_stateaidsubcategoryid']})","item/leidos_dateofgranting":"@triggerOutputs()?['body/leidos_dateofgranting']","item/leidos_ParentProject@odata.bind":"/leidos_projects(@{triggerOutputs()?['body/leidos_projectid']})","item/leidos_stateaidvalue":"@outputs('Get_NFI_State_Aid')?['body/leidos_stateaidamount']"},"authentication":"@parameters('$authentication')"}},"Get_State_Aid_Sub_Category":{"runAfter":{"Get_State_Aid_Category":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_stateaidsubcategories","recordId":"@outputs('Get_NFI_State_Aid')?['body/_leidos_stateaidtype_value']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_NFI_State_Aid":["Succeeded"]},"type":"Foreach"}},"runAfter":{"NFI":["Succeeded"]},"expression":{"equals":["@outputs('NFI')",true]},"type":"If"},"Get_Account":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_leidos_parentaccount_value']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}