HIE_CDS/Workflows/Recurrence-SupportItemCommitedandSpendTotalUpdate-682DFB9E-C067-EB11-A812-002248417B3A.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnRecurrence"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1},"type":"Recurrence"}},"actions":{"get_Support_Items":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_supportitems","$select":"leidos_supportitemid","$filter":"(statecode eq 0 and _leidos_programme_value ne null and leidos_fundingallocation ne null)"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_Support_Items":{"foreach":"@outputs('get_Support_Items')?['body/value']","actions":{"Call_N52_to_Calculate_Totals":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"PerformBoundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_supportitems","actionName":"Microsoft.Dynamics.CRM.leidos_CappProcessGenieforSupportItemTotals","recordId":"@items('Apply_to_each_Support_Items')?['leidos_supportitemid']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"get_Support_Items":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}