HIE_CDS/Workflows/Recurrence-GetrecordsDuein8weekswithnoreminder-FD3C8128-88CD-EA11-A812-000D3A7F1BBB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Week","interval":1},"type":"Recurrence"}},"actions":{"Query_records_Due_in_8_weeks_with_no_reminder":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","$filter":"statuscode eq 445260000 and Microsoft.Dynamics.CRM.NextXWeeks(PropertyName='leidos_businessreviewreminderdate',PropertyValue=8) and leidos_weekremindersent ne true"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Query_records_Due_in_8_weeks_with_no_reminder')?['body/value']","actions":{"Create_Reminder_Task":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"tasks","item/subject":"AMR Record is due for review in next 8 weeks","item/description":"@{items('Apply_to_each')?['leidos_name']} is due for renewal in the next 8 weeks","item/scheduledend":"@addDays(utcNow(),28)","item/ownerid_task@odata.bind":"/systemuser(@{items('Apply_to_each')?['_ownerid_value']})","item/regardingobjectid_leidos_accountmanagementrecord_task@odata.bind":"/leidos_accountmanagementrecords(@{items('Apply_to_each')?['leidos_accountmanagementrecordid']})"},"authentication":"@parameters('$authentication')"}},"Update_AMR_to_set_flag":{"runAfter":{"Create_Reminder_Task":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","recordId":"@items('Apply_to_each')?['leidos_accountmanagementrecordid']","item/leidos_weekremindersent":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Query_records_Due_in_8_weeks_with_no_reminder":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}