HIE_CDS/Workflows/Security-Flow-SendtolegalforReview-946126B9-C872-EB11-A812-00224840EE66.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnLoan"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnOutlook2"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_Security_is_sent_for_legal_review":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_security","subscriptionRequest/scope":4,"subscriptionRequest/filterexpression":"(leidos_sendtolegalforreview eq true)","subscriptionRequest/runas":1},"authentication":"@parameters('$authentication')"}}},"actions":{"Scope":{"actions":{"Run_a_Child_Flow_-_get_Security_URL":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/leidos_securityid']","EntityType_Value":"leidos_security"}}},"Run_a_Child_Flow_Get_Legal_Email":{"runAfter":{"Run_a_Child_Flow_-_get_Security_URL":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"c3e4375a-c7cc-ea11-a812-000d3a7fedbe"},"body":{"text":"LegalTeam_emailaddress"}}},"Parse_JSON":{"runAfter":{"Run_a_Child_Flow_Get_Legal_Email":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Run_a_Child_Flow_Get_Legal_Email')?['Body']?['value']","schema":{"type":"object","properties":{"@@odata.type":{"type":"string"},"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"@@odata.editLink":{"type":"string"},"value":{"type":"string"},"environmentvariablevalueid@odata.type":{"type":"string"},"environmentvariablevalueid":{"type":"string"}}}}},"Compose_-_Legal_Team_Email_Address":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Compose","inputs":"@body('Parse_JSON')?['value']"},"Get_Loan":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_loans","recordId":"@triggerOutputs()?['body/_leidos_loan_value']"},"authentication":"@parameters('$authentication')"}},"Get_Parent_Funding":{"runAfter":{"Get_Loan_Owner":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectfundings","recordId":"@outputs('Get_Loan')?['body/_leidos_parentfunding_value']"},"authentication":"@parameters('$authentication')"}},"Get_Parent_Project":{"runAfter":{"Get_Parent_Funding":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@outputs('Get_Parent_Funding')?['body/_leidos_parentproject_value']"},"authentication":"@parameters('$authentication')"}},"Get_Account":{"runAfter":{"Get_Parent_Project":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Parent_Project')?['body/_leidos_parentaccount_value']"},"authentication":"@parameters('$authentication')"}},"Get_Loan_Owner":{"runAfter":{"Get_Loan":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Loan')?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Scope"},"Send_an_email_(V2)":{"runAfter":{"Scope":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Compose_-_Legal_Team_Email_Address')","emailMessage/Subject":"Request for Legal Review:  Security for Loan @{outputs('Get_Loan')?['body/leidos_loanreference']}","emailMessage/Body":"<p>A request for the review fo the securities for the ollowing has been made:<br>\n<br>\n<strong>Account: </strong>@{outputs('Get_Account')?['body/name']}<br>\n<strong>Project Title: &nbsp;</strong><strong>@{outputs('Get_Parent_Project')?['body/leidos_name']}</strong><strong><br>\nProject Reference: &nbsp;</strong><strong>@{outputs('Get_Parent_Project')?['body/leidos_projectreference']}</strong><strong><br>\nSecurity Title: </strong><strong>@{triggerOutputs()?['body/leidos_name']}</strong><strong><br>\nSecurity Reference: </strong><strong>@{triggerOutputs()?['body/leidos_securityreference']}</strong><strong><br>\n<br>\n</strong>@{concat('<a href=', outputs('Run_a_Child_Flow_-_get_Security_URL')?['Body']?['entityurl'], '>Link to MyHIE Security Record<a/>')}<strong></strong></p>"},"authentication":"@parameters('$authentication')"}},"Create_a_new_task_for_Loan":{"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"tasks","item/subject":"Legal Review requested for @{triggerOutputs()?['body/leidos_name']} , @{outputs('Get_Parent_Project')?['body/leidos_name']}","item/description":"Email has been sent to HIE Legal mailbox requesting review and feedback for Security for Loan ","item/scheduledend":"@addDays(utcNow(),7)","item/ownerid_task@odata.bind":"/systemusers(@{outputs('Get_Loan_Owner')?['body/systemuserid']})","item/prioritycode":2,"item/regardingobjectid_leidos_loan_task@odata.bind":"/leidos_loans(@{outputs('Get_Loan')?['body/leidos_loanid']})"},"authentication":"@parameters('$authentication')"}},"Run_on_Fail":{"actions":{"Get_Triggering_User":{"runAfter":{"Compose":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Compose')"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_2":{"runAfter":{"Get_Triggering_User":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_Triggering_User')?['body/internalemailaddress']","emailMessage/Subject":"Request for Legal Input for Loan Security has failed: @{triggerOutputs()?['body/leidos_securityreference']}","emailMessage/Body":"<p>The automated Flow for passing the record for legal review was failed.<br>\n<br>\nPlease check the data and try again<br>\n<br>\n</p>"},"authentication":"@parameters('$authentication')"}},"Update_Security_reset_Submit_for_legal_Review":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_securities","recordId":"@triggerOutputs()?['body/leidos_securityid']","item/leidos_sendtolegalforreview":false},"authentication":"@parameters('$authentication')"}},"Compose":{"runAfter":{},"type":"Compose","inputs":"@triggerOutputs()?['body']?['RunAsSystemUserId']"}},"runAfter":{"Scope":["Failed","TimedOut"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}