HIE_CDS/Workflows/Transaction-Flow-UpdateonUpdateofCODA-89257B6A-E95E-EB11-A812-000D3AD60179.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "leidos_ConnClaim"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "leidos_sharedcommondataserviceforapps_5ec64"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_Claim_Transaction_changes_Status_Reason": {
          "metadata": {
            "operationMetadataId": "d249af41-937f-4ce6-8d1c-f10e464244cf"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "leidos_transaction",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "statuscode",
              "subscriptionRequest/filterexpression": "(_leidos_claim_value ne null)",
              "subscriptionRequest/runas": 3,
              "subscriptionRequest/name": "89257b6a-e95e-eb11-a812-000d3ad60179"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Switch": {
          "runAfter": {},
          "cases": {
            "Paid_in_Coda": {
              "case": 100000005,
              "actions": {
                "Get_Claim": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "leidos_claims",
                      "recordId": "@triggerOutputs()?['body/_leidos_claim_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Get_Project": {
                  "runAfter": {
                    "Get_Claim": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "leidos_projects",
                      "recordId": "@triggerOutputs()?['body/_leidos_project_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Get_Account": {
                  "runAfter": {
                    "Get_Project": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "accounts",
                      "recordId": "@outputs('Get_Project')?['body/_leidos_parentaccount_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Get_Primary_Contact": {
                  "runAfter": {
                    "Get_Account": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "contacts",
                      "recordId": "@outputs('Get_Account')?['body/_primarycontactid_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Create_Email_Message_to_Primary_Contact": {
                  "runAfter": {
                    "Get_Primary_Contact": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "emails",
                      "item/activitypointer_activity_parties": [
                        {
                          "participationtypemask": 2,
                          "partyid@odata.bind": "/contacts(@{outputs('Get_Primary_Contact')?['body/contactid']})"
                        }
                      ],
                      "item/leidos_copyasportalmessage": true,
                      "item/description": "The Project Claim  for  @{outputs('Get_Project')?['body/leidos_name']}, reference @{outputs('Get_Claim')?['body/leidos_claimreference']}  has been processed and the payment passed to your nominated bank account for payment.\n\nPlease Note: it may take several days for the funds to show in your bank account.",
                      "item/regardingobjectid_leidos_project_email@odata.bind": "/leidos_projects(@{outputs('Get_Project')?['body/leidos_projectid']})",
                      "item/subject": "Your Claim has been paid:  @{outputs('Get_Claim')?['body/leidos_claimreference']}  "
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Perform_a_bound_action": {
                  "runAfter": {
                    "Create_Email_Message_to_Primary_Contact": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "PerformBoundAction",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "emails",
                      "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                      "recordId": "@outputs('Create_Email_Message_to_Primary_Contact')?['body/activityid']",
                      "item/IssueSend": false
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              }
            },
            "Failed_to_log_in_Coda": {
              "case": 100000006,
              "actions": {
                "Update_Claim_to_allow_to_be_submitted": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "leidos_claims",
                      "recordId": "@triggerOutputs()?['body/_leidos_claim_value']",
                      "item/leidos_claimvalidationchecks": false,
                      "item/leidos_dateofposting": "@null",
                      "item/leidos_submitclaimforapproval": false,
                      "item/leidos_SubmittedBy@odata.bind": "@null",
                      "item/leidos_submittedon": "@null"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "List_Payment_Claims": {
                  "runAfter": {
                    "Update_Claim_to_allow_to_be_submitted": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "leidos_paymentclaims",
                      "$select": "leidos_paymentclaimid",
                      "$filter": "(_leidos_parentclaim_value eq @{outputs('Update_Claim_to_allow_to_be_submitted')?['body/leidos_claimid']} and statuscode ne 2)"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Loop_thru_payment_Claims": {
                  "foreach": "@outputs('List_Payment_Claims')?['body/value']",
                  "actions": {
                    "Update_Payment_Claims_to_allow_editing": {
                      "runAfter": {},
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "leidos_paymentclaims",
                          "recordId": "@items('Loop_thru_payment_Claims')?['leidos_paymentclaimid']",
                          "item/statecode": 0,
                          "item/statuscode": 1
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "List_Payment_Claims": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                },
                "Create_Task": {
                  "runAfter": {
                    "Update_Claim_to_allow_to_be_submitted": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "tasks",
                      "item/subject": "Claim @{outputs('Update_Claim_to_allow_to_be_submitted')?['body/leidos_claimreference']}",
                      "item/description": "Claim has failed to submit\nError Code:  @{triggerOutputs()?['body/leidos_codafailure']}",
                      "item/ownerid_task@odata.bind": "/systemusers(@{triggerOutputs()?['body/_ownerid_value']})",
                      "item/prioritycode": 2,
                      "item/regardingobjectid_leidos_claim_task@odata.bind": "/leidos_claims(@{triggerOutputs()?['body/_leidos_claim_value']})"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              }
            }
          },
          "default": {
            "actions": {
              "Terminate": {
                "runAfter": {},
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Cancelled"
                }
              }
            }
          },
          "expression": "@triggerOutputs()?['body/statuscode']",
          "metadata": {
            "operationMetadataId": "2fe17435-d3fc-4b64-80ee-12be1d517fa7"
          },
          "type": "Switch"
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}