HIE_CDS/Workflows/UpdateDateofDecision-4A807FC6-B63F-EB11-A813-000D3A7FEDBE.json
{"properties":{"connectionReferences":{"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_sharedcommondataservice_c4bbb"},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps_2":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnProject"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"date":{"title":"Enter Date of Decision","type":"string","format":"date","x-ms-dynamically-added":true,"description":"Please enter the Date of Decision using the calendar","x-ms-content-hint":"DATE"},"entity":{"type":"object","properties":{"leidos_projectamendmentid":{"title":"Project Amendment","type":"string","format":"guid"},"leidos_projectamendmentapprovalrequestedon":{"title":"Project Amendment Approval Requested On","type":"string","format":"date-time"},"leidos_projectamendmentapprovedon":{"title":"Project Amendment Date Decision Actioned","type":"string","format":"date-time"},"statuscode":{"title":"Status Reason Value","type":"integer","format":"int32"}},"required":["leidos_projectamendmentid","leidos_projectamendmentapprovalrequestedon","leidos_projectamendmentapprovedon"]}},"required":["date","entity"]}}},"required":["rows"]},"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"operationId":"GetOnNewItems_V2","parameters":{"dataset":"default.cds","table":"leidos_projectamendments"}}}},"actions":{"Project_Amendment_Approved":{"actions":{"Condition":{"actions":{"Update_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectamendments","recordId":"@triggerBody()?['entity']?['leidos_projectamendmentid']","item/leidos_dateofdecision":"@triggerBody()['date']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"expression":{"lessOrEquals":["@triggerBody()['date']","@triggerBody()?['entity']?['leidos_projectamendmentapprovedon']"]},"type":"If"}},"runAfter":{},"expression":{"and":[{"equals":["@triggerBody()?['entity']?['statuscode']",445260002]},{"lessOrEquals":["@triggerBody()['date']","@utcNow()"]}]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}