HIE_CDS/Workflows/UpdateDateofDecision-4A807FC6-B63F-EB11-A813-000D3A7FEDBE.json
{"properties":{"connectionReferences":{"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps_2":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"date":{"title":"Trigger date","type":"string","format":"date","x-ms-dynamically-added":true,"description":"Please select a Date of Decision","x-ms-content-hint":"DATE"},"entity":{"type":"object","properties":{"leidos_projectamendmentid":{"title":"Project Amendment","type":"string","format":"guid"}},"required":["leidos_projectamendmentid"]}},"required":["date","entity"]}}},"required":["rows"]},"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"operationId":"GetOnNewItems_V2","parameters":{"dataset":"default.cds","table":"leidos_projectamendments"}}}},"actions":{"Project_Amendment_Approved":{"actions":{"Update_Project_Amendment_Date_with_Trigger_Date":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectamendments","recordId":"@outputs('Get_Project_Amendment_Record')?['body/leidos_projectamendmentid']","item/leidos_dateofdecision":"@triggerBody()['date']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Get_Project_Amendment_Record":["Succeeded"]},"expression":{"and":[{"equals":["@outputs('Get_Project_Amendment_Record')?['body/statuscode']",445260002]},{"lessOrEquals":["@triggerBody()['date']","@utcNow()"]},{"greaterOrEquals":["@triggerBody()['date']","@outputs('Get_Project_Amendment_Record')?['body/leidos_projectamendmentapprovedon']"]}]},"type":"If"},"Get_Project_Amendment_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectamendments","recordId":"@triggerBody()?['entity']?['leidos_projectamendmentid']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}