HIE_CDS_CurrentSprint/Workflows/LadderCategory-Flow-UpdateLadderMax-D7748E98-A972-EB11-A812-00224840EE66.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnLadder"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_Ladder_Category_is_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_laddercategory","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"List_rows":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_ladderquestions","$filter":"(_leidos_category_value eq @{triggerOutputs()?['body/leidos_laddercategoryid']})","$top":1},"authentication":"@parameters('$authentication')"}},"Get_Ladder_Question_ID":{"runAfter":{"List_rows":["Succeeded"]},"type":"Compose","inputs":"@first(outputs('List_rows')?['body/value'])?['leidos_ladderquestionid']"},"Perform_a_bound_action":{"runAfter":{"Get_Ladder_Question_ID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"PerformBoundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_ladderquestions","actionName":"Microsoft.Dynamics.CRM.leidos_LadderMaxScore","recordId":"@outputs('Get_Ladder_Question_ID')"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}