HIE_CDS_C/Workflows/Invitation-Flow-Oncreate-0CE291D7-7B51-EA11-A813-000D3A7F1BBB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnInvitation"},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataserviceforapps_2":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"leidos_ConnPortalMessage"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_Invitation_is_created":{"metadata":{"operationMetadataId":"c25d8678-b872-440b-9c4c-8e4757e8d72e"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"adx_invitation","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Generate_Invitation_Email":{"actions":{"Condition":{"actions":{},"runAfter":{},"else":{"actions":{"CalculatedExpiryDate":{"runAfter":{},"metadata":{"operationMetadataId":"84f87bd8-59c7-4b6f-88ca-36d0aa085de2"},"type":"SetVariable","inputs":{"name":"ExpiryDate","value":"@{addDays(utcNow(), 30)}"}},"Set_Expiry_Date":{"runAfter":{"CalculatedExpiryDate":["Succeeded"]},"metadata":{"operationMetadataId":"e9714466-d89e-4b99-964f-86a016f2d710"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_invitations","recordId":"@triggerOutputs()?['body/adx_invitationid']","item/adx_expirydate":"@variables('ExpiryDate')"},"authentication":"@parameters('$authentication')"}}}},"expression":{"greaterOrEquals":["@variables('ExpiryDate')","@utcNow()"]},"metadata":{"operationMetadataId":"c65c1d8c-9ec3-44ea-8f82-d68b848ae8f4"},"type":"If"},"Get_Client_Portal_Url":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"operationMetadataId":"93c3d757-1439-4e2d-95fa-005aad80cb18"},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"c3e4375a-c7cc-ea11-a812-000d3a7fedbe"},"body":{"text":"ClientPortalURL"}}},"Parse_Base_URL_Json":{"runAfter":{"Get_Client_Portal_Url":["Succeeded"]},"metadata":{"operationMetadataId":"5930d4e5-7827-4ddc-9cca-975e7da60d71"},"type":"ParseJson","inputs":{"content":"@outputs('Get_Client_Portal_Url')?['Body']?['value']","schema":{"type":"object","properties":{"@@odata.type":{"type":"string"},"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"@@odata.editLink":{"type":"string"},"value":{"type":"string"},"environmentvariablevalueid@odata.type":{"type":"string"},"environmentvariablevalueid":{"type":"string"}}}}},"Build_Invitation_URL":{"runAfter":{"Parse_Base_URL_Json":["Succeeded"]},"metadata":{"operationMetadataId":"e5e64e0e-5aac-498f-97d7-18c45194a94f"},"type":"Compose","inputs":"@concat(body('Parse_Base_URL_Json')?['value'], '/register/?returnurl=/&invitation=', triggerOutputs()?['body/adx_invitationcode'])"},"Get_SendAsAdminAccount":{"runAfter":{"Build_Invitation_URL":["Succeeded"]},"metadata":{"operationMetadataId":"fcd40c6c-3da7-4d81-b97e-7b6d619930ed"},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"c3e4375a-c7cc-ea11-a812-000d3a7fedbe"},"body":{"text":"SendAs_AdminAccount"}}},"Parse_SendAsAdminAccount_Json":{"runAfter":{"Get_SendAsAdminAccount":["Succeeded"]},"metadata":{"operationMetadataId":"c7155f20-932a-4099-b22a-cd0b658a3cff"},"type":"ParseJson","inputs":{"content":"@outputs('Get_SendAsAdminAccount')?['Body']?['value']","schema":{"type":"object","properties":{"@@odata.type":{"type":"string"},"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"@@odata.editLink":{"type":"string"},"value":{"type":"string"},"environmentvariablevalueid@odata.type":{"type":"string"},"environmentvariablevalueid":{"type":"string"}}}}},"Create_Invitation_Email":{"runAfter":{"Parse_SendAsAdminAccount_Json":["Succeeded"]},"metadata":{"operationMetadataId":"6d29a0eb-1fca-4a5b-a6a3-8ea61a3b62eb"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","item/activitypointer_activity_parties":[{"participationtypemask":2,"partyid@odata.bind":"/contacts(@{triggerOutputs()?['body/_adx_invitecontact_value']})"}],"item/leidos_copyasportalmessage":false,"item/description":"<p>Hi there,</p>\n<p>HIE is considering providing you with some support.  HIE uses a secure online portal ‘MyHIE’ to help manage applications for support and sharing of information.  In order to create an account, <a href=\"@{outputs('Build_Invitation_URL')}\">please register here</a>.  This invitation is valid for a period of 30 days and will expire on @{formatDateTime(variables('ExpiryDate'),'dd-MMM-yyyy')}. </p>\n<p>After you have signed up, you will be asked to confirm acceptance of terms and conditions, including <a href=\"https://www.hie.co.uk/legal/privacypolicy/\">HIE’s privacy statement.</a></p> \n<p>Should you have any questions please get in touch.</p>\n<p>Many thanks,<br />\nHIE Enterprise Support Team<br />\n<a href=\"enquiries@hient.co.uk\">enquiries@hient.co.uk</a></p>\n\n","item/sender":"/systemusers(@{body('Parse_SendAsAdminAccount_Json')?['value']})","item/regardingobjectid_adx_invitation_email@odata.bind":"/adx_invitations(@{triggerOutputs()?['body/adx_invitationid']})","item/subject":"You have been invited to register on MyHIE Client Portal"},"authentication":"@parameters('$authentication')"}},"Send_Invitation_Email":{"runAfter":{"Create_Invitation_Email":["Succeeded"]},"metadata":{"operationMetadataId":"31794934-948c-4e34-b07b-030efb7ae88d"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"PerformBoundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","actionName":"Microsoft.Dynamics.CRM.SendEmail","recordId":"@outputs('Create_Invitation_Email')?['body/activityid']","item/IssueSend":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"b3e61a06-f70f-4853-8576-0f449cdb1a74"},"type":"Scope"},"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"c5dfb5e2-2ec5-423b-a851-13681032f4fb"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ExpiryDate","type":"string","value":"@triggerOutputs()?['body/adx_expirydate']"}]}},"Generate_Portal_Message":{"actions":{"Create_Portal_Message":{"runAfter":{},"metadata":{"operationMetadataId":"96591cca-7ae1-4943-a31f-8e0da4dedc2b"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_portalmessages","item/subject":"@outputs('Create_Invitation_Email')?['body/subject']","item/leidos_Contact_leidos_PortalMessage@odata.bind":"/contacts(@{triggerOutputs()?['body/_adx_invitecontact_value']})","item/description":"@outputs('Create_Invitation_Email')?['body/description']","item/leidos_copytoedrms":true,"item/regardingobjectid_contact_leidos_portalmessage@odata.bind":"/contacts(@{triggerOutputs()?['body/_adx_invitecontact_value']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Generate_Invitation_Email":["Succeeded"]},"metadata":{"operationMetadataId":"bfb032f3-0034-4294-833a-1121d2148c4d"},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}